<div class="wide home">

  <section id="main-area">

    <h3 style="display: none;">Main Area</h3>
    <div class="container">
      <div class="row">


        <section id="main" class="main col-md-8">
          <h2 style="display: none;">Main</h2>
          <div class="blog-posts hfeed">
            <article class="post single-post">
              <div class="post-header">
                <div class="post-category">
                  <a href="page-category.html">{{playlist.snippet.title}}</a>
                </div>
                <h1 class="post-title" style="margin-top:50px;">Becoming Closer to Hashem: Good Eyes, a Pure Heart!</h1><!-- Post Title -->
                <ul class="post-meta">
                  <li><img class="avatar" width="24" height="24" src="images/author.jpg" alt="Author Avatar Image" />by Rav Dror</li>
                  <li><i class="fa fa-clock-o"></i> November 12, 2014</li>
                  <!-- <li><i class="fa fa-comment-o"></i> 240</li>
                  <li class="right"><i class="fa fa-eye"></i> 42,350 views</li> -->
                  <li class="right"><a href="#print"><i class="fa fa-print"></i> Print This Post</a></li>
                </ul><!-- Post Meta -->
              </div><!-- Post Header -->
              <div class="post-share" style="padding:4px">

                <!-- <span class="counter"><strong>24k</strong>Shares</span> -->
                <!-- AddToAny BEGIN -->
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                  <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                  <a class="a2a_button_facebook"></a>
                  <a class="a2a_button_twitter"></a>
                  <a class="a2a_button_google_plus"></a>
                  <a class="a2a_button_linkedin"></a>
                  <a class="a2a_button_whatsapp"></a>
                  <a class="a2a_button_email"></a>
                  <a class="a2a_button_copy_link"></a>
                </div>
                <script async src="https://static.addtoany.com/menu/page.js"></script>
                <!-- AddToAny END -->
                <!-- <ul>
 -->
                  <script>
                      function fbShare(url, title, descr, image, winWidth, winHeight) {
                          var winTop = (screen.height / 2) - (winHeight / 2);
                          var winLeft = (screen.width / 2) - (winWidth / 2);
                          
                      }
                  </script>
              
                </ul> 
              </div><!-- Post Share -->
              <div class="post-thumb">
                <img src="images/chayei-sarah1.jpg" alt="Post Title Placeholder" />
              </div><!-- Post Image -->
              <div class="post-body">
                <p style="text-align: justify; padding: 0 30px;">In this wonderful parsha, we can see another one of those amazing good midot of Avraham. That on each and every one of our forefathers good points, we need to ask ourselves "when will my actions come to be like that of my ancestors." Immediately after Sarah passed away, Avraham was looking for a very good place to bury his wife out of his appreciation for all what they had accomplished and achieved together.</p>
                <p style="text-align: justify; padding: 0 30px;">We know that's it's written that Avraham, our forefather saw a huge light coming out of maarat Hamachpela (the cave of Machpela). The holy Rashi illuminates our eyes to help us understand Avraham’s intention. He desired to pay in full for that piece of the land in order to bury his wife there.</p>
                <p style="text-align: justify; padding: 0 30px;">In addition, Rashi brings an example that you can see the same good behavior that was in David Ha’Melech when he purchased Har Habayit (the Temple Mount) from Harvena at full price. We learn from this example that a human being with his own common sense and logic has the ability to realize that everything that he has in his life, he received from HaShem as a gift in order to serve him with it. And not to feel attached and dependant on that person, place or thing. That wisdom helps connect us to the faith that we came to this world for 120 years and during that time, each and every one of us needs to go through his or her own unique, and individual path in order to know HaShem Yitbarach through that journey.</p>
                <p style="text-align: justify; padding: 0 30px;">The way you’ll know if you’ve succeeded in your life journey is if you’ve achieved a complete faith in HaShem by coming to the level mentioned in these verses: "knowing him in all of your ways" and "I place Hashem before me always." That you will not forget HaShem for one moment of your life and you’re going to remember him in all of your ways (business, personal life, religious life). The failure to do this, Has-Veshalom (God forbid), is to lose your connection to the creator, to the source of all of your being and instead connecting oneself to those curtains that block the light of HaShem. For example, when you sit now at your table and your computer is resting on it, HaShem wants you to have the ability to sit peacefully in order that you can learn Torah and do something to bring you closer to him.</p>
                <p style="text-align: justify; padding: 0 30px;">In order to accomplish that, HaShem hides himself in that table but the real truth is that it's just HaShem’s way of revealing his will to you. That he wants you to sit and learn Torah at this moment. Rebbe Nachman of Breslev said that a person needs to look into the wisdom of everything and to find HaShem Yitbarach in that thing. That light of HaShem; the wisdom of HaShem is his will. Thus, you need to cancel your will to the will of HaShem. However, a prior condition to that is to first understand “what is HaShem’s will”?</p>
                <!-- <div class="post-ad">
                  <span>Advertisment</span>
                  <a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
                    <img src="images/banner.jpg" alt="Banner Image Placeholder">
                  </a>
                </div> -->
                <p style="text-align: justify; padding: 0 30px;">So, first of all you need to work on separating yourself from the physical aspect of that thing. For example, physical lusts and desires. We need to look for and focus on the spiritual essence and the real purpose of that person or situation.</p>
                <div class="th-caption left-caption">
                  <a href="images/12.jpg">
                    <img width="300" src="images/chayei-sarah2.jpg" alt="Image Captions" />
                    <div class="caption">Chayei Sarah</div>
                  </a>
                </div>
                <p style="text-align: justify; padding: 0 30px;">When you come to that place that your will is connected to the will of HaShem you don't feel any sorrow even to give up on the biggest and most important things in life. Or even to spend huge amounts of money on mitzvot because as the verse says "closeness to HaShem is good for me". That feeling of being close to HaShem and cancelling my will to the will of HaShem, bonding myself to HaShem and receiving that feedback from HaShem confirms that closeness to him can fulfill you in a way that nothing else from this world can.</p>
                <p style="text-align: justify; padding: 0 30px;">On the other hand, we can see Ephron (the person that Avraham purchased the cave from) in the beginning of the Parashah. He was showing off, and bragging to Avraham. He said he was willing to give away the cave for free because he didn’t care about the money. But when the time came to purchase the land, he requested 400 Sheckel Silver (which was a lot of money in those days). This is a good example of fake humility; pretending to be a generous, kind person when someone really is not.</p>
                <p style="text-align: justify; padding: 0 30px;">In conclusion, we wish that we're all going to have that merit to serve HaShem with good eyes, a pure heart and to use the powers that HaShem gives us to serve him properly.</p>
                <p style="text-align: justify; padding: 0 30px;">Thus, we learn the importance of following in the ways of righteous people because it brings us to a life of truth and fulfillment.</p>
                <div class="post-ad">
                  <!-- <span>Advertisment</span>
                  <a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
                    <img src="images/banner.jpg" alt="Banner Image Placeholder">
                  </a> -->
                </div>
              </div><!-- Post Body -->
              <div class="post-footer">
                <div class="post-picked" id="post-picked">
                  <div class="picked-title">
                    <h2>You might also like</h2>
                    <span class="close"><i class="fa fa-close"></i></span>
                  </div>
                  <div class="picked-inner">
                    <article class="post">
                      <div class="post-thumb">
                        <img src="images/2.jpg"/>
                      </div><!-- Post Image -->
                      <div class="post-category">
                        <a href="page-category.html">Beauty</a>
                      </div>
                      <h5 class="post-title"><a href="post-single.html">The Miracle of the Torah.</a></h5><!-- Post Title -->
                      <ul class="post-meta">
                        <li><i class="fa fa-clock-o"></i> October 16, 2017</li>
                        <li><i class="fa fa-comment-o"></i> 240</li>
                      </ul><!-- Post Meta -->
                    </article>
                  </div>
                </div>
                <div class="post-tags">
                  <span>Tags</span>
                  <a href="page-tag.html">Torah Study</a>
                  <a href="page-tag.html">Parasha of the Week</a>
                  <a href="page-tag.html">Chayei Sarah</a>
                </div><!-- Post Tags -->
                <div class="post-share" style="padding:4px">

                <!-- <span class="counter"><strong>24k</strong>Shares</span> -->
                <!-- AddToAny BEGIN -->
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                  <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                  <a class="a2a_button_facebook"></a>
                  <a class="a2a_button_twitter"></a>
                  <a class="a2a_button_google_plus"></a>
                  <a class="a2a_button_linkedin"></a>
                  <a class="a2a_button_whatsapp"></a>
                  <a class="a2a_button_email"></a>
                  <a class="a2a_button_copy_link"></a>
                </div>
                <script async src="https://static.addtoany.com/menu/page.js"></script>
                <!-- AddToAny END -->
                <!-- <ul>
 -->
                  <script>
                      function fbShare(url, title, descr, image, winWidth, winHeight) {
                          var winTop = (screen.height / 2) - (winHeight / 2);
                          var winLeft = (screen.width / 2) - (winWidth / 2);
                          
                      }
                  </script>
              
                </ul> 
              </div><!-- Post Share -->
                <!-- <div class="post-navigation">
                  <ul>
                    <li class="prev">
                      <span>Prev Article</span>
                      <a href="post-single.html">The Miracle of the Torah</a>
                    </li>
                    <li class="next">
                      <span>Next Article</span>
                      <a href="post-single.html">The Miracle of the Torah</a>
                    </li>
                  </ul>
                </div> --><!-- Post Navigation -->
                 <div class="comments" id="comments">
                  <div class="title">
                    <h2>Comments</h2>
                  </div><!-- Blog title -->
                  <div class="blog-wrapper">
                    <div id="disqus_thread"></div>
                    <script>

                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    /*
                    var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://emunah-com.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
                  </div><!-- Blog Wrapper -->
                </div><!-- Blog Layout -->
                <div class="post-related">
                  <div class="title">
                    <h2>Related Posts</h2>
                  </div><!-- Blog title -->
                  <div class="content row">
                    <div class="col col-sm-4">
                      <article class="post">
                        <div class="post-thumb">
                          <a href="post-single.html">
                            <img src="images/7.jpg"/>
                          </a>
                        </div><!-- Post Image -->
                        <div class="post-content">
                          <h6 class="post-title">
                            <a href="post-single.html">The Miracle of the Torah</a>
                          </h6><!-- Post Title -->
                          <ul class="post-meta">
                            <li><i class="fa fa-clock-o"></i> October 30, 2016</li>
                          </ul><!-- Post Meta -->
                        </div><!-- Post Content -->
                      </article><!-- Post -->
                    </div><!-- Column -->
                    <div class="col col-sm-4">
                      <article class="post">
                        <div class="post-thumb">
                          <a href="post-single.html">
                            <img src="images/8.jpg"/>
                          </a>
                        </div><!-- Post Image -->
                        <div class="post-content">
                          <h6 class="post-title">
                            <a href="post-single.html">The Miracle of the Torah</a>
                          </h6><!-- Post Title -->
                          <ul class="post-meta">
                            <li><i class="fa fa-clock-o"></i> October 30, 2016</li>
                          </ul><!-- Post Meta -->
                        </div><!-- Post Content -->
                      </article><!-- Post -->
                    </div><!-- Column -->
                    <div class="col col-sm-4">
                      <article class="post">
                        <div class="post-thumb">
                          <a href="post-single.html">
                            <img src="images/11.jpg"/>
                          </a>
                        </div><!-- Post Image -->
                        <div class="post-content">
                          <h6 class="post-title">
                            <a href="post-single.html">The Miracle of the Torah</a>
                          </h6><!-- Post Title -->
                          <ul class="post-meta">
                            <li><i class="fa fa-clock-o"></i> October 30, 2016</li>
                          </ul><!-- Post Meta -->
                        </div><!-- Post Content -->
                      </article><!-- Post -->
                    </div><!-- Column -->
                  </div><!-- Content -->
                </div><!-- Related Posts -->
                <div class="post-author">
                  <div class="author-avatar">
                    <img src="images/author.jpg" alt="Author Avatar Image" />
                  </div>
                  <div class="author-content">
                    <div class="name">
                      <span>Written By</span>
                      <a class="author" href="page-author.html">AUTHOR</a>
                    </div>
                    <p>Rabbi Dror Moshe Cassouto spreads a message of Happiness, Simplicity, Faith, and understanding that it is okay to fail and fall. We are human beings – it’s our nature to get back up and start over again.</p>
                    <ul class="author-social">
                      <li><a href="#" title="My Website"><i class="fa fa-globe"></i></a></li>
                      <li><a href="#" title="Follow me on twitter"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#" title="Follow me on instagram"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="post-recommended">
                  <div class="title">
                    <h2>Recommended Articles</h2>
                  </div><!-- Blog title -->
                  <div class="content row">
                    <div class="col col-sm-6">
                      <article class="post">
                        <div class="post-thumb">
                          <a href="post-single.html">
                            <img src="images/6.jpg"/>
                          </a>
                        </div><!-- Post Image -->
                        <div class="post-content">
                          <h6 class="post-title">
                            <a href="post-single.html">The Miracle of the Torah</a>
                          </h6><!-- Post Title -->
                          <ul class="post-meta">
                            <li><i class="fa fa-clock-o"></i> October 30, 2016</li>
                          </ul><!-- Post Meta -->
                        </div><!-- Post Content -->
                      </article><!-- Post -->
                    </div><!-- Column -->
                    <div class="col col-sm-6">
                      <article class="post">
                        <div class="post-thumb">
                          <a href="post-single.html">
                            <img src="images/9.jpg"/>
                          </a>
                        </div><!-- Post Image -->
                        <div class="post-content">
                          <h6 class="post-title">
                            <a href="post-single.html">The Miracle of the Torah</a>
                          </h6><!-- Post Title -->
                          <ul class="post-meta">
                            <li><i class="fa fa-clock-o"></i> October 30, 2016</li>
                          </ul><!-- Post Meta -->
                        </div><!-- Post Content -->
                      </article><!-- Post -->
                    </div><!-- Column -->
                    <div class="col col-sm-6">
                      <article class="post">
                        <div class="post-thumb">
                          <a href="post-single.html">
                            <img src="images/12.jpg">
                          </a>
                        </div><!-- Post Image -->
                        <div class="post-content">
                          <h6 class="post-title">
                            <a href="post-single.html">The Miracle of the Torah</a>
                          </h6><!-- Post Title -->
                          <ul class="post-meta">
                            <li><i class="fa fa-clock-o"></i> October 30, 2016</li>
                          </ul><!-- Post Meta -->
                        </div><!-- Post Content -->
                      </article><!-- Post -->
                    </div><!-- Column -->
                    <div class="col col-sm-6">
                      <article class="post">
                        <div class="post-thumb">
                          <a href="post-single.html">
                            <img src="images/10.jpg"/>
                          </a>
                        </div><!-- Post Image -->
                        <div class="post-content">
                          <h6 class="post-title">
                            <a href="post-single.html">The Miracle of the Torah</a>
                          </h6><!-- Post Title -->
                          <ul class="post-meta">
                            <li><i class="fa fa-clock-o"></i> October 30, 2016</li>
                          </ul><!-- Post Meta -->
                        </div><!-- Post Content -->
                      </article><!-- Post -->
                    </div><!-- Column -->
                  </div><!-- Content -->
                </div><!-- Recommended Posts -->
                <div class="post-footer">
                
              </div><!-- Post Footer -->
            </article><!-- Post -->
          </div><!-- Blog posts -->
        </section><!-- Main -->
        <aside-directive></aside-directive>
      </div><!-- Row -->
    </div><!-- Container -->
  </section><!-- Main Area -->
</div>
