<div class="wide page single-page">
	<section class="search-modal">
		<h3 style="display: none;">Search Modal</h3>
		<div class="container">
			<form action="page-search.html" method="get">
				<input type="text" name="q" value="Search.." />
				<span class="search-close"></span>
			</form>
		</div>
	</section>
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<h2 style="display: none;">Main</h2>
					<div class="blog-posts hfeed">
						<article class="post single-post">
							
							<div class="post-body" style="font-size:16px">
								<h2 style="font-size:45px;">Win A Free Trip To Israel With Rav Dror</h2>
									<br>

								<div class="post-thumb">
					              <img src="images/free-israel.jpeg" alt="Post Title Placeholder" />
					            </div><!-- Post Image -->
					            <h3>Kol HaKavod On Purchasing A New Book</h3>
								<p>If you have recently purchased one of the newly published books in English, you are eligible to enter our raffle to win a free trip to Israel with Rav Dror.</p>
								<p>If you have not yet purchased a book, it is not too late. Purchase one or more of his new books and come back to this page for a chance to win.</p>

								<p>Fill out the form below completely for your chance to win:</p>
								<br>
								
								<form class="contact-form" action="https://formspree.io/mbgngplx" method="POST">
									<input type="text" name="_gotcha" style="display: none"> 
									<div class="input-group">
										<input type="hidden" name="_cc" value="chaim@emunah.com" />
										<label for="name">Your Full Name<i>(Required)</i> :</label>
										<input type="text" name="name" value="" placeholder="Full Name" id="name" required/>
									</div>
									<div class="input-group">
										<label for="address">Your Address<i>(Required)</i> :</label>
										<input type="text" name="address" value="" placeholder="123 Emunah St." id="address" required/>
									</div>
									<div class="input-group">
										<label for="city">City, State<i>(Required)</i> :</label>
										<input type="text" name="city" value="" placeholder="Jerusalem, Israel" id="city" required/>
									</div>
									<div class="input-group">
										<label for="zip">Zip Code<i>(Required)</i> :</label>
										<input type="number" name="zip" value="" placeholder="90210" id="zip" required/>
									</div>
									<div class="input-group">
										<label for="dob">DOB<i>(Required)</i> :</label>
										<input type="date" name="dob" value="" placeholder="user@email.com" id="dob" required/>
									</div>
									<div class="input-group">
										<label for="email">Your Email<i>(Required)</i> :</label>
										<input type="email" name="email" value="" placeholder="user@email.com" id="email" required/>
									</div>
									<div class="input-group">
										<label for="phone">Your Phone Number<i>(Required)</i> :</label>
										<input type="tel" name="phone" value="" placeholder="818-123-4567" id="email" required/>
									</div>
									<div class="input-group">
										<label for="time">When was the last time you visited Israel?<i>(Required)</i> :</label>
										<input type="text" name="time" value="" id="time" required />
									</div>
									<div class="input-group">
										<label for="family">Do you have family members in Israel?<i>(Required)</i> :</label>
										<input type="text" name="family" value="" id="family" required />
									</div>
									<div class="input-group">
										<label for="why">Why do you want to visit Israel?<i>(Required)</i> :</label>
										<textarea name="why" required></textarea>
									</div>
									<div class="input-group">
										<label for="how">How did you hear about Rav Dror?<i>(Required)</i> :</label>
										<textarea name="how" required></textarea>
									</div>
									<div class="input-group">
										<label for="thoughts">What are your thoughts about Rav Dror?<i>(Required)</i> :</label>
										<textarea name="thoughts" required></textarea>
										<input type="hidden" name="_subject" value="New submission for a free Israel trip!" />
										<input type="hidden" name="_next" value="/templates/thanks.html" />
									</div>
<!-- 									<div class="input-group">
									    <label>What is 2+2? (Anti-spam) <i>(Required)</i> :</label>
										<input name="human" placeholder="Type the answer here"/>
									</div> -->
									<div class="input-group">
										<input type="submit" value="Send" class="bt btn-success">
									</div>
								</form>
							</div><!-- Post Body -->
						</article><!-- Post -->
					</div><!-- Blog posts -->
				</section><!-- Main -->
				<smallaside-directive></smallaside-directive>
			</div><!-- Row -->
		</div><!-- Container -->
	</section><!-- Main Area -->
</div>
