<div class="wide page single-page">
	<section class="search-modal">
		<h3 style="display: none;">Search Modal</h3>
		<div class="container">
			<form action="page-search.html" method="get">
				<input type="text" name="q" value="Search.." />
				<span class="search-close"></span>
			</form>
		</div>
	</section>
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<h2 style="display: none;">Main</h2>
					<div class="blog-posts hfeed">
						<article class="post single-post">
							<div class="post-body" style="font-size:16px">
								<h2 style="font-size:45px;">Visit Israel With Rav Dror</h2>
									<br>
								<H3>Have you been thinking about visiting Israel?</h3>
									<div class="th-caption right-caption">
					                    <img width="250" src="images/israel-visit.jpeg" alt="Image Captions" />
					                </div>
								<p>Now is your opportunity for the trip of a lifetime as the Emunah Project offers you the opportunity to join Rav Dror and members of the Emunah Team for the “Emunah Project Israel Experience with Rav Dror.</p>

								<p>Join us for 11 days and 10 nights of adventure and learning with Rav Dror in November 2018. </p>

								<p>To learn more about the trip and to register, please visit: </p> 
								<p><a href="http://www.israelmaven.com/minisite/ravdror/">	
								http://www.israelmaven.com/minisite/ravdror/</a></p>
							</div><!-- Post Body -->
						</article><!-- Post -->
					</div><!-- Blog posts -->
				</section><!-- Main -->
				<smallaside-directive></smallaside-directive>
			</div><!-- Row -->
		</div><!-- Container -->
	</section><!-- Main Area -->
</div>
