<div class="wide page single-page">
  <section class="search-modal">
    <h3 style="display: none;">Search Modal</h3>
    <div class="container">
      <form action="page-search.html" method="get">
        <input type="text" name="q" value="Search.." />
        <span class="search-close"></span>
      </form>
    </div>
  </section>
  <section id="main-area">
    <h3 style="display: none;">Main Area</h3>
    <div class="container">
      <div class="row">
        <section id="main" class="main col-md-8">
          <h2 style="display: none;">Main</h2>
          <div class="blog-posts hfeed">
            <article class="post single-post">
              <div class="post-body">
                <h2 style="margin-top:50px;">Donate</h2>
                <p>Join the Emunah.com family today! Your donation helps us spread the light of faith to countless people around the world.</p>
                <script src="https://cdn.donately.com/dntly-core/1.9/core.min.js" data-donately-id="act_5d3ab426b7f4" data-stripe-publishable-key="pk_live_AkLnQkpjcyclbiHstOG9orCV" data-donately-amount="36" data-donately-presets="36,72,100,180,360" data-donately-currency="true" data-donately-payment-options="cc,ach" data-donately-custom-fields='{"fields": [ { "type":"text", "id":"Referrer", "label":"Referrer", "placeholder":"Referred By (Optional)", "after":"email" }, { "type":"text", "id":"Dedication", "label":"Please dedicate my donation in someones memory, honor or merit:", "placeholder":"Dedication", "after":"Employer" } ]}' data-donately-custom-css='{".donately-donation-form .donately-btn":{"background-color":"steelblue"}, ".donately-donation-form .donately-btn:hover":{"background-color":"steelblue"} }' ></script>
              </div><!-- Post Body -->
            </article><!-- Post -->
          </div><!-- Blog posts -->
        </section><!-- Main -->
        <aside-directive></aside-directive>
      </div><!-- Row -->
    </div><!-- Container -->
  </section><!-- Main Area -->
</div>