donate-paypal.html<donate-directive></donate-directive>

<div class="w3-container w3-text-grey" id="jeans"></div>

<donate-nav-directive></donate-nav-directive>

<spinner-directive></spinner-directive>
<!-- <div class="wide page single-page"> -->
<div class="frameshop">
  <section class="search-modal">
    <h3 style="display: none;">Search Modal</h3>
    <div class="container">
      <form action="page-search.html" method="get">
        <input type="text" name="q" value="Search.." />
        <span class="search-close"></span>
      </form>
    </div>
  </section>
  <section id="main-area">
    <h3 style="display: none;">Main Area</h3>
    <div class="container">
      <div class="row">
        <section id="main" class="main col-md-8">
          <h2 style="display: none;">Main</h2>
          <div class="blog-posts hfeed">
            <article class="post single-post">
              <div class="post-body">
                <h2 style="margin-top:50px;">Donate</h2>
                <div class="th-caption right-caption">
                    <img width="250" src="images/rav-dror.jpg" alt="Image Captions" />
                </div>
                <p>YOU can deliver hope and Emunah (Faith) to the world. </p>
                <p>Your generous donations not only support many causes and outreach projects, but also allows us to produce dynamic print, audio, and video content. </p>
                <p>To date we have opened Emunah Centers in New York, Los Angeles, Bogota S.A., and Jerusalem. We also maintain strategic alliances with the Netiv Center in Texas. The Jewish Institute for Global Awareness in New Jersey, and Ezra L’Anousim, with offices in the U.S. and Israel. </p>
                <p>YOUR CONTRIBUTION IS VITAL TO THE SUCCESS OF THE EMUNAH PROJECT</p>
                <p>Please consider dedicating your contribution in honor of a loved one. Giving charity to an organization is a perfect way to honor them, and also to request prayer for success and salvation on your behalf.  By checking the monthly donation box, your support enables the message of Emunah to be spread in new and greater ways.  What a merit!</p>
                <p><strong>“The Redemption primarily depends on Emunah (faith)”  -Lekutai Moharan 7:1</strong></p>
                  <hr>
                  <!-- Tab content -->
                  <div id="Transfer">
                    <p>Please write a check payable to Emunah Project and send it to this address:</p>
                    <br>
                    <p>Emunah Project, Inc.</p>
                    <p>Citibank account number: 206643694</p>
                    <p>Domestic routing number: 322271724</p>
                    <p>Swift International: citius33</p>
                  </div>

              </div><!-- Post Body -->
            </article><!-- Post -->
          </div><!-- Blog posts -->
        </section><!-- Main -->
        <!-- <smallaside-directive></smallaside-directive> -->
      </div><!-- Row -->
    </div><!-- Container -->
  </section><!-- Main Area -->
</div>