<donate-directive></donate-directive>

<div class="w3-container w3-text-grey" id="jeans"></div>

<donate-nav-directive></donate-nav-directive>

<spinner-directive></spinner-directive>
<!-- <div class="wide page single-page"> -->
<div class="frameshop">
  <section class="search-modal">
    <h3 style="display: none;">Search Modal</h3>
    <div class="container">
      <form action="page-search.html" method="get">
        <input type="text" name="q" value="Search.." />
        <span class="search-close"></span>
      </form>
    </div>
  </section>
  <section id="main-area">
    <h3 style="display: none;">Main Area</h3>
    <div class="container">
      <div class="row">
        <section id="main" class="main col-md-8">
          <h2 style="display: none;">Main</h2>
          <div class="blog-posts hfeed">
            <article class="post single-post">
              <div class="post-body">
                <h2 style="margin-top:50px;">Donate</h2>
                <div class="th-caption right-caption">
                    <img width="250" src="images/rav-dror.jpg" alt="Image Captions" />
                </div>
                <p>Join the Emunah.com family today! Your donation helps us spread the light of faith to countless people around the world.</p>
                  <hr>
                  <!-- Tab content -->
                    <!-- <div id="Card" class="tabcontent"> -->
                      <form  action="https://formspree.io/myernjgm" method="POST"> 
                     <!--  <form  action="https://formspree.io/mbreslow56@gmail.com" method="POST">  -->
                        <input type="text" name="_gotcha" style="display: none"> 
                        <div class="input-group" id="donate-form">
                          <input type="hidden" name="_cc" value="chaim@emunah.com, donate@emunah.com" />
                          <input type="hidden" name="_next" value="/templates/thanks.html" />
                          Amount:
                          <div class="form-inline required" name="amount1">
                              <div class="form-group has-feedback">
                                  <label class="input-group">
                                      <span class="input-group-addon">
                                          <input type="radio" name="amt" value="$36"/>
                                      </span>
                                      <div class="form-control form-control-static">
                                          $36
                                      </div>
                                      <span class="glyphicon form-control-feedback "></span>
                                  </label>
                              </div>
                              <div class="form-group has-feedback ">
                                  <label class="input-group">
                                      <span class="input-group-addon">
                                          <input type="radio" name="amt" value="$72" />
                                      </span>
                                      <div class="form-control form-control-static">
                                          $72
                                      </div>
                                      <span class="glyphicon form-control-feedback "></span>
                                  </label>
                              </div>
                              <div class="form-group has-feedback ">
                                  <label class="input-group">
                                      <span class="input-group-addon">
                                          <input type="radio" name="amt" value="$100" />
                                      </span>
                                      <div class="form-control form-control-static">
                                          $100
                                      </div>
                                      <span class="glyphicon form-control-feedback "></span>
                                  </label>
                              </div>
                              <div class="form-group has-feedback ">
                                  <label class="input-group">
                                      <span class="input-group-addon">
                                          <input type="radio" name="amt" value="$180" />
                                      </span>
                                      <div class="form-control form-control-static">
                                          $180
                                      </div>
                                      <span class="glyphicon form-control-feedback "></span>
                                  </label>
                              </div>
                              <div class="form-group has-feedback ">
                                  <label class="input-group">
                                      <span class="input-group-addon">
                                          <input type="radio" name="amt" value="$360" />
                                      </span>
                                      <div class="form-control form-control-static">
                                          $360
                                      </div>
                                      <span class="glyphicon form-control-feedback "></span>
                                  </label>
                              </div>
                              <div class="form-group has-feedback ">
                                  <label class="input-group">
                                      <span class="input-group-addon">
                                          <input type="radio" name="amt" value="$1000" />
                                      </span>
                                      <div class="form-control form-control-static">
                                          $1000
                                      </div>
                                      <span class="glyphicon form-control-feedback "></span>
                                  </label>
                              </div>
                              <div class="form-group has-feedback ">
                                  <label class="input-group">
                                      <span class="input-group-addon">
                                          <input type="radio" name="amt" value="other" checked/>
                                      </span>
                                      <input type="text" placeholder="Other" class="form-control" name="other">
                                      <span class="glyphicon form-control-feedback "></span>
                                  </label>
                              </div>
                          </div>
                          <!-- <select name="amount">
                            <option value="other"></option>
                            <option value="$36.00">$36.00</option>
                            <option value="$72">$72.00</option>
                            <option value="$100.00">$100.00</option>
                            <option value="$180.00">$180.00</option>
                            <option value="$360.00">$360.00</option>
                            <option value="$1000.00">$1000.00</option>
                            <option value="other_amt">Other</option>
                          </select>
                          <br>
                          <input id="input-group-small" type="other" name="other" placeholder="Other Amount"> -->
        <!--                       <label for="$36"><input type="radio" id="$36" name="donation">One Day - $36 </label>
                              <label for="$360"><input type="radio" id="$360" name="donation">40 Days - $360 </label>
                              <label for="$580"><input type="radio" id="$580" name="donation">40 days Ma´arat HaMachpela - $580 </label> -->
                              <br><br>
                          Duration:
                          <div class="form-inline required">
                            <div class="form-group has-feedback">
                                <label class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" name="duration" value="one time" checked/>
                                    </span>
                                    <div class="form-control form-control-static">
                                        One Time
                                    </div>
                                    <span class="glyphicon form-control-feedback "></span>
                                </label>
                            </div>
                            <div class="form-group has-feedback ">
                                <label class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" name="duration" value="monthly" />
                                    </span>
                                    <div class="form-control form-control-static">
                                        Monthly
                                    </div>
                                    <span class="glyphicon form-control-feedback "></span>
                                </label>
                            </div>
                        </div>
                          <!-- <select name="duration">
                            <option value="one time">One Time</option>
                            <option value="monthly">Monthly</option>
                          </select> -->
                          <br><br>
                          <div class="form-group">Full Name <i>(Required)</i>:
                            <input class="form-control" style="margin-bottom: 5px"  type="name" name="name" placeholder="Rav Dror" required>
                          </div>
                          <br>
                          <div class="form-group">You Email <i>(Required)</i>:
                            <input class="form-control" style="margin-bottom: 5px"  type="email" name="email" placeholder="me@email.com" required>
                          </div>
                          <div class="form-group">You Phone <i>(Required)</i>:
                            <input class="form-control" style="margin-bottom: 5px"  type="tel" name="phone" placeholder="123-456-7890" required>
                          </div>
                          <div class="form-group">Referrer <i>(Optional)</i>:
                            <input class="form-control" style="margin-bottom: 5px"  type="name" name="referrer">
                          </div>
                          <div class="form-group" >Please dedicate my service in someone's memory, honor or merit:
                            <textarea class="form-control" style="margin-bottom: 10px" name="message" placeholder="Dedication (Optional)"></textarea>
                          </div>
                          <div class="form-thumb">
                            <img style="margin: 10px" width="100%" src="images/banner.png" alt="Image Captions" />
                          </div>
                          <!-- CREDIT CARD FORM STARTS HERE -->
                          <div class="panel panel-default credit-card-box">
                              <div class="panel-heading display-table" >
                                  <div class="row display-tr" >
                                      <h3 class="panel-title display-td" >Payment Details</h3>
                                      <div class="display-td" >                            
                                          <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                      </div>
                                  </div>                    
                              </div>
                              <div class="panel-body" id="payment-form" method="POST">
                                  
                                      <div class="row">
                                          <div class="col-xs-12">
                                              <div class="form-group">
                                                  <label for="cardNumber">CARD NUMBER</label>
                                                  <div class="input-group">
                                                      <input 
                                                          type="tel"
                                                          class="form-control"
                                                          name="cardNumber"
                                                          placeholder="Valid Card Number"
                                                          autocomplete="cc-number"
                                                          required autofocus 
                                                      />
                                                      <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                  </div>
                                              </div>                            
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-xs-7 col-md-7">
                                              <div class="form-group">
                                                  <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                                  <input 
                                                      type="tel" 
                                                      class="form-control" 
                                                      name="cardExpiry"
                                                      placeholder="MM / YY"
                                                      autocomplete="cc-exp"
                                                      required 
                                                  />
                                              </div>
                                          </div>
                                          <div class="col-xs-5 col-md-5 pull-right">
                                              <div class="form-group">
                                                  <label for="cardCVC">CV CODE</label>
                                                  <input 
                                                      type="tel" 
                                                      class="form-control"
                                                      name="cardCVC"
                                                      placeholder="CVC"
                                                      autocomplete="cc-csc"
                                                      required
                                                  />
                                              </div>
                                          </div>
                                      </div>
                                      <br>
                                      <div class="row">
                                          <div class="col-xs-12">
                                              <button class="subscribe btn btn-success btn-lg btn-block" style="background-color:   steelblue" type="submit" value="Send">Donate</button>
                                          </div>
                                      </div>
                                      <div class="row" style="text-align:   center">
                                          <div class="col-xs-12">
                                              <p>Please click submit only once.</p>
                                              <p><i class="fa fa-lock" aria-hidden="true"></i>This page uses 128 bit SSL encryption to keep your data secure.</p>
                                          </div>
                                      </div>
                                 
                              </div>
                          </div>            
                          <!-- CREDIT CARD FORM ENDS HERE -->
                        </div> 
                    </form>

              </div><!-- Post Body -->
            </article><!-- Post -->
          </div><!-- Blog posts -->
        </section><!-- Main -->
        <!-- <smallaside-directive></smallaside-directive> -->
      </div><!-- Row -->
    </div><!-- Container -->
  </section><!-- Main Area -->
</div>