donate-paypal.html<donate-directive></donate-directive>

<div class="w3-container w3-text-grey" id="jeans"></div>

<donate-nav-directive></donate-nav-directive>

<spinner-directive></spinner-directive>
<!-- <div class="wide page single-page"> -->
<div class="frameshop">
  <section class="search-modal">
    <h3 style="display: none;">Search Modal</h3>
    <div class="container">
      <form action="page-search.html" method="get">
        <input type="text" name="q" value="Search.." />
        <span class="search-close"></span>
      </form>
    </div>
  </section>
  <section id="main-area">
    <h3 style="display: none;">Main Area</h3>
    <div class="container">
      <div class="row">
        <section id="main" class="main col-md-8">
          <h2 style="display: none;">Main</h2>
          <div class="blog-posts hfeed">
            <article class="post single-post">
              <div class="post-body">
                <h2 style="margin-top:50px;">Donate</h2>
                <div class="th-caption right-caption">
                    <img width="250" src="images/rav-dror.jpg" alt="Image Captions" />
                </div>
                <p>Join the Emunah.com family today! Your donation helps us spread the light of faith to countless people around the world.</p>
                  <hr>
                  <!-- Tab content -->
                    

                  <div id="Phone">
                    <p>Provide your credit card information over the phone, 24 hours a day, 6 days a week:</p>
                    <br>
                    <ul>
                      <li>Worldwide, Toll free: (+1) 877-778-9290</li>
                      <li>Worldwide, Cell Phone: (+1) 213-316-9730</li>
                      <li>Email: <a href="mailto:info@emunah.com">info@emunah.com</a></li>
                    </ul>
                  </div>

              </div><!-- Post Body -->
            </article><!-- Post -->
          </div><!-- Blog posts -->
        </section><!-- Main -->
        <!-- <smallaside-directive></smallaside-directive> -->
      </div><!-- Row -->
    </div><!-- Container -->
  </section><!-- Main Area -->
</div>