			<header class="header" id="layout1" style="display:block">
				<div class="topbar">
					<div class="container">
						<nav class="topmenu">
							<ul>
								<li>25 Sivan 5777 - 19 June 2017</li>
								<li>Parasha Korach</li>
								<li><a href="page-about.html">Login</a></li>
								<li><a href="page-contact.html">Suscribe</a></li>
								<li><a href="page-contact.html">WhatsApp Group</a></li>
								<li><a href="page-contact.html">Donate</a></li>
								<li><a href="page-contact.html">Store</a></li>

							</ul>
						</nav><!-- Top Menu -->
						<nav class="social-links">
							<ul>
								<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="google"><i class="fa fa-google"></i></a></li>

						<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
						<li><a href="#" class="soundcloud"><i class="fa fa-soundcloud"></i></a></li>

							</ul>
						</nav><!-- Social Links -->
					</div><!-- Container -->
				</div><!-- Top Bar -->
				<div class="header-content">
					<div class="container">
						<div class="logo-container">
							<div class="logo">
								<a href="index.html">
									<img src="images/emunahlogo.png" alt="Logo Image Placeholder" />
								</a>
							</div><!-- Logo -->
						</div><!-- Logo Container -->
						<!-- <div class="ad-container">
							<div class="advertisment">
								<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam
								">
									<img src="images/banner.jpg" alt="Banner Image Placeholder" />
								</a>
							</div><!Advertisment -->
						</div> --><!-- Ad Container -->
					</div><!-- Container -->
				</div><!-- Header Content -->
				<div class="mainmenu">
					<div class="container">
						<nav class="menu">
							<ul>
								<li><a href="index.html">Home</a>
									<!-- <ul>
										<li><a href="index.html">U.S.A Campaign</a></li>
										<li><a href="home-page2.html">Lectures</a></li>
										<li><a href="home-page3.html">Articles</a></li>
										<li><a href="home-page4.html">About</a></li>
										<li><a href="home-page4.html">Contact</a></li>
										<li><a href="home-page4.html">FAQ's</a></li>
										<li><a href="home-page4.html">Emunahversity</a></li>
										<li><a href="home-page4.html"><span class="glyphicons glyphicons-user"></span></a></li>
									</ul> -->
								</li>
								<li><a href="#">U.S.A Campaign</a>
									<!-- <ul>
										<li><a href="#">Featured Posts</a>
											<ul>
												<li><a href="featured-style1.html">Featured Full</a></li>
												<li><a href="featured-style2.html">Featured 2 Grid</a></li>
												<li><a href="featured-style3.html">Featured 3 Grid</a></li>
												<li><a href="featured-style4.html">Featured 4 Grid</a></li>
											</ul> -->
										<!-- </li>
										<li><a href="#">Post Layouts</a>
											<ul>
												<li><a href="left-sidebar.html">Left Sidebar</a></li>
												<li><a href="right-sidebar.html">Right Sidebar</a></li>
												<li><a href="no-sidebar.html">No Sidebar</a></li>
											</ul>
										</li>
										<li><a href="#">Page Templates</a>
											<ul>
												<li><a href="page-author.html">Author</a></li>
												<li><a href="page-category.html">Category</a></li>
												<li><a href="page-tag.html">Tag</a></li>
												<li><a href="page-archive.html">Archive</a></li>
												<li><a href="page-search.html">Search</a></li>
												<li><a href="page-error.html">Error Page</a></li>
											</ul>
										</li>
										<li><a href="page-typography.html">Typography</a></li>
										<li><a href="page-shortcodes.html">Shortcodes</a></li>
										<li><a href="./documentation/index.html">Documentations</a></li>
									</ul> -->
								</li>
								<li><a href="#">Articles</a>
									<div class="megamenu">
										<div class="item-content">
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/1.jpg" alt="Post Title Placeholder" />
														</a>

													</div>
													<div class="post-content">
														<div class="post-category">
															<a href="page-category.html">Parasha of the week</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Korach</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/2.jpg" alt="Post Title Placeholder" />
														</a>

													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Parasha of the week</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Houkat</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/3.jpg" alt="Post Title Placeholder" />
														</a>

													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Parasha of the week</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Balak</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/4.jpg" alt="Post Title Placeholder" />
														</a>

													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Parasha of the week</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Pin'has</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/5.jpg" alt="Post Title Placeholder" />
														</a>

													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">General</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Purim: A Lesson In Emunat Chachamim</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
										</div>
									</div>
								</li>
								<li><a href="page-category.html">Lectures</a>
									<div class="megamenu">
										<div class="item-content">
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/11.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-play"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Jewish Holidays</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">The High Holidays</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/12.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
														<i class="fa fa-play"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Torah Study</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Toray Study </a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/13.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
														<i class="fa fa-play"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Halacha</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">The Sulkhan Arukh</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/14.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-play"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Interpersonal Relationships</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Parenting</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/4.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-play"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Prayer</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Concept of prayer</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
										</div>
									</div>
								</li>
								<li><a href="page-category.html">Emunahversity</a>
									<div class="megamenu">
										<div class="item-content">
											<div class="item">
												<!-- <div class="post"> -->
													<!-- <div class="post-thumb">
														<a href="post-single.html">
															<img src="images/8.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-play"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html"> Halacha</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Seven Features Of  Halacha That Make Everyone Love It</a>
														</h6>
													</div>
												</div> --><!-- Post -->
											<!-- </div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/9.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-play"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html"> Halacha</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Life Style Has The Answer To Everything</a>
														</h6>
													</div>
												</div> --><!-- Post -->
											<!-- </div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/6.jpg" alt="Post Title Placeholder" />
														</a>

													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html"> Halacha</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Life Style Has The Answer To Everything</a>
														</h6>
													</div>
												</div> --><!-- Post -->
											<!-- </div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/7.jpg" alt="Post Title Placeholder" />
														</a>

													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Womens</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">How To Win Buyers And Influence Sales with travel</a>
														</h6>
													</div>
												</div> --><!-- Post -->
											<!-- </div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/10.jpg" alt="Post Title Placeholder" />
														</a>

													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Girls</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">The Ultimate Cheat Sheet On Blogging and The History Of DIY</a>
														</h6>
													</div>
												</div> --><!-- Post -->
											</div>
										</div>
									</div>
								</li>
								<li><a href="page-category.html">About</a>
									<div class="megamenu">
										<div class="item-content">
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/4.jpg" alt="Post Title Placeholder" />
														</a>

													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">FAQ's</a>
														</div>
														<!-- <h6 class="post-title">
															<a href="post-single.html">FAQ's</a>
														</h6> -->
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/5.jpg" alt="Post Title Placeholder" />
														</a>

													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">About Emunah.com</a>
														</div>
														<!-- <h6 class="post-title">
															<a href="post-single.html">Emunah.com</a>
														</h6> -->
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/author.jpg" alt="Post Title Placeholder" />
														</a>

													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">About Rav Dror</a>
														</div>
														<h6 class="post-title">
															<!-- <a href="post-single.html">Rav Dror</a> -->
														</h6>
													</div>
												</div><!-- Post -->
											<!-- <!-- </div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/17.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Racing</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">14 Common Misconceptions About Racing</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/18.jpg" alt="Post Title Placeholder" />
														</a>

													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Jewish Facts</a>
														</div>
														<!-- <h6 class="post-title">
															<a href="post-single.html">Jewish Facts</a>
														</h6> -->
													</div>
												</div>
												<!-- Post -->
											</div>
										</div>
									</div>
								</li>
								<li><a href="page-category.html">Contact</a></li>
								<li><a href="page-category.html"><i class="fa fa-user 2x"></i> Members</a></li>
							</ul>
						</nav><!-- Menu -->
						<span class="menu-tigger js-slideout-toggle">
							<i class="fa fa-bars"></i> Menu
						</span><!-- Menu Tigger -->
						<span class="search-tigger">
							<i class="fa fa-search"></i>
						</span><!-- Search Tigger -->
					</div><!-- Container -->
				</div><!-- Main Menu -->
			</header><!-- Header -->
			<header class="header" id="layout2" style="display:none;">
				<div class="topbar">
					<div class="container">
						<nav class="topmenu">
							<ul>
								<li><a href="page-about.html">About Us</a></li>
								<li><a href="page-contact.html">Contact Us</a></li>

							</ul>
						</nav><!-- Top Menu -->
						<nav class="social-links">
							<ul>
								<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
								<li><a href="#" class="soundcloud"><i class="fa fa-soundcloud"></i></a></li>

							</ul>
						</nav><!-- Social Links -->
					</div><!-- Container -->
				</div><!-- Top Bar -->
				<div class="mainmenu">
					<div class="container">
						<div class="logo-container">
							<div class="logo">
								<a href="index.html">
									<img src="images/emunahlogo.png" alt="Logo Image Placeholder" />
								</a>
							</div><!-- Logo -->
						</div><!-- Logo Container -->
						<nav class="menu">
							<ul>
								<li><a href="index.html">Home</a>
									<ul>
										<li><a href="index.html">Homepage 1</a></li>
										<li><a href="home-page2.html">Homepage 2</a></li>
										<li><a href="home-page3.html">Homepage 3</a></li>
										<li><a href="home-page4.html">Homepage 4</a></li>
									</ul>
								</li>
								<li><a href="#">Features</a>
									<ul>
										<li><a href="#">Featured Posts</a>
											<ul>
												<li><a href="featured-style1.html">Featured Full</a></li>
												<li><a href="featured-style2.html">Featured 2 Grid</a></li>
												<li><a href="featured-style3.html">Featured 3 Grid</a></li>
												<li><a href="featured-style4.html">Featured 4 Grid</a></li>
											</ul>
										</li>
										<li><a href="#">Post Layouts</a>
											<ul>
												<li><a href="left-sidebar.html">Left Sidebar</a></li>
												<li><a href="right-sidebar.html">Right Sidebar</a></li>
												<li><a href="no-sidebar.html">No Sidebar</a></li>
											</ul>
										</li>
										<li><a href="#">Page Templates</a>
											<ul>
												<li><a href="page-author.html">Author</a></li>
												<li><a href="page-category.html">Category</a></li>
												<li><a href="page-tag.html">Tag</a></li>
												<li><a href="page-archive.html">Archive</a></li>
												<li><a href="page-search.html">Search</a></li>
												<li><a href="page-error.html">Error Page</a></li>
											</ul>
										</li>
										<li><a href="page-typography.html">Typography</a></li>
										<li><a href="page-shortcodes.html">Shortcodes</a></li>
										<li><a href="./documentation/index.html">Documentations</a></li>
									</ul>
								</li>
								<li><a href="#">Articles</a>
									<div class="megamenu">
										<div class="item-content">
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/1.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-play"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Travel</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Seven Features Of Travel That Make Everyone Love It</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/2.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Life Style</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Life Style Has The Answer To Everything</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/3.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Music</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Pick A Holiday Dessert Tell You Which Christmas</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/4.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html"> Halacha</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">The High Holidays</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/5.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Prayers</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Here How Samsung Turn In Their Galaxy Note7</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
										</div>
									</div>
								</li>
								<li><a href="page-category.html">Life Style</a>
									<div class="megamenu">
										<div class="item-content">
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/11.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-play"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Life Style</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">The Torah Is The Spice Of Your Life</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/12.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Jewish Holidays</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Jewish Holidays: The High Holidays</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/13.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Life Style</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Life Style Has The Answer To Everything</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/14.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Life Style</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">All The Red Carpet Looks From The 2016 Critics Choice</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/4.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Life Style</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Interesting Facts I Bet You Never Knew About travel</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
										</div>
									</div>
								</li>
								<li><a href="page-category.html"> Halacha</a>
									<div class="megamenu">
										<div class="item-content">
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/8.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-play"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html"> Halacha</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Seven Features Of  Halacha That Make Everyone Love It</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/9.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html"> Halacha</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Life Style Has The Answer To Everything</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/6.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html"> Halacha</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Life Style Has The Answer To Everything</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/7.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Womens</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">How To Win Buyers And Influence Sales with travel</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/10.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Girls</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">The Ultimate Cheat Sheet On Blogging and The History Of DIY</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
										</div>
									</div>
								</li>
								<li><a href="page-category.html">Personal Growth</a>
									<div class="megamenu">
										<div class="item-content">
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/18.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-play"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Personal Growth</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">What Will Personal Growth Be Like In 100 Years?</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/15.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Bisball</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Think You're Cut Out For Doing Bisball?</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/20.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Skyboard</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">The Skyboard Has The Answer To Everything</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/17.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Racing</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">14 Common Misconceptions About Racing</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/19.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Musculation</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Musculation Has The Answer To Everything</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
										</div>
									</div>
								</li>
								<li><a href="page-category.html">Travel</a></li>
								<li><a href="page-category.html">Music</a></li>
							</ul>
						</nav><!-- Menu -->
						<span class="menu-tigger">
							<i class="fa fa-bars"></i> Menu
						</span><!-- Menu Tigger -->
						<span class="search-tigger">
							<i class="fa fa-search"></i>
						</span><!-- Search Tigger -->
					</div><!-- Container -->
				</div><!-- Main Menu -->
				<div class="header-content">
					<div class="container">
						<div class="ad-container">
							<div class="advertisment">
								<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
									<img src="images/banner.jpg" alt="Banner Image Placeholder" />
								</a>
							</div><!-- Advertisment -->
						</div><!-- Ad Container -->
					</div><!-- Container -->
				</div><!-- Header Content -->
			</header><!-- Header -->
			<header class="header" id="layout3" style="display:none;">
				<div class="topbar">
					<div class="container">
						<nav class="topmenu">
							<ul>
								<li><a href="page-about.html">About Us</a></li>
								<li><a href="page-contact.html">Contact Us</a></li>

							</ul>
						</nav><!-- Top Menu -->
						<nav class="social-links">
							<ul>
								<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
						<li><a href="#" class="soundcloud"><i class="fa fa-soundcloud"></i></a></li>
							</ul>
						</nav><!-- Social Links -->
					</div><!-- Container -->
				</div><!-- Top Bar -->
				<div class="header-content">
					<div class="container">
						<div class="logo-container">
							<div class="logo">
								<a href="index.html">
									<img src="images/emunahlogo.png" alt="Logo Image Placeholder" />
								</a>
							</div><!-- Logo -->
						</div><!-- Logo Container -->
					</div><!-- Container -->
				</div><!-- Header Content -->
				<div class="mainmenu">
					<div class="container">
						<nav class="menu">
							<ul>
								<li><a href="index.html">Home</a>
									<ul>
										<li><a href="index.html">Homepage 1</a></li>
										<li><a href="home-page2.html">Homepage 2</a></li>
										<li><a href="home-page3.html">Homepage 3</a></li>
										<li><a href="home-page4.html">Homepage 4</a></li>
									</ul>
								</li>
								<li><a href="#">Features</a>
									<ul>
										<li><a href="#">Featured Posts</a>
											<ul>
												<li><a href="featured-style1.html">Featured Full</a></li>
												<li><a href="featured-style2.html">Featured 2 Grid</a></li>
												<li><a href="featured-style3.html">Featured 3 Grid</a></li>
												<li><a href="featured-style4.html">Featured 4 Grid</a></li>
											</ul>
										</li>
										<li><a href="#">Post Layouts</a>
											<ul>
												<li><a href="left-sidebar.html">Left Sidebar</a></li>
												<li><a href="right-sidebar.html">Right Sidebar</a></li>
												<li><a href="no-sidebar.html">No Sidebar</a></li>
											</ul>
										</li>
										<li><a href="#">Page Templates</a>
											<ul>
												<li><a href="page-author.html">Author</a></li>
												<li><a href="page-category.html">Category</a></li>
												<li><a href="page-tag.html">Tag</a></li>
												<li><a href="page-archive.html">Archive</a></li>
												<li><a href="page-search.html">Search</a></li>
												<li><a href="page-error.html">Error Page</a></li>
											</ul>
										</li>
										<li><a href="page-typography.html">Typography</a></li>
										<li><a href="page-shortcodes.html">Shortcodes</a></li>
										<li><a href="./documentation/index.html">Documentations</a></li>
									</ul>
								</li>
								<li><a href="#">Latest News</a>
									<div class="megamenu">
										<div class="item-content">
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/1.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-play"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Travel</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Seven Features Of Travel That Make Everyone Love It</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/2.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Life Style</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Life Style Has The Answer To Everything</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/3.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Music</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Pick A Holiday Dessert Tell You Which Christmas</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/4.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html"> Halacha</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">The High Holidays</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/5.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Prayers</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Here How Samsung Turn In Their Galaxy Note7</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
										</div>
									</div>
								</li>
								<li><a href="page-category.html">Life Style</a>
									<div class="megamenu">
										<div class="item-content">
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/11.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-play"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Life Style</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">The Torah Is The Spice Of Your Life</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/12.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Life Style</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Jewish Holidays: The High Holidays</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/13.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Life Style</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Life Style Has The Answer To Everything</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/14.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Life Style</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">All The Red Carpet Looks From The 2016 Critics Choice</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/4.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Life Style</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Interesting Facts I Bet You Never Knew About travel</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
										</div>
									</div>
								</li>
								<li><a href="page-category.html"> Halacha</a>
									<div class="megamenu">
										<div class="item-content">
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/8.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-play"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html"> Halacha</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Seven Features Of  Halacha That Make Everyone Love It</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/9.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html"> Halacha</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Life Style Has The Answer To Everything</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/6.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html"> Halacha</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Life Style Has The Answer To Everything</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/7.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Womens</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">How To Win Buyers And Influence Sales with travel</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/10.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Girls</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">The Ultimate Cheat Sheet On Blogging and The History Of DIY</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
										</div>
									</div>
								</li>
								<li><a href="page-category.html">Personal Growth</a>
									<div class="megamenu">
										<div class="item-content">
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/18.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-play"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Personal Growth</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">What Will Personal Growth Be Like In 100 Years?</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/15.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Bisball</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Think You're Cut Out For Doing Bisball?</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/20.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Skyboard</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">The Skyboard Has The Answer To Everything</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/17.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Racing</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">14 Common Misconceptions About Racing</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
											<div class="item">
												<div class="post">
													<div class="post-thumb">
														<a href="post-single.html">
															<img src="images/19.jpg" alt="Post Title Placeholder" />
														</a>
														<span class="post-format">
															<i class="fa fa-camera"></i>
														</span>
													</div>
													<div class="post-content">
														<div class="post-category">
														<a href="page-category.html">Musculation</a>
														</div>
														<h6 class="post-title">
															<a href="post-single.html">Musculation Has The Answer To Everything</a>
														</h6>
													</div>
												</div><!-- Post -->
											</div>
										</div>
									</div>
								</li>
								<li><a href="page-category.html">Travel</a></li>
								<li><a href="page-category.html">Music</a></li>
							</ul>
						</nav><!-- Menu -->
						<span class="menu-tigger">
							<i class="fa fa-bars"></i> Menu
						</span><!-- Search Tigger -->
						<span class="search-tigger">
							<i class="fa fa-search"></i>
						</span><!-- Search Tigger -->
					</div><!-- Container -->
				</div><!-- Main Menu -->
			</header><!-- Header -->