<div class="wide home">
<section id="main-area">
  <h3 style="display: none;">Main Area</h3>
  <div class="container">
    <div class="row">
      <section id="main" class="main col-md-8">
        <h2 style="display: none;">Main</h2>
        <div class="blog-posts hfeed">
          <article class="post single-post thumbnail">
            <div class="post-header">
              
              <h1 class="post-title">Hitbodedut 101</h1>
              <!-- Post Title -->
            </div><!-- Post Header -->
            <div class="post-thumb">
              <img src="images/hitbodedut.jpg" alt="Post Title Placeholder" />
              <br>
              <!-- AddToAny BEGIN -->
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                  <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                  <a class="a2a_button_facebook"></a>
                  <a class="a2a_button_twitter"></a>
                  <a class="a2a_button_google_plus"></a>
                  <a class="a2a_button_linkedin"></a>
                  <a class="a2a_button_whatsapp"></a>
                  <a class="a2a_button_email"></a>
                  <a class="a2a_button_copy_link"></a>
                </div>
                <script async src="https://static.addtoany.com/menu/page.js"></script>
                <!-- AddToAny END -->
            </div><!-- Post Image -->
            <div class="post-body">
              <br>
              <p style="text-align: justify; padding: 0 30 0 0px;">We are now starting a weekly hitbodedut (personal prayer) session with Rav Dror in different areas around Monsey. These lessons will be given live by Rav Dror himself.</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">These sessions will go on for about 2 hours total. The first hour will feature Rav Dror teaching special techniques on how to speak to HaShem (GOD) in Personal Prayer. The second hour you will center around you actually doing hitbodedut yourself followed by a questions and answers session with Rav Dror regarding your personal experience.</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">This is a unique opportunity to grow exponentially in the effectiveness of your prayers and the connection between yourself and The Creator.</p>
              <hr>
              <form class="contact-form" method="POST" action="http://formspree.io/info@emunah.com">
                <div class="input-group">
                  <input type="hidden" name="_cc" value="chaim@emunah.com, donate@emunah.com" />
                  <input type="hidden" name="_next" value="/templates/thanks.html" />
                  First and Last Name <i>(Required)</i>:
                  <input type="name" name="name" placeholder="Your Name">
                  You Email <i>(Required)</i>:
                  <input type="email" name="email" placeholder="Your Email">
                  You Phone <i>(Required)</i>:
                  <input type="phone" name="phone" placeholder="Your Phone (Optional)">
                  Why do u want to join this hitbodedut session?
                  <textarea name="reason" placeholder="Reason"></textarea>
                  Have you ever tried hitbodedut? If so, what has your experience been?
                  <textarea name="experience" placeholder="Experience"></textarea>
                </div>
                <div class="input-group">
                  <input type="submit" value="Send" class="bt btn-success">
                </div>
              </form>
            </div><!-- Post Body -->
            </article><!-- Post -->
          </div><!-- Blog posts -->
        </section><!-- Main -->
      <smallaside-directive></smallaside-directive>
      </div><!-- Row -->
    </div><!-- Container -->
  </section><!-- Main Area -->
</div>
