<div  class="wide home">
	<section class="featured-posts layout1" style="display:none;">
		<div class="container">
			<div class="slider">
				<div class="item">
					<div class="post has-caption" style="background-image: url(images/8.jpg);">
						<span class="post-format">
							<i class="fa fa-play"></i>
						</span>
						<div class="post-content">
							<div class="post-category">
							<a ui-sref="page-category">Travel</a>
							</div>
							<h3 class="post-title">
								<a ui-sref="single">The Shopping Tavel Is Having A Terrible, Horrible, No Good, Very Bad Day</a>
							</h3>
							<ul class="post-meta">
								<li><i class="fa fa-clock-o"></i> 16 October, 2017</li>
								<li><i class="fa fa-comment-o"></i> 240</li>
							</ul>
						</div>
					</div> <!-- Post -->
				</div>
				<div class="item">
					<div class="post has-caption" style="background-image: url(images/7.jpg);">
						<span class="post-format">
							<i class="fa fa-play"></i>
						</span>
						<div class="post-content">
							<div class="post-category">
							<a ui-sref="category"> Halacha</a>
							</div>
							<h3 class="post-title">
								<a ui-sref="single">Shavuot: The Gift Of The Torah</a>
							</h3>
							<ul class="post-meta">
								<li><i class="fa fa-clock-o"></i> 10 December, 2016</li>
								<li><i class="fa fa-comment-o"></i> 378</li>
							</ul>
						</div>
					</div><!-- Post -->
				</div>
				<div class="item">
					<div class="post has-caption" style="background-image: url(images/4.jpg);">
						<span class="post-format">
							<i class="fa fa-play"></i>
						</span>
						<div class="post-content">
							<div class="post-category">
							<a ui-sref="page-category">Life Style</a>
							</div>
							<h3 class="post-title">
								<a ui-sref="post-single">Shavuot: The Gift Of The Torah</a>
							</h3>
							<ul class="post-meta">
								<li><i class="fa fa-clock-o"></i> 21 October, 2016</li>
								<li><i class="fa fa-comment-o"></i> 35</li>
							</ul>
						</div>
					</div><!-- Post -->
				</div>
			</div>
			<div id="featuredNav" class="slider-nav"></div>
		</div>
	</section>
	<section class="featured-posts layout2" style="display:none">
		<div class="container">
			<div class="row-gallery">
				<div class="first col-md-6 col-sm-6">
					<div class="post has-caption" style="background-image: url(images/10.jpg);">
						<span class="post-format">
							<i class="fa fa-play"></i>
						</span>
						<div class="post-content">
							<div class="post-category">
							<a ui-sref="page-category">Travel</a>
							</div>
							<h3 class="post-title">
								<a ui-sref="post-single">Shavuot: The Gift Of The Torah</a>
							</h3>
							<ul class="post-meta">
								<li><i class="fa fa-clock-o"></i> 13 October, 2017</li>
								<li><i class="fa fa-comment-o"></i> 240</li>
							</ul>
						</div>
					</div><!-- Post -->
				</div>
				<div class="first col-md-6 col-sm-6">
					<div class="post has-caption" style="background-image: url(images/11.jpg);">
						<span class="post-format">
							<i class="fa fa-play"></i>
						</span>
						<div class="post-content">
							<div class="post-category">
							<a ui-sref="page-category">Travel</a>
							</div>
							<h3 class="post-title">
								<a ui-sref="post-single">Shavuot: The Gift Of The Torah</a>
							</h3>
							<ul class="post-meta">
								<li><i class="fa fa-clock-o"></i> 13 October, 2017</li>
								<li><i class="fa fa-comment-o"></i> 240</li>
							</ul>
						</div>
					</div><!-- Post -->
				</div>
			</div>
		</div>
	</section>
	<section class="featured-posts layout3" style="display:block">
		<div class="container">
			<div class="row-gallery">
				<div class="first col-md-7 col-sm-12">
					<div class="post has-caption" style="background-image: url({{latestVids[0].snippet.thumbnails.medium.url}});">

						<div class="post-content">
							<div class="post-category">
							<a ui-sref="page-category">Video category?</a>
							</div>
							<h2 class="post-title">
								<a ui-sref="post-single">{{latestVids[0].snippet.title}}</a>
							</h2>
							<ul class="post-meta">
								<li>by <strong>Infinyteam</strong></li>
								<li><i class="fa fa-clock-o"></i> 13 October, 2017</li>
								<li><i class="fa fa-comment-o"></i> 240</li>
							</ul>
						</div>
					</div><!-- Post -->
				</div>
				<div class="col-md-5 col-sm-6">
					<div class="post has-caption" style="background-image: url({{latestVids[1].snippet.thumbnails.medium.url}});">

						<div class="post-content">
							<div class="post-category">
							<a ui-sref="page-category">Video category?</a>
							</div>
							<h4 class="post-title">
								<a ui-sref="post-single">{{latestVids[1].snippet.title}}</a>
							</h4>
						</div>
					</div><!-- Post -->
				</div>
				<div class="col-md-5 col-sm-6">
					<div class="post has-caption" style="background-image: url({{latestVids[2].snippet.thumbnails.medium.url}});">

						<div class="post-content">
							<div class="post-category">
							<a ui-sref="page-category">Video category?</a>
							</div>
							<h4 class="post-title">
								<a ui-sref="post-single">{{latestVids[2].snippet.title}}</a>
							</h4>
						</div>
					</div><!-- Post -->
				</div>
			</div>
		</div>
	</section>
	<section class="featured-posts layout4" style="display:none">
		<div class="container">
			<div class="row-gallery">
				<div class="first col-md-6 col-sm-12">
					<div class="post has-caption" style="background-image: url(images/18.jpg);">
						<span class="post-format">
							<i class="fa fa-play"></i>
						</span>
						<div class="post-content">
							<div class="post-category">
							<a ui-sref="page-category">Personal Growth</a>
							</div>
							<h3 class="post-title">
								<a ui-sref="post-single">Overcoming Your Past</a>
							</h3>
							<ul class="post-meta">
								<li>by <strong>Infinyteam</strong></li>
								<li><i class="fa fa-clock-o"></i> 13 October, 2017</li>
								<li><i class="fa fa-comment-o"></i> 240</li>
							</ul>
						</div>
					</div><!-- Post -->
				</div>
				<div class="col-md-3 col-sm-4">
					<div class="post has-caption" style="background-image: url(images/17.jpg);">
						<div class="post-content">
							<div class="post-category">
							<a ui-sref="page-category">Interpersonal Relationships</a>
							</div>
							<h5 class="post-title">
								<a ui-sref="post-single">Damaging Relationships &amp; How To Deal With It</a>
							</h5>
						</div>
					</div><!-- Post -->
				</div>
				<div class="col-md-3 col-sm-4">
					<div class="post has-caption" style="background-image: url(images/19.jpg);">
						<span class="post-format">
							<i class="fa fa-camera"></i>
						</span>
						<div class="post-content">
							<div class="post-category">
							<a ui-sref="page-category">Musclation</a>
							</div>
							<h5 class="post-title">
								<a ui-sref="post-single">Seven Features Of Travel That Make Everyone Love It</a>
							</h5>
						</div>
					</div><!-- Post -->
				</div>
				<div class="col-md-6 col-sm-4">
					<div class="post has-caption" style="background-image: url(images/20.jpg);">
						<div class="post-content">
							<div class="post-category">
							<a ui-sref="page-category">Skyboard</a>
							</div>
							<h4 class="post-title">
								<a ui-sref="post-single">How You Can Forcing Personal Growth To Turn In Their Galaxy Note7 Phones</a>
							</h4>
						</div>
					</div><!-- Post -->
				</div>
			</div>
		</div>
	</section><!-- Featured Post -->
	<!-- Trending Post Section removed from here -->
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<div class="blog-layout layout-4" style="display: block">
						<div class="blog-title">
							<h2>Latest Articles</h2>
						</div><!-- Blog title -->
						<div class="blog-wrapper row">
							<div class="col col-sm-8">
								<article class="post first">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/3.jpg" data-src="images/3.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Teshuva, Jewish Repentance &amp; Confession</a>
										</h4><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-4">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/2.jpg" data-src="images/2.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">Israel &amp; The Redemption</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/1.jpg" data-src="images/1.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">Mariage &amp; Dating</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->
					<div class="blog-layout layout-3" style="display: block">
						<div class="blog-title">
							<h2>Videos</h2>
						</div><!-- Blog title -->
						<div class="blog-wrapper row">
							<div class="col col-sm-4">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/7.jpg" data-src="images/7.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h5 class="post-title">
											<a ui-sref="post-single">Parasha of the week: Ki Tisa</a>
										</h5><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-4">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/10.jpg" data-src="images/10.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h5 class="post-title">
											<a ui-sref="post-single">Jewish Holidays: Pessah</a>
										</h5><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
											<li><i class="fa fa-comment-o"></i> 53</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-4">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/8.jpg" data-src="images/8.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h5 class="post-title">
											<a ui-sref="post-single">Prayer: The Importance Of The Talit</a>
										</h5><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 21, 2016</li>
											<li><i class="fa fa-comment-o"></i> 129</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-4">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/4.jpg" data-src="images/4.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h5 class="post-title">
											<a ui-sref="post-single">Torah Study: The Sparkle</a>
										</h5><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> September 12, 2016</li>
											<li><i class="fa fa-comment-o"></i> 18</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-4">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/1.jpg" data-src="images/1.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h5 class="post-title">
											<a ui-sref="post-single">Emunah &amp; Faith</a>
										</h5><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-4">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/2.jpg" data-src="images/2.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h5 class="post-title">
											<a ui-sref="post-single">Kabbalah &amp; Mysticism</a>
										</h5><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
											<li><i class="fa fa-comment-o"></i> 53</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->
					<div class="blog-layout layout-5 tiny-thumb" style="display: block">
						<div class="blog-title">
							<h2> Halacha</h2>
						</div><!-- Blog title -->
						<div class="blog-wrapper row">
							<div class="col col-sm-6">
								<article class="post first">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/8.jpg" data-src="images/8.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Kabbalah &amp; Mysticism</a>
										</h4><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-6">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/9.jpg" data-src="images/9.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">Jewish Holidays: The High Holidays</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/6.jpg" data-src="images/6.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">The Torah Is The Spice Of Your Life</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/7.jpg" data-src="images/7.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">Jewish Holidays: The High Holidays</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/10.jpg" data-src="images/10.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">The Torah Is The Spice Of Your Life</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->
					<div class="blog-layout layout-10 has-caption has-slider" style="display: block">
						<div class="blog-title">
							<h2>Jewish Holidays</h2>
						</div><!-- Blog title -->
						<div class="blog-wrapper row">
							<div class="col col-sm-12">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/12.jpg" data-src="images/12.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<div class="post-category">
											<a ui-sref="page-category">Jewish Holidays</a>
										</div>
										<h4 class="post-title">
											<a ui-sref="post-single">Shavuot: The Gift Of The Torah</a>
										</h4><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/13.jpg" data-src="images/13.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<div class="post-category">
											<a ui-sref="page-category">Jewish Holidays</a>
										</div>
										<h4 class="post-title">
											<a ui-sref="post-single">Sukkot: The Joy Of The Sukkah</a>
										</h4><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/14.jpg" data-src="images/14.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<div class="post-category">
											<a ui-sref="page-category">Jewish Holidays</a>
										</div>
										<h4 class="post-title">
											<a ui-sref="post-single">Hanukkah: The Miracle Of The Light</a>
										</h4><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div id="slideNav" class="slider-nav"></div>
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->
					<div class="blog-layout layout-2" style="display: block">
						<div class="blog-title">
							<h2>Prayers</h2>
						</div><!-- Blog title -->
						<div class="blog-wrapper row">
							<div class="col col-sm-6">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/7.jpg" data-src="images/7.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Kabbalah &amp; Mysticism</a>
										</h4><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, explicabo, harum. Odio iste...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-6">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/10.jpg" data-src="images/10.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">The Torah Is The Spice Of Your Life</a>
										</h4><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate possimus ea facilis...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
											<li><i class="fa fa-comment-o"></i> 53</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-6">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/8.jpg" data-src="images/8.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Jewish Holidays: The High Holidays</a>
										</h4><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, explicabo, harum. Odio iste...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 21, 2016</li>
											<li><i class="fa fa-comment-o"></i> 129</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-6">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/4.jpg" data-src="images/4.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Women's Strength</a>
										</h4><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate possimus ea facilis...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> September 12, 2016</li>
											<li><i class="fa fa-comment-o"></i> 18</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-6">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/1.jpg" data-src="images/1.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Kabbalah &amp; Mysticism</a>
										</h4><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, explicabo, harum. Odio iste...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-6">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/2.jpg" data-src="images/2.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">The Torah Is The Spice Of Your Life</a>
										</h4><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate possimus ea facilis...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
											<li><i class="fa fa-comment-o"></i> 53</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-6">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/3.jpg" data-src="images/3.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Jewish Holidays: The High Holidays</a>
										</h4><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, explicabo, harum. Odio iste...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 21, 2016</li>
											<li><i class="fa fa-comment-o"></i> 129</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-6">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/5.jpg" data-src="images/5.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Women's Strength</a>
										</h4><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate possimus ea facilis...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> September 12, 2016</li>
											<li><i class="fa fa-comment-o"></i> 18</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->
					<div class="blog-layout layout-6 tiny-thumb" style="display: block">
						<div class="blog-title">
							<h2>Personal Growth</h2>
						</div><!-- Blog title -->
						<div class="blog-wrapper row">
							<div class="col col-sm-12">
								<article class="post first">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/17.jpg" data-src="images/17.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Kabbalah &amp; Mysticism</a>
										</h4><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-12">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/18.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">Jewish Holidays: The High Holidays</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/19.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">The Torah Is The Spice Of Your Life</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/20.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">Jewish Holidays: The High Holidays</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/15.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">The Torah Is The Spice Of Your Life</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->
					<div class="blog-layout layout-1 has-caption2" style="display: block">
						<div class="blog-title">
							<h2>Stories</h2>
					</div><!-- Blog title -->
						<div class="blog-wrapper row">
							<div class="col col-sm-12">
								<article class="post first">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/8.jpg" data-src="images/8.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<div class="post-category">
											<a ui-sref="page-category">Life Style</a>
										</div>
										<h3 class="post-title">
											<a ui-sref="post-single">Kabbalah &amp; Mysticism</a>
										</h3><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere temporibus iusto tempore sed, officiis vel maxime dolores ex asperiores, praesentium, expedita voluptas aliquam! Eum amet, dolore quo ratione mollitia ut...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-6">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/7.jpg" data-src="images/7.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h5 class="post-title">
											<a ui-sref="post-single">Kabbalah &amp; Mysticism</a>
										</h5><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, explicabo, harum. Odio iste...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-6">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/10.jpg" data-src="images/10.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h5 class="post-title">
											<a ui-sref="post-single">The Torah Is The Spice Of Your Life</a>
										</h5><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate possimus ea facilis...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
											<li><i class="fa fa-comment-o"></i> 53</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-6">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/22.jpg" data-src="images/22.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h5 class="post-title">
											<a ui-sref="post-single">Jewish Holidays: The High Holidays</a>
										</h5><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, explicabo, harum. Odio iste...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 21, 2016</li>
											<li><i class="fa fa-comment-o"></i> 129</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-6">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/4.jpg" data-src="images/4.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h5 class="post-title">
											<a ui-sref="post-single">Women's Strength</a>
										</h5><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate possimus ea facilis...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> September 12, 2016</li>
											<li><i class="fa fa-comment-o"></i> 18</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->
					<div class="blog-layout layout-9 has-gallery" style="display: block">
						<div class="blog-title">
							<h2>Today's Gallery</h2>
						</div><!-- Blog title -->
						<div class="blog-wrapper row-tiny">
							<div class="col col-sm-3">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/1.jpg" data-src="images/1.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">How To Win Buyers</a>
										</h6><!-- Post Title -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-3">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/2.jpg" data-src="images/2.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">Interesting Facts</a>
										</h6><!-- Post Title -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-3">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/3.jpg" data-src="images/3.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">The History Of DIY</a>
										</h6><!-- Post Title -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-3">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/4.jpg" data-src="images/4.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">The Ultimate Cheat Sheet</a>
										</h6><!-- Post Title -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-3">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/8.jpg" data-src="images/8.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">How To Win Buyers</a>
										</h6><!-- Post Title -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-3">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/5.jpg" data-src="images/5.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">Interesting Facts</a>
										</h6><!-- Post Title -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-3">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/6.jpg" data-src="images/6.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">The History Of DIY</a>
										</h6><!-- Post Title -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-3">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/7.jpg" data-src="images/7.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">The Ultimate Cheat Sheet</a>
										</h6><!-- Post Title -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->
					<div class="blog-layout layout-7 tiny-thumb has-caption" style="display: block">
						<div class="blog-title">
							<h2>Jewish Holidays</h2>
						</div><!-- Blog title -->
						<div class="blog-wrapper row">
							<div class="col col-sm-6">
								<article class="post first">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/4.jpg" data-src="images/4.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h5 class="post-title">
											<a ui-sref="post-single">The Torah Is The Spice Of Your Life</a>
										</h5><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/13.jpg" data-src="images/13.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">Jewish Holidays: The High Holidays</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/12.jpg" data-src="images/12.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">Kabbalah &amp; Mysticism</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-6">
								<article class="post first">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/5.jpg" data-src="images/5.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h5 class="post-title">
											<a ui-sref="post-single">Kabbalah &amp; Mysticism</a>
										</h5><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/11.jpg" data-src="images/11.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">Jewish Holidays: The High Holidays</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/14.jpg" data-src="images/14.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">The Torah Is The Spice Of Your Life</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->
					<div class="blog-layout layout-8" style="display: block">
						<div class="blog-title">
							<h2>All the videos</h2>
						</div><!-- Blog title -->
						<div class="blog-wrapper row">
							<div class="col col-sm-12">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/4.jpg" data-src="images/4.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Pourim: The Miracle</a>
										</h4><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-12">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/22.jpg" data-src="images/22.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Hanukkah: The Miracle</a>
										</h4><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-12">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/6.jpg" data-src="images/6.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Pessah: The Miracle</a>
										</h4><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-12">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/9.jpg" data-src="images/9.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-soundcloud"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Rosh Hashana: The Head Of The Year</a>
										</h4><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-12">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/11.jpg" data-src="images/11.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-camera"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Yom Kippur: How To Forgive</a>
										</h4><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-12">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/12.jpg" data-src="images/12.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Sukkot: Lulav &amp; Sukkah</a>
										</h4><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-12">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/5.jpg" data-src="images/5.jpg" alt="Post Title Placeholder" />
										</a>
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Tisha Be'Av</a>
										</h4><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->
					<div class="blog-pagination">
						<ul>
							<li class="active"><a ui-sref="index">1</a></li>
							<li><a ui-sref="#">2</a></li>
							<li><a ui-sref="#">3</a></li>
							<li><span>...</span></li>
							<li><a ui-sref="#">10</a></li>
							<li class="next-page"><a ui-sref="#">Page Next <i class="fa fa-angle-right"></i></a></li>
							<li class="total-pages">1 page of 99</li>
						</ul>
					</div>
				</section><!-- Main -->
				<aside-directive></aside-directive>
			</div><!-- Row -->
		</div><!-- Container -->
	</section><!-- Main Area -->
</div>
