<br>
<div  class="wide home" style="margin-top: -27px;">
	<section class="featured-posts layout3" style="display:block">
		<div class="container">
			<div class="row-gallery">
				<div class="first col-md-7 col-sm-12">
					<a ui-sref="post-single({videoParam: topThree[0], id: topThree[0].id})">
					<div class="post has-caption" style="background-image: url({{topThree[0].snippet.thumbnails.medium.url}});">
						<div class="post-content">
							<div class="post-category">
							<!-- <a ui-sref="page-category"> -->
							Video category?
						<!-- </a> -->
							</div>
							<h2 class="post-title">
								{{topThree[0].snippet.title}}
							</h2>
							<ul class="post-meta">
								<li><i class="fa fa-clock-o"></i>{{topThree[0].snippet.publishedAt}}</li>
								<li><i class="fa fa-comment-o"></i> 240</li>
							</ul>
						</div>
					</div><!-- Post -->
				</a>
				</div>
				<div class="col-md-5 col-sm-6">
					<a ui-sref="post-single({videoParam: topThree[1], id: topThree[1].id})">
					<div class="post has-caption" style="background-image: url({{topThree[1].snippet.thumbnails.medium.url}});">
						<div class="post-content">
							<div class="post-category">
							Video category
							</div>
							<h4 class="post-title">
								{{topThree[1].snippet.title}}
							</h4>
							<ul class="post-meta">
								<li><i class="fa fa-clock-o"></i>{{topThree[1].snippet.publishedAt}}</li>
								<li><i class="fa fa-comment-o"></i> 240</li>
							</ul>
						</div>
					</div><!-- Post -->
				</a>
				</div>
				<div class="col-md-5 col-sm-6">
					<a ui-sref="post-single({videoParam: topThree[2], id: topThree[2].id})">
						<div class="post has-caption" style="background-image: url({{topThree[2].snippet.thumbnails.medium.url}});">
							<div class="post-content">
								<div class="post-category">
								Video category?
								</div>
								<h4 class="post-title">
									{{topThree[2].snippet.title}}
								</h4>
								<ul class="post-meta">
									<li><i class="fa fa-clock-o"></i>{{topThree[2].snippet.publishedAt}}</li>
									<li><i class="fa fa-comment-o"></i> 240</li>
								</ul>
							</div>
						</div><!-- Post -->
					</a>
				</div>
			</div>
		</div>
	</section>


	<!-- Trending Post Section removed from here -->
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
	<slider-directive></slider-directive>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<div class="blog-layout layout-3" style="display: block">
						<div class="blog-title">
							<a ui-sref="category">
								<h2>View Playlists</h2>
							</a>
						</div><!-- Blog title -->
						<div class="blog-wrapper row">
							<div class="col col-sm-4" ng-repeat="playlist in currentPlaylists track by $index">
								<article class="post" >
									<div class="post-thumb">
										<!-- <a href="{{playlist.playurl}}"> -->
										<a ui-sref="playlist({playlistParam: playlist, id:playlist.id})">
											<img class="lazy" src={{playlist.snippet.thumbnails.medium.url}} alt="Post Title Placeholder"  />
											<!-- <iframe width="560" height="315" src="{playlist.playurl}" frameborder="0" allowfullscreen></iframe> -->
										<span class="post-format">
											<i class="fa fa-play"></i>
										</span>
									</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h5 class="post-title">
											<label id="playlistText"><a ui-sref="playlist({playlistParam: playlist, id:playlist.id})">{{playlist.snippet.title}}</a></label>
											<br />
										</h5><!-- Post Title -->
<!-- 										<div class="post-meta">
											<i class="fa fa-clock-o"></i>{{playlist.snippet.publishedAt}}
										</div> --><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="blog-pagination">
								<ul>
									<li class="next-page"><a ng-click="updatePlaylistBackward()"><i class="fa fa-angle-left"></i> Back</a></li>
									<li class="active"><a ui-sref="index">1</a></li>
									<li><a ui-sref="#">2</a></li>
									<li><a ui-sref="#">3</a></li>
									<li><span>...</span></li>
									<li><a ui-sref="#">20</a></li>
									<li class="next-page"><a ng-click="updatePlaylistForward()">Next <i class="fa fa-angle-right"></i></a></li>
									<li class="total-pages">1 page of 20</li>
								</ul>
							</div>
<!-- 							<div class="col col-sm-4">
								<Button ng-click="updatePlaylistBackward()">Prev</Button>
								<Button ng-click="updatePlaylistForward()">Next</Button>
							</div> --> <!-- button wrapper-->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->
					<div class="blog-layout layout-4" style="display: block">
						<div class="blog-title">
							<h2>Latest Articles</h2>
						</div><!-- Blog title -->
						<div class="blog-wrapper row">
							<div class="col col-sm-8">
								<article class="post first">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/3.jpg" data-src="images/3.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Teshuva, Jewish Repentance &amp; Confession</a>
										</h4><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-4">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/2.jpg" data-src="images/2.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">Israel &amp; The Redemption</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/1.jpg" data-src="images/1.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">Mariage &amp; Dating</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->
					
					<div class="blog-layout layout-5 tiny-thumb" style="display: block">
						<div class="blog-title">
							<h2> Halacha</h2>
						</div><!-- Blog title -->
						<div class="blog-wrapper row">
							<div class="col col-sm-6">
								<article class="post first">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/8.jpg" data-src="images/8.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Kabbalah &amp; Mysticism</a>
										</h4><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-6">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/9.jpg" data-src="images/9.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">Jewish Holidays: The High Holidays</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/6.jpg" data-src="images/6.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">The Torah Is The Spice Of Your Life</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/7.jpg" data-src="images/7.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">Jewish Holidays: The High Holidays</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/10.jpg" data-src="images/10.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">The Torah Is The Spice Of Your Life</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->


					<div class="blog-layout layout-6 tiny-thumb" style="display: block">
						<div class="blog-title">
							<h2>Personal Growth</h2>
						</div><!-- Blog title -->
						<div class="blog-wrapper row">
							<div class="col col-sm-12">
								<article class="post first">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/17.jpg" data-src="images/17.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single">Kabbalah &amp; Mysticism</a>
										</h4><!-- Post Title -->
										<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-12">
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/18.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">Jewish Holidays: The High Holidays</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/19.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">The Torah Is The Spice Of Your Life</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/20.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">Jewish Holidays: The High Holidays</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/15.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h6 class="post-title">
											<a ui-sref="post-single">The Torah Is The Spice Of Your Life</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->

					<div class="blog-layout layout-8" style="display: block">
						<div class="blog-title">
							<h2>All the videos</h2>
						</div><!-- Blog title -->
						<div class="blog-wrapper row">
							<div class="col col-sm-12">
								<article class="post" ng-repeat="footerVid in footerVids track by $index">
									<div class="post-thumb">
										<a ui-sref="post-single({videoParam: footerVid, id: footerVid.id})">
											<img class="lazy" src={{footerVid.snippet.thumbnails.medium.url}} alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content">
										<h4 class="post-title">
											<a ui-sref="post-single({videoParam: footerVid, id: footerVid.id})">{{footerVid.snippet.title}}</a>
										</h4><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> {{footerVid.snippet.publishedAt}}</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
										<p class="post-entry">{{footerVid.snippet.description}}</p><!-- Post Entry -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-12">
							</div><!-- Column -->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->
					<div class="blog-pagination">
						<ul>
							<li class="active"><a ui-sref="index">1</a></li>
							<li><a ui-sref="#">2</a></li>
							<li><a ui-sref="#">3</a></li>
							<li><span>...</span></li>
							<li><a ui-sref="#">10</a></li>
							<li class="next-page"><a ui-sref="#">Page Next <i class="fa fa-angle-right"></i></a></li>
							<li class="total-pages">1 page of 99</li>
						</ul>
					</div>
				</section><!-- Main -->
				<aside-directive></aside-directive>
			</div><!-- Row -->
		</div><!-- Container -->
	</section><!-- Main Area -->

</div>
