<head>
	  <title>Emunah.com - Teachings on Faith by Rav Dror Moshe Cassouto</title>
  <meta name="description" content="Rav Dror Moshe Cassouto brings us rare honest and pure principles of truth and faith (emunah). Our wish is that every human being in the world will watch our videos and find their unique connection to The Creator.">
  <meta name="keywords" content="emunah, faith, judaism, judaism, what does judaism say about, truth, does God exist, how can i be happy, creator, jewish, rabbi, rebbe nachman of breslov, breslev, charity, jerusalem, teshuvah with love, wealth, spirituality, happiness, happy, love, inner peace, Fulfillment, Acceptance, torah, hashem, ">
  <link rel="canonical" href="https://www.emunah.com/">
  <link rel='alternate' href='https://www.emunah.com/' hreflang='x-default'>
  <link rel='alternate' href='https://www.emunah.com/' hreflang='en-gb' />
<!--     <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png" /> -->
    <meta name="theme-color" content="steelblue">
    <!-- <link `el="publisher" href="https://plus.google.com/+FueledNYC"> -->
    <!-- <meta property="fb:app_id" content="176137682417629" /> -->
    <meta property="og:url" content="https://www.emunah.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Emunah.com - Teachings on Faith by Rav Dror Moshe Cassouto" />
    <meta property="og:description" content="Rav Dror Moshe Cassouto brings us rare honest and pure principles of truth and faith (emunah). Our wish is that every human being in the world will watch our videos and find their unique connection to The Creator." />
    <meta property="og:image" content="https://www.emunah.com/images/banner.png" />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ravdror" />
    <meta name="twitter:title" content="Emunah.com - Teachings on Faith by Rav Dror Moshe Cassouto" />
  <meta name="twitter:description" content="Rav Dror Moshe Cassouto brings us rare honest and pure principles of truth and faith (emunah). Our wish is that every human being in the world will watch our videos and find their unique connection to The Creator." />
  <meta name="twitter:image" content="https://www.emunah.com/images/banner.png" />
</head>
	<!-- Trending Post Section removed from here -->
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<br><br>

		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<div class="blog-layout layout-4" style="display: block">
						<div class="blog-wrapper row">
							<div class="col col-sm-8">
								<article class="post first thumbnail">
									<div class="post-thumb">
										<a ui-sref="store">
											<img class="lazyhome" src="images/book_of_worlds-info_flyer.jpeg" data-src="images/book_of_worlds-info_flyer.jpeg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content caption">
										<h4 class="post-title">
											<a ui-sref="store">Pre-Order Rav Dror's New Book <i><b>The Book of The Worlds</b></i></a>
										</h4><!-- Post Title -->
										<!-- <h5>Parashat Chayei Sarah</h5> -->
										<!-- <p class="post-entry">Find out how by clicking the link above.</p> --><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> April 19, 2018</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-4">
								<article class="post thumbnail">
									<div class="post-thumb">
										<a ui-sref="visitisrael">
											<img class="lazy" src="images/israel-visit.jpeg" data-src="images/2.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content caption">
										<h6 class="post-title">
											<a ui-sref="visitisrael">Visit Israel With Rav Dror</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> December 26, 2017</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post thumbnail">
									<div class="post-thumb">
										<a ui-sref="usa">
											<img class="lazy" src="images/c1.jpeg" data-src="images/c1.jpeg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content caption">
										<h6 class="post-title">
											<a ui-sref="usa">Upcoming Chances To See Rav Dror In person!</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> April 19, 2018</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->
					<!-- <classes-directive></classes-directive> -->
					
					<div class="blog-layout layout-4" style="display: block">

						<div class="blog-wrapper row">
							<div class="col col-sm-8">
								<article class="post first thumbnail">
									<div class="post-thumb">
										<a ui-sref="post-single({id: topThree[0].id.videoId})">
											<img id="top" class="lazy" src={{topThree[0].snippet.thumbnails.medium.url}} alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content caption">
										<h4 class="post-title">
											<a ui-sref="post-single({id: topThree[0].id.videoId})">{{topThree[0].snippet.title}}</a>
										</h4><!-- Post Title -->
										<p class="post-entry">{{topThree[0].snippet.description}}</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> {{topThree[0].snippet.publishedAt}}</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-4">
								<article class="post thumbnail">
									<div class="post-thumb">
										<a ui-sref="post-single({id: topThree[1].id.videoId})">
											<img class="lazy" src={{topThree[1].snippet.thumbnails.medium.url}} alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content caption">
										<h6 class="post-title">
											<a ui-sref="post-single({id: topThree[1].id.videoId})">{{topThree[1].snippet.title}}</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> {{topThree[1].snippet.publishedAt}}</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post thumbnail">
									<div class="post-thumb">
										<a ui-sref="post-single({id: topThree[2].id.videoId})">
											<img class="lazy" src={{topThree[2].snippet.thumbnails.medium.url}} alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content caption">
										<h6 class="post-title">
											<a ui-sref="post-single({id: topThree[2].videoId})">{{topThree[2].snippet.title}}</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> {{topThree[2].snippet.publishedAt}}</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->

					<!-- <div class="blog-layout layout-4" style="display: block">
						<div class="blog-title">
							<h2>Latest Articles</h2>
						</div> --><!-- Blog title -->
						<!-- <div class="blog-wrapper row">
							<div class="col col-sm-8">
								<article class="post first thumbnail">
									<div class="post-thumb">
										<a ui-sref="chayei-sarah">
											<img class="lazy" src="images/chayei-sarah1.jpg" data-src="images/3.jpg" alt="Post Title Placeholder" />
										</a>
									</div> --><!-- Post Image -->
									<!-- <div class="post-content caption">
										<h4 class="post-title">
											<a ui-sref="chayei-sarah">Becoming Closer to Hashem: Good Eyes, a Pure Heart!</a>
										</h4> --><!-- Post Title -->
										<!-- <h5>Parashat Chayei Sarah</h5>
										<p class="post-entry">In this wonderful parsha, we can see another one of those amazing good midot of Avraham. That on each and every one of our forefathers good points, we need to ask ourselves "when will my actions come to be like that of my ancestors..."</p> --><!-- Post Entry -->
										<!-- <ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul> --><!-- Post Meta -->
									<!-- </div> --><!-- Post Content -->
								<!-- </article> --><!-- Post -->
							<!-- </div> --><!-- Column -->
							<!-- <div class="col col-sm-4">
								<article class="post thumbnail">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/2.jpg" data-src="images/2.jpg" alt="Post Title Placeholder" />
										</a>
									</div> --><!-- Post Image -->
									<!-- <div class="post-content caption">
										<h6 class="post-title">
											<a ui-sref="post-single">Israel &amp; The Redemption</a>
										</h6> --><!-- Post Title -->
										<!-- <ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul> --><!-- Post Meta -->
									<!-- </div> --><!-- Post Content -->
								<!-- </article> --><!-- Post -->
								<!-- <article class="post thumbnail">
									<div class="post-thumb">
										<a ui-sref="post-single">
											<img class="lazy" src="images/1.jpg" data-src="images/1.jpg" alt="Post Title Placeholder" />
										</a>
									</div> --><!-- Post Image -->
									<!-- <div class="post-content caption">
										<h6 class="post-title">
											<a ui-sref="post-single">Mariage &amp; Dating</a>
										</h6> --><!-- Post Title -->
										<!-- <ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul> --><!-- Post Meta -->
									<!-- </div> --><!-- Post Content -->
								<!-- </article> --><!-- Post -->
							<!-- </div> --><!-- Column -->
						<!-- </div> --><!-- Blog Wrapper -->
					<!-- </div> --><!-- Blog Layout -->
					
					<div class="blog-layout layout-5 tiny-thumb" style="display: block">
						<!-- <div class="blog-title">
							<a ui-sref="mitzvot">
								<h2> Mitzvot</h2>
							</a>
						</div> --><!-- Blog title -->
						<div class="blog-wrapper row">
							<div class="col col-sm-6">
								<article class="post first thumbnail">
									<div class="post-thumb">
										<a ui-sref="mitzvot-shabbat">
											<img class="lazy" src="images/woman.jpg" data-src="images/woman.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content caption">
										<h4 class="post-title">
											<a ui-sref="mitzvot-shabbat">Shabbat</a>
										</h4><!-- Post Title -->
										<p class="post-entry">Shabbat: the island of time that defines the Jew’s week. The rituals, the practices, the do’s, and the don’ts of the Jewish Sabbath—and how you can experience it all for yourself.</p><!-- Post Entry -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-6">
								<article class="post thumbnail">
									<div class="post-thumb">
										<a ui-sref="mitzvot-kosher">
											<img class="lazy" src="images/kosher.jpg" data-src="images/12.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content caption">
										<h6 class="post-title">
											<a ui-sref="mitzvot-kosher">Kosher</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post thumbnail">
									<div class="post-thumb">
										<a ui-sref="mitzvot-tefillin">
											<img class="lazy" src="images/13.jpg" data-src="images/13.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content caption">
										<h6 class="post-title">
											<a ui-sref="mitzvot-tefillin">Tefillin</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post thumbnail">
									<div class="post-thumb">
										<a ui-sref="mitzvot-prayer">
											<img class="lazy" src="images/yahudi.jpg" data-src="images/yahudi.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content caption">
										<h6 class="post-title">
											<a ui-sref="mitzvot-prayer">Prayer</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
								<article class="post thumbnail">
									<div class="post-thumb">
										<a ui-sref="mitzvot-blessings">
											<img class="lazy" src="images/10.jpg" data-src="images/10.jpg" alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content caption">
										<h6 class="post-title">
											<a ui-sref="mitzvot-blessings">Blessings</a>
										</h6><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
										</ul><!-- Post Meta -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->

					<div class="blog-layout layout-8" style="display: block">
						<div class="blog-title">
							<h2>Lectures</h2>
						</div><!-- Blog title -->
						<div class="blog-wrapper row">
							<div class="col col-sm-12">
								<article class="post thumbnail" ng-repeat="footerVid in footerVids track by $index">
									<div class="post-thumb">
										<a ui-sref="post-single({videoParam: footerVid, id: footerVid.id})">
											<img class="lazy" src={{footerVid.snippet.thumbnails.medium.url}} alt="Post Title Placeholder" />
										</a>
									</div><!-- Post Image -->
									<div class="post-content caption">
										<h4 class="post-title">
											<a ui-sref="post-single({videoParam: footerVid, id: footerVid.id.videoId})">{{footerVid.snippet.title}}</a>
										</h4><!-- Post Title -->
										<ul class="post-meta">
											<li><i class="fa fa-clock-o"></i> {{footerVid.snippet.publishedAt}}</li>
											<li><i class="fa fa-comment-o"></i> 240</li>
										</ul><!-- Post Meta -->
										<p class="post-entry">{{footerVid.snippet.description}}</p><!-- Post Entry -->
									</div><!-- Post Content -->
								</article><!-- Post -->
							</div><!-- Column -->
							<div class="col col-sm-12">
							</div><!-- Column -->
						</div><!-- Blog Wrapper -->
					</div><!-- Blog Layout -->
<!-- 					<div class="blog-pagination">
						<ul>
							<li class="active"><a ui-sref="index">1</a></li>
							<li><a ui-sref="#">2</a></li>
							<li><a ui-sref="#">3</a></li>
							<li><span>...</span></li>
							<li><a ui-sref="#">10</a></li>
							<li class="next-page"><a ui-sref="#">Page Next <i class="fa fa-angle-right"></i></a></li>
							<li class="total-pages">1 page of 99</li>
						</ul>
					</div> -->
				</section><!-- Main -->
				<home-directive></home-directive>
			</div><!-- Row -->
		</div><!-- Container -->


</div>