<div class="wide page single-page">
  <section class="search-modal">
    <h3 style="display: none;">Search Modal</h3>
    <div class="container">
      <form action="page-search.html" method="get">
        <input type="text" name="q" value="Search.." />
        <span class="search-close"></span>
      </form>
    </div>
  </section>
  <section id="main-area">
    <h3 style="display: none;">Main Area</h3>
    <div class="container">
      <div class="row">
        <section id="main" class="main col-md-8">
          <h2 style="display: none;">Main</h2>
          <div class="blog-posts hfeed">
            <article class="post single-post">
              <div class="post-header">
                <h1 class="post-title">Log In</h1><!-- Post Title -->
              </div><!-- Post Header -->
              <div class="contact-form">
                <form ng-submit="login()" method="post">
                  <div class="input-group">
                    <label for="email">Your Email:</label>
                    <input type="email" ng-model="user.username" placeholder="ravdror@emunah.com" />
                  </div>
                 <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" ng-model="user.password" placeholder="secret" />
                  </div>
                  <div class="input-group">
                    <input type="submit" name="submit" value="Log In"/>
                  </div>
                </form>
              </div><!-- Post Body -->
              <div class="post-footer">
              </div><!-- Post Footer -->
            </article><!-- Post -->
          </div><!-- Blog posts -->
        </section><!-- Main -->
        <aside-directive></aside-directive>
      </div><!-- Row -->
    </div><!-- Container -->
  </section><!-- Main Area -->
</div>
