<div class="wide home">
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<h2 style="display: none;">Main</h2>
					<div class="blog-posts hfeed">
						<article class="post single-post">
							<div class="post-header">
								<div class="post-category">
									<a href="page-category.html">Tefillin</a>
								</div>
								<h1 class="post-title">Tefillin: Binding mind, heart and deed</h1><!-- Post Title -->
								<ul class="post-meta">
									<li><img class="avatar" width="24" height="24" src="images/chabad.png" alt="Author Avatar Image" />by <a href="http://www.chabad.org/">Chabad.org</a></li>
									<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
									<li><i class="fa fa-comment-o"></i> 240</li>
									<li class="right"><i class="fa fa-eye"></i> 42,350 views</li>
								</ul><!-- Post Meta -->
							</div><!-- Post Header -->
<!-- 							<div class="post-share">
								<span class="counter"><strong>24k</strong>Shares</span>
								<ul>
									<li class="facebook"><a href=""><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li>
									<li class="twitter"><a href=""><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
									<li class="google-plus"><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li class="linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
									<li class="whatsapp"><a href=""><i class="fa fa-whatsapp"></i></a></li>
									<li class="email"><a href=""><i class="fa fa-envelope-o"></i></a></li>
								</ul>
							</div> --><!-- Post Share -->
							<div class="post-thumb">
								<img src="images/yahudi.jpg" alt="Post Title Placeholder" />
							</div><!-- Post Image -->
							<br>
							<div class="post-body">
								<p class="mitzvot-paragraph">Tefillin are a pair of black leather boxes containing Hebrew parchment scrolls. A set includes two—one for the head and one for the arm. Each consists of three main components: the scrolls, the box and the strap.</p>

								<p class="mitzvot-paragraph">The Torah commands Jewish men to bind tefillin onto their head and upper arm every weekday, in fulfillment of the verse (Deut. 6:8), “You shall bind them as a sign upon your hand, and they shall be for a reminder between your eyes.” (More on what this means below.)</p>
								<p class="mitzvot-paragraph">Tefillin is an incredibly powerful mitzvah. The experience of putting on tefillin has changed many people’s lives.</p>
								<h3>What’s in the Boxes?</h3>
								<div class="th-caption left-caption">
									<a href="images/12.jpg">
										<img width="300" src="images/12.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<p class="mitzvot-paragraph">The Torah mentions the mitzvah of tefillin four separate times. Each of these texts is inscribed on parchment and placed into the tefillin. These passages discuss the unity of G‑d. They describe the miracles G‑d performed for us when He took us out of Egypt, and how G‑d alone has the power and dominion to do whatever He wants in the physical and spiritual worlds. In other words, these verses cover the fundamentals of our faith.</p>

								<p class="mitzvot-paragraph">These texts are:
									<ul>
										<li>1–2. Kadesh (Exodus 13:1–10) and Vehayah ki yeviacha (Exodus 13:11–16): These describe the duty of the Jewish people to always remember the redemption from Egyptian bondage, and the obligation of every Jew to educate his children about this and about G‑d’s commandments.</li>
										<li>3. Shema (Deut. 6:4–9): Pronounces the unity of the one G‑d, and commands us to love and fear Him.</li>
										<li>4. Vehayah (Deut. 11:13–21): Focuses on G‑d’s assurance to us of reward that will follow our observance of the Torah’s mitzvahs.</li>
									</ul>
								</p>
								<h3>How Are Tefillin Made?</h3>
								<p class="mitzvot-paragraph">In order to be kosher according to Jewish law, tefillin must meet thousands of requirements. Think of them as a finely tuned spiritual machine. If one part is out of place, the whole thing won’t work.</p>

								<p class="mitzvot-paragraph">The scrolls inside the tefillin are inscribed in black ink with a quill (or reed) pen by a specially trained scribe, known as a sofer. The parchment is handmade, and must be from a kosher animal. The scribe concentrates intensely and writes with special Hebrew characters. There are 1594 letters in each of the tefillin boxes. If one letter is extra, missing, or even incorrectly written, the tefillin are invalid.</p>

								<p class="mitzvot-paragraph">The boxes and straps are also made of leather from a kosher animal. The head-tefillin is made of four separate compartments, each one containing a scroll with one of the four Torah selections. The hand-tefillin has just one chamber, with all selections written on a single scroll.</p>

								<p class="mitzvot-paragraph">You’ll notice that the head tefillin has the Hebrew letter Shin (ש) on both sides, one with three branches, and the other with four.</p>
								<h3>Who Puts on Tefillin?</h3>
								<p class="mitzvot-paragraph">All Jewish males over the age of bar mitzvah (13 years old) should perform the mitzvah of tefillin.</p>

								<h3>When Are Tefillin Worn?</h3>
								<div class="th-caption right-caption">
									<a href="images/4.jpg">
										<img width="300" src="images/4.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>

								<p class="mitzvot-paragraph">You can fulfill the mitzvah by putting on tefillin anytime during the day—from sunrise to nightfall. A blessing is recited, and it is customary to read the Shema prayer. Traditionally, tefillin are worn during weekday morning prayers.</p>

								<p class="mitzvot-paragraph">Tefillin are not worn on Shabbat and major Jewish holidays (including Chol Hamoed, according to many).</p>
								<h3>How to Wear Tefillin</h3>

								<p class="mitzvot-paragraph">The hand-tefillin are strapped onto the left arm (or on the right arm, for a lefty), with the box resting on the bicep, facing the heart. The rest of the strap is then wound around the arm seven times, extending down to the long finger. There are many customs regarding how the coils are positioned on the arm and finger(s).</p>

								<p class="mitzvot-paragraph">The head-tefillin are placed on the head like a crown, with the box resting just above the hairline in the center of the forehead.</p>
								<h3>What’s the Point?</h3>
								<p class="mitzvot-paragraph">Mitzvahs are commandments, but the word mitzvah also comes from the root tzavta, which means “connection.” A mitzvah creates a bond between G‑d who commands and man who performs. In a sense, that makes tefillin the ultimate mitzvah. We’re commanded to literally bind ourselves to the one and only G‑d.</p>

								<p class="mitzvot-paragraph">More specifically, one of the boxes is placed on the arm so as to rest against the heart, the seat of the emotions, and the leather strap is wound around the left arm and hand. The other box is placed on the head, above the forehead. This teaches us to dedicate ourselves to the service of G‑d in all that we think, feel and do.</p>								
								<div class="th-caption center-caption">
									<a href="images/11.jpg">
										<img src="images/11.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<!-- <div class="post-ad">
									<span>Advertisment</span>
									<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
										<img src="images/banner.jpg" alt="Banner Image Placeholder">
									</a>
								</div> -->
							</div><!-- Post Body -->
							<div class="post-footer">
								<div class="post-picked" id="post-picked">
									<div class="picked-title">
										<h2>You might also like</h2>
										<span class="close"><i class="fa fa-close"></i></span>
									</div>
									<div class="picked-inner">
										<article class="post">
											<div class="post-thumb">
												<img src="images/2.jpg"/>
											</div><!-- Post Image -->
											<div class="post-category">
												<a href="page-category.html">Beauty</a>
											</div>
											<h5 class="post-title"><a href="post-single.html">The Miracle of the Torah.</a></h5><!-- Post Title -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
												<li><i class="fa fa-comment-o"></i> 240</li>
											</ul><!-- Post Meta -->
										</article>
									</div>
								</div>
								<div class="post-tags">
									<span>Tags</span>
									<a href="page-tag.html">Torah Study</a>
									<a href="page-tag.html">Parasha of the Week</a>
									<a href="page-tag.html">Prayer</a>
									
								</div><!-- Post Tags -->
			<!-- 					<div class="post-share">
									<span class="counter"><strong>24k</strong>Shares</span>
									<ul>
										<li class="facebook"><a href=""><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li>
										<li class="twitter"><a href=""><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
										<li class="google-plus"><a href=""><i class="fa fa-google-plus"></i></a></li>
										<li class="linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
										<li class="whatsapp"><a href=""><i class="fa fa-whatsapp"></i></a></li>
										<li class="email"><a href=""><i class="fa fa-envelope-o"></i></a></li>
									</ul>
								</div> --><!-- Post Share -->
								<div class="post-navigation">
									<ul>
										<li class="prev">
											<span>Prev Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
										<li class="next">
											<span>Next Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
									</ul>
								</div><!-- Post Navigation -->
								<div class="post-related">
									<div class="title">
										<h2>Related Posts</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/7.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/8.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/11.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Related Posts -->
								<div class="post-author">
									<div class="author-avatar">
										<img src="images/chabad.png" alt="Author Avatar Image" />
									</div>
									<div class="author-content">
										<div class="name">
											<span>Written By</span>
											<a class="author" href="http://www.chabad.org/library/article_cdo/aid/814118/jewish/Charity-Tzedakah.htm">Chabad.org</a>
										</div>
										<p>The content in this page is produced by Chabad.org, and is copyrighted by the author and/or Chabad.org. If you enjoyed this article, we encourage you to distribute it further, provided that you do not revise any part of it, and you include this note, credit the author, and link to www.chabad.org. If you wish to republish this article in a periodical, book, or website, please email permissions@chabad.org.</p>
									</div>
								</div>
								<div class="post-recommended">
									<div class="title">
										<h2>Recommended Articles</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/6.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/9.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/12.jpg">
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/10.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Recommended Posts -->
								<div class="comments" id="comments">
									<div class="title">
										<h2>Comments</h2></br></br>
										<div class="row">
											<div class="col-sm-1">
													<div class="thumbnail">
														<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
													</div><!-- /thumbnail -->
											</div><!-- /col-sm-1 -->
											<div class="col-sm-5">
												<div class="panel panel-default">
													<div class="panel-heading">
														<strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
													</div>
													<div class="panel-body">
														My comment
													</div><!-- /panel-body -->
												</div><!-- /panel panel-default -->
											</div><!-- /col-sm-5 -->
											</br>
										</div>
									 	<div class="well">
            								<h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
            								<form role="form">
                								<div class="form-group">
                    								<textarea class="form-control" rows="3"></textarea>
                								</div>
                								<button type="submit" name="say" value="" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
            								</form>
        								</div><!-- Blog title -->
									<div class="blog-wrapper">
										<div id="disqus_thread"></div>
										 <script>
										// 	(function() {
										// 	var d = document, s = d.createElement('script');
										// 	s.src = 'https://infinyteam.disqus.com/embed.js';
										// 	s.setAttribute('data-timestamp', +new Date());
										// 	(d.head || d.body).appendChild(s);
										// 	})();
										// </script>
									</div><!-- Blog Wrapper -->
								</div><!-- Blog Layout -->
							</div><!-- Post Footer -->
						</article><!-- Post -->
					</div><!-- Blog posts -->
				</section><!-- Main -->
				<aside-directive></aside-directive>
			</div><!-- Row -->
		</div><!-- Container -->
	</section><!-- Main Area -->
</div>