<div class="wide home">
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<h2 style="display: none;">Main</h2>
					<div class="blog-posts hfeed">
						<article class="post single-post">
							<div class="post-header">
								<div class="post-category">
									<a href="page-category.html">Charity: Tzedakah</a>
								</div>
								<h1 class="post-title">The Jewish security system</h1><!-- Post Title -->
								<ul class="post-meta">
									<li><img class="avatar" width="24" height="24" src="images/chabad.png" alt="Author Avatar Image" />by <a href="http://www.chabad.org/">Chabad.org</a></li>
									<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
									<li><i class="fa fa-comment-o"></i> 240</li>
									<li class="right"><i class="fa fa-eye"></i> 42,350 views</li>
								</ul><!-- Post Meta -->
							</div><!-- Post Header -->
<!-- 							<div class="post-share">
								<span class="counter"><strong>24k</strong>Shares</span>
								<ul>
									<li class="facebook"><a href=""><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li>
									<li class="twitter"><a href=""><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
									<li class="google-plus"><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li class="linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
									<li class="whatsapp"><a href=""><i class="fa fa-whatsapp"></i></a></li>
									<li class="email"><a href=""><i class="fa fa-envelope-o"></i></a></li>
								</ul>
							</div> --><!-- Post Share -->
							<div class="post-thumb">
								<img src="images/mezuzah.jpg" alt="Post Title Placeholder" />
							</div><!-- Post Image -->
							<br>
							<div class="post-body">
								<p class="mitzvot-paragraph">A mezuzah is parchment scroll, on which the Shema is handwritten by an expert scribe.</p>
								<p class="mitzvot-paragraph">A mezuzah mounted on the right side of the doorpost designates the home as Jewish, reminding us of G‑d and our heritage. It is also a symbol of G‑d's watchful care over the home. The placing of a mezuzah on the doors of a home or office protects the inhabitants -- whether they are inside or outside.</p>
								<h3>What Constitutes a Kosher Mezuzah?</h3>	
								<p class="mitzvot-paragraph">The decorative case containing the mezuzah scroll is just that: a mere container. What’s important is the scroll, upon which the first two sections of the Shema are handwritten, beginning with the eternal words “Hear o Israel, the L‑rd is our G‑d, the L‑rd is One.”1 These selections both contain G‑d’s instruction to affix the mezuzah: “You shall write them on the doorposts of your house and on your gates.”</p>
								<p class="mitzvot-paragraph">These words are handwritten by an expert scribe who is trained in the many laws involved in writing a mezuzah, including the requirement that it be written with special intention and that the words be written in order.</p>
								<p class="mitzvot-paragraph">Every single letter in the mezuzah must be properly formed. A single crack in the parchment or any omission can invalidate the entire scroll. A printed mezuzah is invalid. For this reason it is vital that it be purchased from a reputable scribe or retailer.</p>
								<p class="mitzvot-paragraph">On the reverse side of the scroll, the scribe writes one of G‑d’s names: Sha-dai. The three letters of this name form an acronym for the Hebrew words that mean “Guardian of the doorways of Israel.” Since this name of G‑d begins with the letter shin, mezuzah cases are often decorated with that letter.</p>
								<div class="th-caption right-caption">
									<a href="images/4.jpg">
										<img width="300" src="images/4.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<p class="mitzvot-subheading">Where Do Mezuzahs Hang?</p>
								<p class="mitzvot-paragraph">You should hang a mezuzah on just about every doorway that belongs to you. Notable exceptions are doors leading to bathrooms and small closets.</p>
								<p class="mitzvot-paragraph">Standard Jewish practice is to give at least 10% of net income to charity. There's plenty written on what's considered net—and on when tuition fees and other mitzvah-related items can be deducted from the ten percent. Speak with your rabbi about your specific issues.</p>
								<p class="mitzvot-paragraph">The mezuzah should be hung on the right side of the door, on the top third of the doorway. The mezuzah should be right-side up, and slanted so that the top of the mezuzah faces inwards towards the room.</p>
								<p class="mitzvot-subheading">What Does the Mezuzah Mean?</p>
								<p class="mitzvot-paragraph">Judaism is not confined to synagogues. We strive for spirituality even within the comfort and familiarity of our own homes. The mezuzah on the doorpost reminds those who walk through that G‑dly life and Torah accompany them wherever they go.</p>
								<p class="mitzvot-paragraph">Our sages teach that a mezuzah has the unique property of protecting the inhabitants of the home where it is hung—whether the inhabitants are inside or outside that home. The mezuzah can be compared to a “helmet,” a veneer that protects us against the dangers that surround us in our lives.</p>
								<p class="mitzvot-paragraph">The Talmud teaches that while most kings sit on the inside while their guards protect them from without, G‑d stations His protection (as manifested in the mezuzah) on the outside, protecting His beloved people.</p>
								<p class="mitzvot-paragraph">G‑d promises that anyone who carefully observes the mitzvah of mezuzah will lead a longer, richer life, as will their descendants, as Deuteronomy states, “So that you will prolong your days and the days of your children.”</p>
								<p class="mitzvot-paragraph">When passing through a doorway where a mezuzah has been affixed, we glance at it and touch it. Some people then kiss their fingertips. This serves as a reminder throughout the day that G‑d is always with us, inside or outside our homes.</p>
								<h3>How to Affix a Mezuzah</h3>
								<p class="mitzvot-subheading">1. What Do I Need?</p>
								<p class="mitzvot-paragraph">To properly affix Mezuzahs to your doorposts you will need:
									<ol style="text-align: justify; padding: 0 30px;">
										<li>Kosher mezuzah scrolls, one for each qualifying doorway in your home or office.</li>
										<li>Protective cases in which the rolled parchment scrolls are inserted.</li>
										<li>A measuring tape and pencil to mark the spot on the doorpost where the Mezuzah is to be affixed.</li>
										<li>Hammer and nails, screws and a drill, or as a last resort, an industrial-strength glue or double-sided tape, with which to affix the mezuzah.</li>
										<li>A printout of this page with the instructions and blessing.</li>
									</ol>
								</p>
								<div class="th-caption left-caption">
									<a href="images/12.jpg">
										<img width="300" src="images/12.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<p class="mitzvot-subheading">2. Which Rooms Require a Mezuzah?</p>
								<p class="mitzvot-paragraph">Before you go out to purchase your mezuzahs, you need to figure out how many your house requires. Which doorways need a mezuzah?</p>
								<p class="mitzvot-paragraph">A mezuzah is affixed to every doorway in your home or office that leads into a proper room, except for the bathroom. What qualifies as a "room"? Any enclosed space that's at least 6.5 ft. x 6.5 feet. This includes vestibules, hallways, large walk-in closets, etc.</p>
								<p class="mitzvot-paragraph">If there are several doorways leading into a room, each doorway requires its own mezuzah. Doorways without doors (e.g., archways between rooms) also require a mezuzah. Count the doorways that qualify to determine the number of mezuzahs you need.</p>
								<p class="mitzvot-subheading">3. How to Get Kosher Mezuzahs?</p>
								<p class="mitzvot-paragraph">Now that you know how many mezuzahs you need, do some research to find the right place to purchase them. Because mezuzahs must be made according to very exact laws and specifications, only an expert can determine if a mezuzah is indeed “kosher.”</p>
								<p class="mitzvot-paragraph">Some basics: The mezuzah must be hand-written by a competent ritual scribe on specially prepared parchment with the specific types of quill and ink mandated by tradition. All too often, printed or improperly prepared mezuzahs, or even empty cases, are fraudulently sold. So make sure to purchase your mezuzahs from a trusted religious source, or ask your rabbi for help.</p>
								<p class="mitzvot-paragraph">The mezuzah scroll is rolled from left to right and placed right-side-up in a protective case.</p>
								<p class="mitzvot-paragraph">If you will be putting your mezuzah into a case, carefully insert it in a way that the letter Shin will be upright and facing toward the doorway. Also take care that the role not be pinched or bent in the process.</p>
								<p class="mitzvot-subheading">4. Mark the Spot!</p>
								<p class="mitzvot-paragraph">A mezuzah is affixed on the right doorpost, approximately, at the bottom of the top third of the doorpost.</p>
								<p class="mitzvot-paragraph">For the front door, the right doorpost is the doorpost to the right of the person entering from the street. In internal doorways, it is the doorpost to the right of a person entering in the direction towards which the door opens. If there is no door, think about importance and function: the dining room is more important in the hierarchy of the home (it's used more formally) than the kitchen, so in a doorway between the dinning room and the kitchen, the mezuzah should be on the right of the person entering the dining room.</p>
								<p class="mitzvot-paragraph">To determine the proper height at which to affix the mezuzah, use a measuring tape to get the total height of the doorpost. Divide it into three, and measure that amount from the top of your doorpost. Use a pencil to mark the spot. Your mezuzah should sit right atop that mark.</p>
								<p class="mitzvot-subheading">5. The Blessing</p>
								<p class="mitzvot-paragraph">You are now ready to affix the mezuzah. The blessing is recited once, before putting up the mezuzahs. You will put up the first mezuzah on one of the most important doorways in your home, such as your bedroom. Have the mezuzah and tools in hand. As you recite the blessing, keep in mind that it applies to all the mezuzahs you will presently affix in your home.</p>
								<p class="mitzvot-paragraph">Recite the blessing. If you can read and understand the original Hebrew, say it in Hebrew. Otherwise, you can say it in any language you understand</p>
								<p class="mitzvot-bracha">Baruch Atah A-do-nai Elo-heinu Melech haolam asher kideshanu bemitzvotav vetzivanu likboa mezuzah</p>
								<p class="mitzvot-bracha">(Blessed are you, G‑d our G‑d, King of the Universe, Who has made us holy with His commandments and commanded us to affix a mezuzah).</p>
								<!-- <div class="post-ad">
									<span>Advertisment</span>
									<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
										<img src="images/banner.jpg" alt="Banner Image Placeholder">
									</a>
								</div> -->
								<p class="mitzvot-subheading">6. Affix the Mezuzah</p>
								<p class="mitzvot-paragraph">
									The mezuzah must be permanently attached to the doorpost. Use hammer and nails, glue, or a durable double-sided tape. Position the mezuzah above the one-third mark you've made. It should be towards the outer edge of the doorpost, on a slant with the top pointing inwards to the room.
								</p>
								<p class="mitzvot-paragraph">
									Immediately after reciting the blessing, affix the mezuzah. Do not allow interruptions as you then proceed to the remaining rooms in your home. Remember to affix each mezuzah according to the above-mentioned specifications.
								</p>
								<p class="mitzvot-subheading">7. Regular Checkups</p>
								<p class="mitzvot-paragraph">You have now affixed the mezuzahs. Your home proudly displays its Jewish identity, and you've tapped into this unique spiritual connection. But you're not finished yet. The mezuzah is a holy object that must be properly maintained.</p>
								<p class="mitzvot-paragraph">At least twice in seven years, we take down our mezuzahs and have them professionally checked to ascertain that they are intact. The scribe examines the scrolls to ensure that no letters have been cracked or erased and that the mezuzah is still good. Our vigilance keeps our mezuzahs performing their function: bringing holiness, protection and merit to our home.</p>
								</p>
								<div class="th-caption center-caption">
									<a href="images/11.jpg">
										<img src="images/11.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<!-- <div class="post-ad">
									<span>Advertisment</span>
									<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
										<img src="images/banner.jpg" alt="Banner Image Placeholder">
									</a>
								</div> -->
							</div><!-- Post Body -->
							<div class="post-footer">
								<div class="post-picked" id="post-picked">
									<div class="picked-title">
										<h2>You might also like</h2>
										<span class="close"><i class="fa fa-close"></i></span>
									</div>
									<div class="picked-inner">
										<article class="post">
											<div class="post-thumb">
												<img src="images/2.jpg"/>
											</div><!-- Post Image -->
											<div class="post-category">
												<a href="page-category.html">Beauty</a>
											</div>
											<h5 class="post-title"><a href="post-single.html">The Miracle of the Torah.</a></h5><!-- Post Title -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
												<li><i class="fa fa-comment-o"></i> 240</li>
											</ul><!-- Post Meta -->
										</article>
									</div>
								</div>
								<div class="post-tags">
									<span>Tags</span>
									<a href="page-tag.html">Torah Study</a>
									<a href="page-tag.html">Parasha of the Week</a>
									<a href="page-tag.html">Prayer</a>
									
								</div><!-- Post Tags -->
			<!-- 					<div class="post-share">
									<span class="counter"><strong>24k</strong>Shares</span>
									<ul>
										<li class="facebook"><a href=""><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li>
										<li class="twitter"><a href=""><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
										<li class="google-plus"><a href=""><i class="fa fa-google-plus"></i></a></li>
										<li class="linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
										<li class="whatsapp"><a href=""><i class="fa fa-whatsapp"></i></a></li>
										<li class="email"><a href=""><i class="fa fa-envelope-o"></i></a></li>
									</ul>
								</div> --><!-- Post Share -->
								<div class="post-navigation">
									<ul>
										<li class="prev">
											<span>Prev Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
										<li class="next">
											<span>Next Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
									</ul>
								</div><!-- Post Navigation -->
								<div class="post-related">
									<div class="title">
										<h2>Related Posts</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/7.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/8.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/11.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Related Posts -->
								<div class="post-author">
									<div class="author-avatar">
										<img src="images/chabad.png" alt="Author Avatar Image" />
									</div>
									<div class="author-content">
										<div class="name">
											<span>Written By</span>
											<a class="author" href="http://www.chabad.org/library/article_cdo/aid/814118/jewish/Charity-Tzedakah.htm">Chabad.org</a>
										</div>
										<p>The content in this page is produced by Chabad.org, and is copyrighted by the author and/or Chabad.org. If you enjoyed this article, we encourage you to distribute it further, provided that you do not revise any part of it, and you include this note, credit the author, and link to www.chabad.org. If you wish to republish this article in a periodical, book, or website, please email permissions@chabad.org.</p>
									</div>
								</div>
								<div class="post-recommended">
									<div class="title">
										<h2>Recommended Articles</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/6.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/9.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/12.jpg">
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/10.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Recommended Posts -->
								<div class="comments" id="comments">
									<div class="title">
										<h2>Comments</h2></br></br>
										<div class="row">
											<div class="col-sm-1">
													<div class="thumbnail">
														<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
													</div><!-- /thumbnail -->
											</div><!-- /col-sm-1 -->
											<div class="col-sm-5">
												<div class="panel panel-default">
													<div class="panel-heading">
														<strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
													</div>
													<div class="panel-body">
														My comment
													</div><!-- /panel-body -->
												</div><!-- /panel panel-default -->
											</div><!-- /col-sm-5 -->
											</br>
										</div>
									 	<div class="well">
            								<h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
            								<form role="form">
                								<div class="form-group">
                    								<textarea class="form-control" rows="3"></textarea>
                								</div>
                								<button type="submit" name="say" value="" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
            								</form>
        								</div><!-- Blog title -->
									<div class="blog-wrapper">
										<div id="disqus_thread"></div>
										 <script>
										// 	(function() {
										// 	var d = document, s = d.createElement('script');
										// 	s.src = 'https://infinyteam.disqus.com/embed.js';
										// 	s.setAttribute('data-timestamp', +new Date());
										// 	(d.head || d.body).appendChild(s);
										// 	})();
										// </script>
									</div><!-- Blog Wrapper -->
								</div><!-- Blog Layout -->
							</div><!-- Post Footer -->
						</article><!-- Post -->
					</div><!-- Blog posts -->
				</section><!-- Main -->
				<aside-directive></aside-directive>
			</div><!-- Row -->
		</div><!-- Container -->
	</section><!-- Main Area -->
</div>