<div class="wide home">
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<h2 style="display: none;">Main</h2>
					<div class="blog-posts hfeed">
						<article class="post single-post">
							<div class="post-header">
								<div class="post-category">
									<a href="page-category.html">Mitzvot</a>
								</div>
								<h1 class="post-title">Blessings for Food &amp; Other Occasions</h1><!-- Post Title -->
								<ul class="post-meta">
									<li><img class="avatar" width="24" height="24" src="images/author.jpg" alt="Author Avatar Image" />by <a href="page-author.html">Chabad.org</a></li>
									<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
									<li><i class="fa fa-comment-o"></i> 240</li>
									<li class="right"><i class="fa fa-eye"></i> 42,350 views</li>
									<li class="right"><a href="#print"><i class="fa fa-print"></i> Print This Post</a></li>
								</ul><!-- Post Meta -->
							</div><!-- Post Header -->
<!-- 							<div class="post-share">
								<span class="counter"><strong>24k</strong>Shares</span>
								<ul>
									<li class="facebook"><a href=""><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li>
									<li class="twitter"><a href=""><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
									<li class="google-plus"><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li class="linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
									<li class="whatsapp"><a href=""><i class="fa fa-whatsapp"></i></a></li>
									<li class="email"><a href=""><i class="fa fa-envelope-o"></i></a></li>
								</ul>
							</div> --><!-- Post Share -->
							<div class="post-thumb">
								<img src="images/9.jpg" alt="Post Title Placeholder" />
							</div><!-- Post Image -->
							<div class="post-body">
								<p style="text-align: justify; padding: 0 0px;">Few activities are as instinctive as eating: it is a basic bodily need, requires no thought or advance preparation, and is, largely, for us today, readily available. And yet the Torah demands from us that before putting anything in our mouths, or otherwise taking pleasure from G‑d's world, we pause for a moment, recite a few words to ourselves, and only then proceed to enjoy. And with these words, this simple blessing, we have transformed the most prosaic of acts into something holy.</p>
								<p style="text-align: justify; padding: 0 0px;">How? By acknowledging G‑d as the source of all sustenance, recognizing that the earth and its bounties belong to Him, and expressing our gratitude to Him for providing it for us. All this with the words: "Blessed are You, Lord our G‑d, King of the universe..."
								</p>
								<h3>Basic Blessings on Food Guide</h3>
								<p style="text-align: justify; padding: 0 0px;"><strong>1. Why a Blessing?</strong></p>
								<p style="text-align: justify; padding: 0 0px;">The Sages ordained that "one should not derive benefit from this world without first reciting a blessing." Making a blessing before eating is tantamount to "asking permission" from G‑d, acknowledging that "the world, and everything in it, is G‑d's" (Psalms 24:1) and G‑d is the true source of all the gifts of life. It imbues the mundane act of eating with a spiritual awareness--awareness of the true Source of our sustenance, and of the purpose of eating.</p>
								<p style="text-align: justify; padding: 0 0px;">We make different blessings for different food types before eating, and after-blessings when the repast is complete.</p>
								<p style="text-align: justify; padding: 0 0px;"><strong>2. Bread</strong></p>
								<p style="text-align: justify; padding: 0 0px;">Bread made from the five species of grains identified by our sages (wheat, barley, rye, spelt or oat) require the blessing "Hamotzi". In order to be considered bread, the liquid ingredient has to be primarily water and it has to be baked. Dough that uses more oil or fruit juice than water (like pastries), or dough that is fried or cooked (like pasta) is not regarded as "bread."</p>
								<p style="text-align: justify; padding: 0 0px;">In addition to the blessing made on food, bread has the special requirement that we ritually wash our hands before partaking of it. Fill a large cup with water and pour it three times over your right hand, then three times over the left. Lift your hands and rub them together, and as you do so recite the following blessing:
								</p>
								<p style="text-align: justify; padding: 0 0px; font-style: italic;">Baruch atah A-donay, Elo-heinu Melech Ha’Olam, asher kideshanu bemitzvotav vetzivanu al netilat yadayim.</p>
								<p style="text-align: justify; padding: 0 0px; font-style: italic;">(Blessed are You L-rd our G‑d King of the universe Who has sanctified us with his commandments and commanded us on the washing of the hands.)</p>
								<p style="text-align: justify; padding: 0 0px;">Then dry your hands thoroughly.</p>
								<p style="text-align: justify; padding: 0 0px;">The blessing on bread:</p>
								<p style="text-align: justify; padding: 0 0px; font-style: italic;">Baruch atah A-donay, Elo-heinu Melech Ha’Olam Hamotzi lechem min haaretz.</p>
								<p style="text-align: justify; padding: 0 0px; font-style: italic;">(Blessed are You, L-rd our G‑d, King of the Universe, Who brings forth bread from the earth.)</p>
								<div class="th-caption left-caption">
									<a href="images/12.jpg">
										<img width="300" src="images/12.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<p style="text-align: justify; padding: 0 0px;"><strong>3. Foods Eaten with Bread</strong></p>
								<p style="text-align: justify; padding: 0 30px;">When eating a meal that includes bread, begin your meal by washing, making the "Hamotzi" blessing, and eating a piece of bread. The Hamotzi blessing will "cover" everything you eat as part of the meal (except for dessert and wine). "Grace After Meals," recited after the meal, will cover everything you've eaten.</p>
								<p style="text-align: justify; padding: 0 30px;">When eating foods outside of a meal with bread, individual food types get their own blessing before and after eating, as specified below.</p>
								<!-- <div class="post-ad">
									<span>Advertisment</span>
									<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
										<img src="images/banner.jpg" alt="Banner Image Placeholder">
									</a>
								</div> -->
								<br>
								<br>
								<p style="text-align: justify; padding: 0 0px;"><strong>4. "Mezonot"</strong></p>
								<p style="text-align: justify; padding: 0 30px;">
									Food that is made from grain (wheat, barley, rye, spelt or oat) but is not bread gets the blessing mezonot. This includes cakes and pastries, most crackers and cereals, pasta and other cooked grain products like farfel and couscous.
								</p>
								<p style="text-align: justify; padding: 0 30px;">
									The blessing:
								</p>
								<p style="text-align: justify; padding: 0 30px;">
									Baruch atah A-donay, Elo-heinu Melech Ha’Olam borei minei mezonot.
								</p>
								<p style="text-align: justify; padding: 0 30px;">
									Blessed are you L-rd our G‑d, King of the Universe, Who creates various kinds of sustenance.
								</p>
								<h3>The Slaughter and Butchering of Kosher Meat</h3>
								<p style="text-align: justify; padding: 0 30px;">
									Kosher mammals and birds are slaughtered by a special procedure called shechitah, in which the animal’s throat is quickly, precisely and painlessly cut with a sharp, perfectly smooth knife (called a chalaf) by a shochet—a highly trained, Torah-observant and G‑d-fearing individual.
								</p>
								<p style="text-align: justify; padding: 0 30px;">
									An animal that dies or is killed by any other means is not kosher. It is also strictly forbidden to eat flesh removed from an animal while it is alive (this prohibition is actually one of the Seven Universal Noahide Laws, and is the only kosher law that applies to non-Jews as well as to Jews).
								</p>
								<p style="text-align: justify; padding: 0 30px;">
									After the slaughtering, the internal organs of cattle are examined for potentially fatal diseases or injuries, such as adhesions (sirchot) in the lungs or holes in the stomach. The occurrence of any one of dozens of specified tereifot, as these defects are called, renders the entire animal not kosher.
								</p>
								<p style="text-align: justify; padding: 0 30px;">
									Nikur (“deveining”) involves removing certain forbidden veins and fats from cattle. They are extremely prevalent in the hindquarters, and due to the complexity involved in their removal, this part of the animal is generally not sold as kosher.
								</p>
								<h3>Blood Removal</h3>
								<div class="th-caption right-caption">
									<a href="images/4.jpg">
										<img width="300" src="images/4.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<p style="text-align: justify; padding: 0 30px;">The blood of mammals and fowl is utterly forbidden for consumption according to the Torah. Within 72 hours of slaughter, all extractable blood is drained from the meat by a special soaking and salting process. (Today, most kosher meat is sold with the blood already removed.)</p>
								<p style="text-align: justify; padding: 0 30px;">The liver, which has an especially high blood content, needs to undergo a special broiling process before it can be eaten.</p>
								<p style="text-align: justify; padding: 0 30px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, sunt, hic sed aspernatur exercitationem assumenda iste, suscipit est tempora cumque nemo nihil nesciunt ad delectus dolore dolorum minima itaque. Ullam.</p>
								<h3>Milk, Eggs and Honey</h3>
								<div class="th-caption center-caption">
									<a href="images/11.jpg">
										<img src="images/11.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<p style="text-align: justify; padding: 0 30px;">A rule of thumb cited by the Talmud is: What comes from a kosher animal is kosher; what comes from a non-kosher animal is not kosher.</p>
								<p style="text-align: justify; padding: 0 30px;">Thus, milk and eggs are kosher only when they come from kosher animals. In addition, all eggs should be carefully examined before use to ensure that they are free of blood spots.</p>
								<p style="text-align: justify; padding: 0 30px;">Honey is not considered an animal product, so honey is kosher though bees are not.</p>
								<p style="text-align: justify; padding: 0 30px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia eveniet nemo quibusdam aperiam repellat quaerat blanditiis inventore, quidem quis saepe officiis est velit? Sed nemo sint praesentium qui rem eligendi, modi officia libero nisi quis nostrum cupiditate, sapiente iste, facilis laborum, ut temporibus earum unde illum quae distinctio repudiandae. Tempora!</p>
								<div class="post-ad">
									<!-- <span>Advertisment</span>
									<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
										<img src="images/banner.jpg" alt="Banner Image Placeholder">
									</a> -->
								</div>
							</div><!-- Post Body -->
							<div class="post-footer">
								<div class="post-picked" id="post-picked">
									<div class="picked-title">
										<h2>You might also like</h2>
										<span class="close"><i class="fa fa-close"></i></span>
									</div>
									<div class="picked-inner">
										<article class="post">
											<div class="post-thumb">
												<img src="images/2.jpg"/>
											</div><!-- Post Image -->
											<div class="post-category">
												<a href="page-category.html">Beauty</a>
											</div>
											<h5 class="post-title"><a href="post-single.html">The Miracle of the Torah.</a></h5><!-- Post Title -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
												<li><i class="fa fa-comment-o"></i> 240</li>
											</ul><!-- Post Meta -->
										</article>
									</div>
								</div>
								<div class="post-tags">
									<span>Tags</span>
									<a href="page-tag.html">Torah Study</a>
									<a href="page-tag.html">Parasha of the Week</a>
									<a href="page-tag.html">Prayer</a>
									
								</div><!-- Post Tags -->
			<!-- 					<div class="post-share">
									<span class="counter"><strong>24k</strong>Shares</span>
									<ul>
										<li class="facebook"><a href=""><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li>
										<li class="twitter"><a href=""><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
										<li class="google-plus"><a href=""><i class="fa fa-google-plus"></i></a></li>
										<li class="linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
										<li class="whatsapp"><a href=""><i class="fa fa-whatsapp"></i></a></li>
										<li class="email"><a href=""><i class="fa fa-envelope-o"></i></a></li>
									</ul>
								</div> --><!-- Post Share -->
								<div class="post-navigation">
									<ul>
										<li class="prev">
											<span>Prev Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
										<li class="next">
											<span>Next Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
									</ul>
								</div><!-- Post Navigation -->
								<div class="post-related">
									<div class="title">
										<h2>Related Posts</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/7.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/8.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/11.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Related Posts -->
								<div class="post-author">
									<div class="author-avatar">
										<img src="images/author.jpg" alt="Author Avatar Image" />
									</div>
									<div class="author-content">
										<div class="name">
											<span>Written By</span>
											<a class="author" href="page-author.html">Chabad.org</a>
										</div>
										<p>The content in this page is produced by Chabad.org, and is copyrighted by the author and/or Chabad.org. If you enjoyed this article, we encourage you to distribute it further, provided that you do not revise any part of it, and you include this note, credit the author, and link to www.chabad.org. If you wish to republish this article in a periodical, book, or website, please email permissions@chabad.org.</p>
										<ul class="author-social">
											<li><a href="#" title="My Website"><i class="fa fa-globe"></i></a></li>
											<li><a href="#" title="Follow me on twitter"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#" title="Follow me on instagram"><i class="fa fa-instagram"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="post-recommended">
									<div class="title">
										<h2>Recommended Articles</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/6.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/9.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/12.jpg">
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/10.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Recommended Posts -->
								<div class="comments" id="comments">
									<div class="title">
										<h2>Comments</h2></br></br>

<div class="row">
<div class="col-sm-1">
<div class="thumbnail">
<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->

<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">

<strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
</div>
<div class="panel-body">
My comment
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->
</br>



									</div>

									  <div class="well">
            <h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" name="say" value="" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
            </form>
        </div><!-- Blog title -->
									<div class="blog-wrapper">
										<div id="disqus_thread"></div>
										 <script>
										// 	(function() {
										// 	var d = document, s = d.createElement('script');
										// 	s.src = 'https://infinyteam.disqus.com/embed.js';
										// 	s.setAttribute('data-timestamp', +new Date());
										// 	(d.head || d.body).appendChild(s);
										// 	})();
										// </script>
									</div><!-- Blog Wrapper -->
								</div><!-- Blog Layout -->
							</div><!-- Post Footer -->
						</article><!-- Post -->
					</div><!-- Blog posts -->
				</section><!-- Main -->
				<aside-directive></aside-directive>
			</div><!-- Row -->
		</div><!-- Container -->
	</section><!-- Main Area -->
</div>