<div class="wide home">
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<h2 style="display: none;">Main</h2>
					<div class="blog-posts hfeed">
						<article class="post single-post">
							<div class="post-header">
								<div class="post-category">
									<a href="page-category.html">Honoring Parents</a>
								</div>
								<h1 class="post-title">Kibbud Av Va'em - Honor Due to Parents</h1><!-- Post Title -->
								<ul class="post-meta">
									<li><img class="avatar" width="24" height="24" src="images/chabad.png" alt="Author Avatar Image" />by <a href="http://www.chabad.org/">Chabad.org</a></li>
									<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
									<li><i class="fa fa-comment-o"></i> 240</li>
									<li class="right"><i class="fa fa-eye"></i> 42,350 views</li>
								</ul><!-- Post Meta -->
							</div><!-- Post Header -->
<!-- 							<div class="post-share">
								<span class="counter"><strong>24k</strong>Shares</span>
								<ul>
									<li class="facebook"><a href=""><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li>
									<li class="twitter"><a href=""><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
									<li class="google-plus"><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li class="linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
									<li class="whatsapp"><a href=""><i class="fa fa-whatsapp"></i></a></li>
									<li class="email"><a href=""><i class="fa fa-envelope-o"></i></a></li>
								</ul>
							</div> --><!-- Post Share -->
							<div class="post-thumb">
								<img src="images/relationship.jpg" alt="Post Title Placeholder" />
							</div><!-- Post Image -->
							<br>
							<div class="post-body">
								<p class="mitzvot-subheading">Behold, I will send you Elijah the Prophet before the coming of the great and awesome day of the L‑rd, and he shall turn the heart of the fathers to the children and the heart of the children to their fathers.</p>
								<p class="mitzvot-paragraph">Nearly every day of his life man is faced with the problem of rendering value-judgements affecting his behavior. Oftentimes, when exposed to various temptations, man’s judgements tend to be clouded by subjectivity. Situations arise in which he will shrug off some duties or ignore some injunctions—in whole or in part—considering them to be trivial.</p>
								<p class="mitzvot-paragraph">In such cases, however, neglect of the apparently minor obligation may ultimately prove to be of tragic consequence. That is why we are admonished to heed what appears to be a minor precept as much as the major one.</p>
								<p class="mitzvot-paragraph">The “minor” precepts, or the seemingly “minor” details of the mitzvot, are in fact of major significance.</p>
								<p class="mitzvot-paragraph">TThe Psalmist’s words, “The iniquity of my heels compasseth me about,”3 are interpreted to mean that “those sins that man tramples upon with his heels in this world (because they appear to him unimportant) encompass and surround him on the Day of Judgement.”</p>

								<p class="mitzvot-paragraph">The “minor” details or aspects of the mitzvot are of a very real consequence. For one thing, they add up individually, and in their grand total rise to great proportion; but, also, it is the care and observance of minutiae which leads to the care and observance of the major precepts, as much as that the neglect of minutiae ultimately leads to major transgressions.</p>

								<p class="mitzvot-paragraph">The principle stated above applies especially to precepts that impose daily duties and a practically continuous personal involvement. For in cases as such there lurks the danger of “familiarity breeding neglect if not contempt.”</p>

								<p class="mitzvot-paragraph">One of those continuous and exacting precepts is the duty to honor and revere our parents.</p>

								<p class="mitzvot-paragraph">Following, we offer a brief outline of what our tradition understands by this precept, and some of the specific obligations of children towards their parents.</p>

								<p class="mitzvot-paragraph">The subject deserves close attention. For even while the mitzvah of kibbud av va’em (the precept to honor father and mother) may be a self-evidently rational5-ethical principle, the Talmud refers to it as the most difficult mitzvah.6</p>

								<p class="mitzvot-paragraph">Moreover, nowadays we find even most fundamental principles of normal ethical behavior trampled upon. Very often parents are no longer recognized as forging links in a chain of human development and as the bridges to, and pillars of, the future, but as obscurant obstacles to self-centered pursuits.</p>

								<p class="mitzvot-paragraph">Unfortunately, more often than not, parents must more than share the guilt for this anomaly. For just as the child has responsibilities towards its parents, the parents have definite duties and responsibilities towards their children. Foremost among the parent’s duties toward his offspring is to teach him Torah, to guide him and to prepare him for a committed and meaningful Torah-life.</p>

								<p class="mitzvot-paragraph">But though the failures of the parents in their duties is often causally related to the failures of the child, by no means does this exempt or excuse the child’s neglect of his own responsibilities.</p>

								<p class="mitzvot-paragraph">The Torah decrees that where the parent neglects to teach his child, the child must teach himself, and on his own seek to acquire the knowledge essential to a life in accordance with the Torah.</p>
								<h3>The Meaning of Honor</h3>	
								<div class="th-caption right-caption">
									<a href="images/4.jpg">
										<img width="300" src="images/4.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<p class="mitzvot-paragraph">What constitutes honor? One must provide them with food and drink, clothing and garments, to conduct them home and take them out, and rise before them. And one must provide them with all their needs cheerfully: even if one should feed them daily the most delectable foods but does so with ill grace, one incurs Divine punishment. And conversely, if one makes his father do hard labor but the intention is good, viz. to save him from a worse fate -- and he appeases his father by showing him that his intention is good -- one inherits the world to come.</p>
								<p class="mitzvot-paragraph">Also, one must perform for parents all such services as a servant performs for his master; and one is duty bound to render personal services even at personal expense.</p>
								<p class="mitzvot-paragraph">To what lengths should the duty of honoring parents go? Even were they to take his purse full of gold, and cast it into the sea in his presence, he must not shame them, manifest grief in their presence, or display any anger, but accept the Divine decree without demur! [Shulchan Aruch, ibid, 240:4ff.]</p>
								<div class="th-caption left-caption">
									<a href="images/12.jpg">
										<img width="300" src="images/12.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<h3>Two Commandments</h3>
								<p class="mitzvot-paragraph">The great importance and significance of the Mitzvah to honor parents is seen in the fact that it is part of the Decalogue, the core of the Torah.</p>
								<p class="mitzvot-paragraph">[This is not to be understood as an essential differentiation between the ten Mitzvos of the Decalogue and the remaining 603 Mitzvos in the other part of the Torah. The whole Torah, all 613 Mitzvos, emits from the same source, i.e. from G‑d, and no essential distinction can therefore be made between one part and another. Even so, the Decalogue has the distinction of having been proclaimed by the public Divine Revelation at Sinai, while the other commandments were transmitted via Moses. This in itself would still not offer an essential difference between the commandments of the Decalogue and the other Mitzvos. However, the Decalogue is not only a code of ten specific Mitzvos, but moreover, a statement of ten comprehensive principles which imply and comprise all 613 Mitzvos of the Torah. (See Zohar II:90b and 93b; Numbers Rabba 13:16 and 18:21).</p>
								<p class="mitzvot-paragraph">In fact, several works have been composed which show how the 613 Mitzvos are to be grouped into these ten principal categories (See Rashi on Exodus 24:12; "Commentary on Shir Hashirim" attributed to Nachmanides, end.) Thus, there is some special significance even to the specific precepts of the Decalogue.]</p>
								<p class="mitzvot-subheading">Two commandments in the Torah</p>
								<p class="mitzvot-paragraph">[Maimonides (and others) enumerates in addition to these commandments also three prohibitions:</p>
								<p class="mitzvot-paragraph">a) not to curse one's father or mother; b) no to smite one's father or mother; and c) that a son shall not rebel against the authority of his father or mother.</p>

								<p class="mitzvot-paragraph">See Sefer Hamitzvos II:218, 219 and 195, and Hilchos Mamrim ch 5ff.; note also the commentaries ad loc.]</p>

								<p class="mitzvot-paragraph">Dealing with the duties and the relationship of the child to its parents:</p>

								<p class="mitzvot-paragraph">a) Honor your father and your mother, (Exodus 20:12; Deut. 5:16)</p>

								<p class="mitzvot-paragraph">b) Ye shall fear every man his mother and his father (Levit.19:3)</p>

								<p class="mitzvot-paragraph">[In the matter of honor due to parents, the father is mentioned first; in the matter of reverence due to them, the mother is mentioned first. From this we infer that both are to be equally honored and revered. [Kerrithoth 6:9 (28a)] Thus, whatever is said of one parent applies equally to the other parent.]</p>
								<div class="th-caption center-caption">
									<a href="images/11.jpg">
										<img src="images/11.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<!-- <div class="post-ad">
									<span>Advertisment</span>
									<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
										<img src="images/banner.jpg" alt="Banner Image Placeholder">
									</a>
								</div> -->
							</div><!-- Post Body -->
							<div class="post-footer">
								<div class="post-picked" id="post-picked">
									<div class="picked-title">
										<h2>You might also like</h2>
										<span class="close"><i class="fa fa-close"></i></span>
									</div>
									<div class="picked-inner">
										<article class="post">
											<div class="post-thumb">
												<img src="images/2.jpg"/>
											</div><!-- Post Image -->
											<div class="post-category">
												<a href="page-category.html">Beauty</a>
											</div>
											<h5 class="post-title"><a href="post-single.html">The Miracle of the Torah.</a></h5><!-- Post Title -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
												<li><i class="fa fa-comment-o"></i> 240</li>
											</ul><!-- Post Meta -->
										</article>
									</div>
								</div>
								<div class="post-tags">
									<span>Tags</span>
									<a href="page-tag.html">Torah Study</a>
									<a href="page-tag.html">Parasha of the Week</a>
									<a href="page-tag.html">Prayer</a>
									
								</div><!-- Post Tags -->
			<!-- 					<div class="post-share">
									<span class="counter"><strong>24k</strong>Shares</span>
									<ul>
										<li class="facebook"><a href=""><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li>
										<li class="twitter"><a href=""><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
										<li class="google-plus"><a href=""><i class="fa fa-google-plus"></i></a></li>
										<li class="linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
										<li class="whatsapp"><a href=""><i class="fa fa-whatsapp"></i></a></li>
										<li class="email"><a href=""><i class="fa fa-envelope-o"></i></a></li>
									</ul>
								</div> --><!-- Post Share -->
								<div class="post-navigation">
									<ul>
										<li class="prev">
											<span>Prev Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
										<li class="next">
											<span>Next Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
									</ul>
								</div><!-- Post Navigation -->
								<div class="post-related">
									<div class="title">
										<h2>Related Posts</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/7.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/8.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/11.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Related Posts -->
								<div class="post-author">
									<div class="author-avatar">
										<img src="images/chabad.png" alt="Author Avatar Image" />
									</div>
									<div class="author-content">
										<div class="name">
											<span>Written By</span>
											<a class="author" href="http://www.chabad.org/library/article_cdo/aid/814118/jewish/Charity-Tzedakah.htm">Chabad.org</a>
										</div>
										<p>The content in this page is produced by Chabad.org, and is copyrighted by the author and/or Chabad.org. If you enjoyed this article, we encourage you to distribute it further, provided that you do not revise any part of it, and you include this note, credit the author, and link to www.chabad.org. If you wish to republish this article in a periodical, book, or website, please email permissions@chabad.org.</p>
									</div>
								</div>
								<div class="post-recommended">
									<div class="title">
										<h2>Recommended Articles</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/6.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/9.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/12.jpg">
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/10.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Recommended Posts -->
								<div class="comments" id="comments">
									<div class="title">
										<h2>Comments</h2></br></br>
										<div class="row">
											<div class="col-sm-1">
													<div class="thumbnail">
														<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
													</div><!-- /thumbnail -->
											</div><!-- /col-sm-1 -->
											<div class="col-sm-5">
												<div class="panel panel-default">
													<div class="panel-heading">
														<strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
													</div>
													<div class="panel-body">
														My comment
													</div><!-- /panel-body -->
												</div><!-- /panel panel-default -->
											</div><!-- /col-sm-5 -->
											</br>
										</div>
									 	<div class="well">
            								<h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
            								<form role="form">
                								<div class="form-group">
                    								<textarea class="form-control" rows="3"></textarea>
                								</div>
                								<button type="submit" name="say" value="" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
            								</form>
        								</div><!-- Blog title -->
									<div class="blog-wrapper">
										<div id="disqus_thread"></div>
										 <script>
										// 	(function() {
										// 	var d = document, s = d.createElement('script');
										// 	s.src = 'https://infinyteam.disqus.com/embed.js';
										// 	s.setAttribute('data-timestamp', +new Date());
										// 	(d.head || d.body).appendChild(s);
										// 	})();
										// </script>
									</div><!-- Blog Wrapper -->
								</div><!-- Blog Layout -->
							</div><!-- Post Footer -->
						</article><!-- Post -->
					</div><!-- Blog posts -->
				</section><!-- Main -->
				<aside-directive></aside-directive>
			</div><!-- Row -->
		</div><!-- Container -->
	</section><!-- Main Area -->
</div>