<!-- Mobile slider nav bar -->
<nav id="slide-nav" class="slide-menu">
	<span class="menu-close">Close</span>
	<ul>
	     <li class="has-sub"><a href="home-page2.html">Home</a>
	        <ul>
	           <li><a href="index.html">Homepage 1</a></li>
	           <li><a href="home-page2.html">Homepage 2</a></li>
	           <li><a href="home-page3.html">Homepage 3</a></li>
	           <li><a href="home-page4.html">Homepage 4</a></li>
	        </ul>
	     </li>
	     <li class="has-sub"><a href="#">Features</a>
	        <ul>
	           <li class="has-sub"><a href="#">Featured Posts</a>
	              <ul>
	                 <li><a href="featured-style1.html">Featured Full</a></li>
	                 <li><a href="featured-style2.html">Featured Grid 2</a></li>
	                 <li><a href="featured-style3.html">Featured Grid 3</a></li>
	                 <li><a href="featured-style4.html">Featured Grid 4</a></li>
	              </ul>
	           </li>
	           <li class="has-sub"><a href="#">Post Layout</a>
	              <ul>
	                 <li><a href="left-sidebar.html">Left Sidebar</a></li>
	                 <li><a href="right-sidebar.html">Right Sidebar</a></li>
	                 <li><a href="no-sidebar.html">No Sidebar</a></li>
	              </ul>
	           </li>
	           <li class="has-sub"><a href="#">Page Templates</a>
	              <ul>
	                 <li><a href="page-author.html">Author</a></li>
	                 <li><a href="page-category.html">Category</a></li>
	                 <li><a href="page-tag.html">Tag</a></li>
	                 <li><a href="page-archive.html">Archive</a></li>
	                 <li><a href="page-search.html">Search</a></li>
	                 <li><a href="page-error.html">Error Page</a></li>
	              </ul>
	           </li>
	           <li><a href="page-typography.html">Typography</a></li>
	           <li><a href="page-shortcodes.html">Shortcodes</a></li>
	           <li><a href="./documentation/home-page2.html" target="_blank">Documentation</a></li>
	        </ul>
	     </li>
	     <li><a href="home-page2.html">Latest News</a></li>
	     <li><a href="page-category.html">Articles</a></li>
	     <li><a href="page-category.html"> Halacha</a></li>
	     <li><a href="page-category.html">Personal Growth</a></li>
	     <li class="has-sub"><a href="#">More Categories</a>
	        <ul>
	           <li><a href="page-category.html">Travel</a></li>
	           <li><a href="page-category.html">Prayers</a></li>
	           <li><a href="page-category.html">Jewish Holidays</a></li>
	           <li><a href="page-tag.html">Music</a></li>
	        </ul>
	     </li>
	     <li><a href="page-about.html">About</a></li>
	     <li><a href="page-contact.html">Contact</a></li>
	</ul>
</nav>
