<div class="wide page single-page">
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<h2 style="display: none;">Main</h2>
					<div class="blog-posts hfeed">
						<article class="post single-post">
							<div class="post-header">
								<h1 class="post-title">About Emunah.com</h1><!-- Post Title -->
								<ul class="post-meta">
									<li><img class="avatar" width="24" height="24" src="images/author.jpg" alt="Author Avatar Image" />by <a href="page-author.html">Rav Dror</a></li>
									<li><i class="fa fa-clock-o"></i>October 16, 2017</li>
									<li class="right"><a href="#print"><i class="fa fa-print"></i> Print This Page</a></li>
								</ul><!-- Post Meta -->
							</div><!-- Post Header -->
							<div class="post-share">
								<span class="counter"><strong>0</strong>Shares</span>
								<ul>
									<li class="facebook"><a href=""><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li>
									<li class="twitter"><a href=""><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
									<li class="google-plus"><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li class="linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
									<li class="whatsapp"><a href=""><i class="fa fa-whatsapp"></i></a></li>
									<li class="email"><a href=""><i class="fa fa-envelope-o"></i></a></li>
								</ul>
							</div><!-- Post Share -->
							<div class="post-body">
								<p>Rav Dror Moshe Cassouto brings us rare honest and pure principles of truth. We wish for every human being in the world to watch our videos and find their unique connection to the creator.</p>
								<p style="text-align: justify;">Learn the real meaning of life, the real purpose in living. Always available on our website 24/7! Find Fulfillment, Acceptance, and Discover the good points in yourself and others, Finding how to serve HaShem (GOD) with every aspect of your being: Your mind, Your talents, Your emotions.</p>
								<p style="text-align: justify;">Teachings by Rabbi Dror Moshe Cassouto from the Emunah Center in Jerusalem, Israel.</p>
								<p style="text-align: justify;">Insights into the Truth of who we are by Rav Dror Moshe Cassouto. Over 1000 lessons on how to become a real human being with a real heart and dealing with all aspects of life.</p>
								<p style="text-align: justify;">Subscribe to receive the latest classes and updates on new events!</p>  
								<h3>Subscribe, Like, Share, Comment</h3>
								<div class="video-container">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/UVGLelC8jek" frameborder="0" allowfullscreen></iframe>
								</div>
								<div class="post-ad">
									<span>Advertisment</span>
									<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
										<img src="images/banner.jpg" alt="Banner Image Placeholder">
									</a>
								</div>
							</div><!-- Post Body -->
							<div class="post-footer">
								<div class="post-share">
									<span class="counter"><strong>0</strong>Shares</span>
									<ul>
										<li class="facebook"><a href=""><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li>
										<li class="twitter"><a href=""><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
										<li class="google-plus"><a href=""><i class="fa fa-google-plus"></i></a></li>
										<li class="linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
										<li class="whatsapp"><a href=""><i class="fa fa-whatsapp"></i></a></li>
										<li class="email"><a href=""><i class="fa fa-envelope-o"></i></a></li>
									</ul>
								</div><!-- Post Share -->
								<div class="comments" id="comments">
									<div class="title">
										<h2>Comments</h2>
									</div><!-- Blog title -->
									<div class="blog-wrapper">
										<div id="disqus_thread"></div>
										<script>
											(function() {
											var d = document, s = d.createElement('script');
											s.src = 'https://infinyteam.disqus.com/embed.js';
											s.setAttribute('data-timestamp', +new Date());
											(d.head || d.body).appendChild(s);
											})();
										</script>
									</div><!-- Blog Wrapper -->
								</div><!-- Blog Layout -->
							</div><!-- Post Footer -->
						</article><!-- Post -->
					</div><!-- Blog posts -->
				</section><!-- Main -->
				<aside-directive></aside-directive>
			</div><!-- Row -->
		</div><!-- Container -->
	</section><!-- Main Area -->
</div>