<div class="wide page single-page">
	<section class="search-modal">
		<h3 style="display: none;">Search Modal</h3>
		<div class="container">
			<form action="page-search.html" method="get">
				<input type="text" name="q" value="Search.." />
				<span class="search-close"></span>
			</form>
		</div>
	</section>
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<h2 style="display: none;">Main</h2>
					<div class="blog-posts hfeed">
						<article class="post single-post">
							<div class="post-header">
								<h1 class="post-title">Contact Us</h1><!-- Post Title -->
								<ul class="post-meta">
									<li><img class="avatar" width="24" height="24" src="images/author.jpg" alt="Author Avatar Image" />by <a href="page-author.html">Rav Dror</a></li>
									<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
									<li class="right"><a href="#print"><i class="fa fa-print"></i> Print This Page</a></li>
								</ul><!-- Post Meta -->
							</div><!-- Post Header -->
							<div class="post-share">
								<span class="counter"><strong>10</strong>Shares</span>
								<ul>
									<li class="facebook"><a href=""><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li>
									<li class="twitter"><a href=""><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
									<li class="google-plus"><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li class="linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
									<li class="whatsapp"><a href=""><i class="fa fa-whatsapp"></i></a></li>
									<li class="email"><a href=""><i class="fa fa-envelope-o"></i></a></li>
								</ul>
							</div><!-- Post Share -->
							<div class="post-body">
								<h2>We’d Love to Hear From You, Get In Touch With Us!</h2>
								<p>Questions? Comments? Praise? Critique?</p>
								<p>No matter what, you’ve come to the right place! Please drop us a line, we thrive on your feedback.</p>

								<p>Don’t forget to join our <a ui-sref="whatsapp"><strong>WhatsApp Group</strong></a>.</p>

								<p>Please be sure to include your correct email address.</p>
								<div class="contact-details">
									<p>Contact Details :</p>
									<ul>
										<li><i class="fa fa-phone"></i>Call Us: USA: 213-316-9730 / Israel: 052-844-3917 / Fax: Israel Fax: 02-652-9168</li>
										<li><i class="fa fa-building-o"></i>Address : Hay Salam, Rue Ain Safae, N°151, Tanger, Maroc</li>
										<li><i class="fa fa-envelope-o"></i>Email: <a href="mailto:info@emunah.com">info@emunah.com</a></li>
									</ul>
								</div>
								<form class="contact-form" action="mailto:contact@infinyteam.com" method="POST">
									<div class="input-group">
										<label for="name">Your Name<i>(Required)</i> :</label>
										<input type="text" name="name" value="" placeholder="Rav Dror" id="name" />
									</div>
									<div class="input-group">
										<label for="email">Your Email<i>(Required)</i> :</label>
										<input type="email" name="email" value="" placeholder="ravdror@emunah.com" id="email" />
									</div>
<!-- 									<div class="input-group">
										<label for="website">Your Website<i>(Optional)</i> :</label>
										<input type="url" name="website" value="" placeholder="http://www.example.me" id="website" />
									</div> -->
									<div class="input-group">
										<label for="subject">Your Subject<i>(Required)</i> :</label>
										<input type="text" name="subject" value="" placeholder="I Need a Service.." id="subject" />
									</div>
									<div class="input-group">
										<label for="message">Your Message<i>(Required)</i> :</label>
										<textarea name="message" placeholder="Hi There.." id="message"></textarea>
									</div>
<!-- 									<div class="input-group">
									    <label>What is 2+2? (Anti-spam) <i>(Required)</i> :</label>
										<input name="human" placeholder="Type the answer here"/>
									</div> -->
									<div class="input-group">
										<input type="submit" name="submit" value="Send Message"/>
									</div>
								</form>
							</div><!-- Post Body -->
							<div class="post-footer">
								<div class="comments" id="comments">
									<div class="title">
										<h2>Comments</h2>
									</div><!-- Blog title -->
									<div class="alert alert-warning">
                                        The Comments on this page is not allowed!
                                    </div>
								</div><!-- Blog Layout -->
							</div><!-- Post Footer -->
						</article><!-- Post -->
					</div><!-- Blog posts -->
				</section><!-- Main -->
				<aside-directive></aside-directive>
			</div><!-- Row -->
		</div><!-- Container -->
	</section><!-- Main Area -->
</div>
