<div class="wide page single-page">
	<section class="search-modal">
		<h3 style="display: none;">Search Modal</h3>
		<div class="container">
			<form action="page-search.html" method="get">
				<input type="text" name="q" value="Search.." />
				<span class="search-close"></span>
			</form>
		</div>
	</section>
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<h2 style="display: none;">Main</h2>
					<div class="blog-posts hfeed">
						<article class="post single-post">
							<div class="post-body" style="font-size:16px">
								<h2 style="font-size:45px;">We’d Love to Hear From You, <br>
									Get In Touch With Us!</h2>
									<br>
								<H3>Questions? Comments? Praise? Critique?</h3>
								<p>No matter what, you’ve come to the right place! Please drop us a line, we thrive on your feedback.</p>

								<p>Please be sure to include your correct email address.</p>
								<p>Dont forget to join whatsapp, click <a ui-sref="whatsapp"><strong>here</strong></a> to join our whatsapp group.</p>


								
								<br>
								<div class="contact-details">
									<p>Contact Details :</p>
									<ul>
										<li><i class="fa fa-phone"></i>Call Us: USA: 213-316-9730 <br>
										 Israel: 052-844-3917 <br>
										 Israel Fax: 02-652-9168</li>
										<!-- <li><i class="fa fa-building-o"></i> Address : Hay Salam, Rue Ain Safae, N°151, Tanger, Maroc</li> -->
										<li><i class="fa fa-envelope-o"></i>Email: <a href="mailto:info@emunah.com">info@emunah.com</a></li>
									</ul>
								</div>
								<form class="contact-form" action="https://formspree.io/mrarkadi@gmail.com" method="POST">
									<div class="input-group">
										<label for="name">Your Name<i>(Required)</i> :</label>
										<input type="text" name="name" value="" placeholder="your name" id="name" required/>
									</div>
									<div class="input-group">
										<label for="email">Your Email<i>(Required)</i> :</label>
										<input type="email" name="email" value="" placeholder="user@email.com" id="email" required/>
									</div>
<!-- 									<div class="input-group">
										<label for="website">Your Website<i>(Optional)</i> :</label>
										<input type="url" name="website" value="" placeholder="http://www.example.me" id="website" />
									</div> -->
									<div class="input-group">
										<label for="subject">Your Subject<i>(Required)</i> :</label>
										<input type="text" name="subject" value="" id="subject" required />
									</div>
									<div class="input-group">
										<label for="message">Your Message<i>(Required)</i> :</label>
										<textarea name="message" required></textarea>
										<input type="hidden" name="_subject" value="New submission!" />
										<input type="hidden" name="_next" value="/templates/page-thanks.html" /> 
									</div>
<!-- 									<div class="input-group">
									    <label>What is 2+2? (Anti-spam) <i>(Required)</i> :</label>
										<input name="human" placeholder="Type the answer here"/>
									</div> -->
									<div class="input-group">
										<input type="submit" value="Send" class="bt btn-success">
									</div>
								</form>
							</div><!-- Post Body -->
						</article><!-- Post -->
					</div><!-- Blog posts -->
				</section><!-- Main -->
				<aside-directive></aside-directive>
			</div><!-- Row -->
		</div><!-- Container -->
	</section><!-- Main Area -->
</div>
