<div class="wide home">
	<div id="wrapper">
		<div class="search-modal">
			<div class="container">
				<form action="page-search.html" method="get">
					<input type="text" name="q" value="Search.." />
					<span class="search-close"></span>
				</form>
			</div>
		</div>
		<section id="main-area">
			<h3 style="display: none;">Main Area</h3>
			<div class="container">
				<div class="status-message">
					<div class="message">
					</br>
				</br>
				You are showing all the articles of the category : <strong>CATEGORY NAME</strong></div>
					<div class="breadcumbs">
					</br>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="page-category.html">Category</a></li>
							<li>CATEGORY NAME</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<section id="main" class="main col-md-8">
						<div class="blog-layout layout-2" style="display: block">
							<div class="blog-wrapper row">
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/12.jpg" data-src="images/12.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">The Miracle of the Torah</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, explicabo, harum. Odio iste...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
												<li><i class="fa fa-comment-o"></i> 240</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/11.jpg" data-src="images/11.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">The Miracle of the Torah</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate possimus ea facilis...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
												<li><i class="fa fa-comment-o"></i> 53</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/20.jpg" data-src="images/20.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">The Miracle of the Torah</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, explicabo, harum. Odio iste...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 21, 2016</li>
												<li><i class="fa fa-comment-o"></i> 129</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/16.jpg" data-src="images/16.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">The Miracle of the Torah</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate possimus ea facilis...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> September 12, 2016</li>
												<li><i class="fa fa-comment-o"></i> 18</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/7.jpg" data-src="images/7.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">The Miracle of the Torah</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, explicabo, harum. Odio iste...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
												<li><i class="fa fa-comment-o"></i> 240</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/10.jpg" data-src="images/10.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">The Miracle of the Torah</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate possimus ea facilis...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
												<li><i class="fa fa-comment-o"></i> 53</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/8.jpg" data-src="images/8.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">The Miracle of the Torah</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, explicabo, harum. Odio iste...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 21, 2016</li>
												<li><i class="fa fa-comment-o"></i> 129</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/4.jpg" data-src="images/4.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">The Miracle of the Torah</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate possimus ea facilis...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> September 12, 2016</li>
												<li><i class="fa fa-comment-o"></i> 18</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/1.jpg" data-src="images/1.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">The Miracle of the Torah</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, explicabo, harum. Odio iste...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
												<li><i class="fa fa-comment-o"></i> 240</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/2.jpg" data-src="images/2.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">The Miracle of the Torah</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate possimus ea facilis...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
												<li><i class="fa fa-comment-o"></i> 53</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/3.jpg" data-src="images/3.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">The Miracle of the Torah</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, explicabo, harum. Odio iste...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 21, 2016</li>
												<li><i class="fa fa-comment-o"></i> 129</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/5.jpg" data-src="images/5.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">The Miracle of the Torah</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate possimus ea facilis...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> September 12, 2016</li>
												<li><i class="fa fa-comment-o"></i> 18</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/13.jpg" data-src="images/13.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">The Miracle of the Torah</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, explicabo, harum. Odio iste...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
												<li><i class="fa fa-comment-o"></i> 240</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/14.jpg" data-src="images/14.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">The Miracle of the Torah</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate possimus ea facilis...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
												<li><i class="fa fa-comment-o"></i> 53</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
							</div><!-- Blog Wrapper -->
						</div><!-- Blog Layout -->
						<div class="blog-pagination">
							<ul>
								<li class="active"><a href="index.html">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><span>...</span></li>
								<li><a href="#">10</a></li>
								<li class="next-page"><a href="#">Page Next <i class="fa fa-angle-right"></i></a></li>
								<li class="total-pages">1 page of 10</li>
							</ul>
						</div>
					</section><!-- Main -->
					<aside-directive></aside-directive>
				</div><!-- Row -->
			</div><!-- Container -->
		</section><!-- Main Area -->
	</div><!-- Wrapper -->
</div>
