<div class="wide page page-error error-404">
	<div id="wrapper">
		<section class="search-modal">
			<h3 style="display: none;">Search Modal</h3>
			<div class="container">
				<form action="page-search.html" method="get">
					<input type="text" name="q" value="Search.." />
					<span class="search-close"></span>
				</form>
			</div>
		</section>
		<section id="main-area" class="fullwidth">
			<h3 style="display: none;">Main Area</h3>
			<div class="container">
				<div class="error-message">
					<h1>404</h1>
					<h4>Page not Found</h4>
					<div>Opps! there is an error when you load this page, this page is not found or maybe you try to looking for something not here! please try later.</div>
				</div>
				<div class="row">
					<section id="main" class="main col-md-12">
						<div class="blog-layout layout-3" style="display: block">
							<div class="blog-title">
								<h2>Recommended Posts</h2>
							</div><!-- Blog title -->
							<div class="blog-wrapper row">
								<div class="col col-sm-3">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/12.jpg" data-src="images/12.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">Interesting Facts I Bet You Never Knew About travel</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, explicabo, harum. Odio iste...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
												<li><i class="fa fa-comment-o"></i> 240</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-3">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/11.jpg" data-src="images/11.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">The Ultimate Cheat Sheet On Blogging and The History Of DIY</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate possimus ea facilis...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
												<li><i class="fa fa-comment-o"></i> 53</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-3">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/20.jpg" data-src="images/20.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">The Worst Advice We've Ever Heard About Travel</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, explicabo, harum. Odio iste...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 21, 2016</li>
												<li><i class="fa fa-comment-o"></i> 129</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-3">
									<article class="post">
										<div class="post-thumb">
											<a href="post-single.html">
												<img class="lazy" src="images/16.jpg" data-src="images/16.jpg" alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a href="post-single.html">How To Win Buyers And Influence Sales with travel</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate possimus ea facilis...</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> September 12, 2016</li>
												<li><i class="fa fa-comment-o"></i> 18</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
							</div><!-- Blog Wrapper -->
						</div><!-- Blog Layout -->
					</section><!-- Main -->
				</div><!-- Row -->
			</div><!-- Container -->
		</section><!-- Main Area -->
	</div><!-- Wrapper -->
</div>
