<div class="wide home">
	<div id="wrapper">
		<div class="search-modal">
			<div class="container">
				<form action="page-search.html" method="get">
					<input type="text" name="q" value="Search.." />
					<span class="search-close"></span>
				</form>
			</div>
		</div>
		<section id="main-area">
			<h3 style="display: none;">Main Area</h3>
			<div class="container">
				<div class="status-message">
					<div class="message">
					</br>
				</br>
				You are showing all the videos of the playlists: <strong>{{playerPlaylist.snippet.localized.title}}</strong>
				Description: <strong>{{playerPlaylist.snippet.localized.description}}</strong></div>

					<div class="breadcumbs">
					</br>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="page-category.html">Category</a></li>
							<li>CATEGORY NAME</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<section id="main" class="main col-md-8">
						<div class="blog-layout layout-2" style="display: block">
							<div class="blog-wrapper row">
								<div class="col col-sm-6" ng-repeat="playlistItem in playlistItems track by $index">
									<article class="post">
										<div class="post-thumb">
											<a href="{{playlistItem.playurl}}">
												<img class="lazy" src={{playlistItem.snippet.thumbnails.medium.url}} alt="Post Title Placeholder" />
											</a>
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">Title: {{playlistItem.snippet.title}} </h4><!-- Post Title -->
											<p class="post-entry"> <b>Description: </b>{{playlistItem.snippet.description}}</p><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i>date: {{playlistItem.snippet.publishedAt}}</li>
												<li><i class="fa fa-comment-o"></i>? 240</li>
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
							</div><!-- Blog Wrapper -->
						</div><!-- Blog Layout -->
						<div class="blog-pagination">
							<ul>
								<li class="active"><a href="index.html">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><span>...</span></li>
								<li><a href="#">10</a></li>
								<li class="next-page"><a href="#">Page Next <i class="fa fa-angle-right"></i></a></li>
								<li class="total-pages">1 page of 10</li>
							</ul>
						</div>
					</section><!-- Main -->
					<aside-directive></aside-directive>
				</div><!-- Row -->
			</div><!-- Container -->
		</section><!-- Main Area -->
	</div><!-- Wrapper -->
</div>
