<div class="wide home">
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<h2 style="display: none;">Main</h2>
					<div class="blog-posts hfeed">
						<article class="post single-post">
							<div class="post-header">
								<div class="post-category">
									<a href="page-category.html">CATEGORY</a>
								</div>

								<h1 class="post-title"><strong>{{video.snippet.title}}</strong></h1><!-- Post Title -->
								<ul class="post-meta">
									<li><img class="avatar" width="24" height="24" src="images/author.jpg" alt="Author Avatar Image" />by <a href="page-author.html">Rav Dror</a></li>
									<li><i class="fa fa-clock-o"></i>{{video.snippet.publishedAt}} </li>
									<li><i class="fa fa-comment-o"></i> 240</li>
									<li class="right"><i class="fa fa-eye"></i> 42,350 views</li>
									<li class="right"><a href="#print"><i class="fa fa-print"></i> Print This Post</a></li>
								</ul><!-- Post Meta -->
							</div><!-- Post Header -->
							<div class="post-share" style="padding:4px">
								<span class="counter"><strong>24k</strong>Shares</span>
								<ul>
									<script>
									    function fbShare(url, title, descr, image, winWidth, winHeight) {
									        var winTop = (screen.height / 2) - (winHeight / 2);
									        var winLeft = (screen.width / 2) - (winWidth / 2);
									        window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
									    }
									</script>
									<!-- <li class="facebook"><a style="cursor:pointer" onclick="fbShare(window.location.href, 'Fb Share', 'Facebook share popup', 'http://goo.gl/dS52U', 520, 350)"><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li> -->
									<div class="sharethis-inline-share-buttons"></div>
									<!-- <li class="twitter"><a href=""><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
									<li class="google-plus"><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li class="linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
									<li class="whatsapp"><a href=""><i class="fa fa-whatsapp"></i></a></li>
									<li class="email"><a href=""><i class="fa fa-envelope-o"></i></a></li>
								</ul> -->
							</div><!-- Post Share -->
							<div>
								<youtube-video video-url="video.playurl" player="bestPlayer" enablejsapi="true" video-id="videoPlayer"  player-height="'100%'" player-width="'100%'" player-vars="{autoplay: 0, start: 0.01}"></youtube-video>
							</div><!-- Post Image -->
							<div class="post-body">
								<p style="text-align: justify; padding: 0 30px;">There be some description here {{video.snippet.description}}</p>
								<!-- <div class="post-ad">
									<span>Advertisment</span>
									<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
										<img src="images/banner.jpg" alt="Banner Image Placeholder">
									</a>
								</div> -->
							</div><!-- Post Body -->
						 </article><!-- post single post -->
							<div class="post-footer">
								<div class="post-picked" id="post-picked">
									<div class="picked-title">
										<h2>You might also like</h2>
										<span class="close"><i class="fa fa-close"></i></span>
									</div>
								</div>
							</div>
									<div class="picked-inner">
										<article class="post">
											<div class="post-thumb">
												<img src="images/2.jpg"/>
											</div><!-- Post Image -->
											<div class="post-category">
												<a href="page-category.html">Beauty</a>
											</div>
											<h5 class="post-title"><a href="post-single.html">The Miracle of the Torah.</a></h5><!-- Post Title -->
										</article><!-- Post -->
									  </div> <!-- picked inner -->
						<div class="blog-pagination">
							<ul>
								<li class="active"><a href="index.html">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><span>...</span></li>
								<li><a href="#">10</a></li>
								<li class="next-page"><a href="#">Page Next <i class="fa fa-angle-right"></i></a></li>
								<li class="total-pages">1 page of 10</li>
							</ul>
						</div>
					<aside-directive></aside-directive>
				</div><!-- blog-posts hfeed -->
				</section><!-- Main -->
			</div><!-- row -->
			</div><!-- Container -->
	</section><!-- Main Area -->
</div> <!-- wide home -->
