<div class="wide home">
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<h2 style="display: none;">Main</h2>
					<div class="blog-posts hfeed">
						<article class="post single-post">
							<div class="post-header">
								<div class="post-category">
									<a href="page-category.html">{{playlist.snippet.title}}</a>
								</div>

								<h1 class="post-title"><strong>{{video.snippet.title}}</strong></h1><!-- Post Title -->
								<ul class="post-meta">
									<li><img class="avatar" width="24" height="24" src="images/author.jpg" alt="Author Avatar Image" />by <a href="page-author.html">Rav Dror</a></li>
									<li><i class="fa fa-clock-o"></i>{{video.snippet.publishedAt}} </li>
									<!-- <li><i class="fa fa-comment-o"></i> 240</li>
									<li class="right"><i class="fa fa-eye"></i> 42,350 views</li> -->
									<li class="right"><a href="#print"><i class="fa fa-print"></i> Print This Post</a></li>
								</ul><!-- Post Meta -->
							</div><!-- Post Header -->
							<div class="post-share" style="padding:4px">

								<!-- <span class="counter"><strong>24k</strong>Shares</span> -->
								<!-- AddToAny BEGIN -->
								<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
									<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
									<a class="a2a_button_facebook"></a>
									<a class="a2a_button_twitter"></a>
									<a class="a2a_button_google_plus"></a>
									<a class="a2a_button_linkedin"></a>
									<a class="a2a_button_whatsapp"></a>
									<a class="a2a_button_email"></a>
									<a class="a2a_button_copy_link"></a>
								</div>
								<script async src="https://static.addtoany.com/menu/page.js"></script>
								<!-- AddToAny END -->
								<!-- <ul> -->
									<script>
									    function fbShare(url, title, descr, image, winWidth, winHeight) {
									        var winTop = (screen.height / 2) - (winHeight / 2);
									        var winLeft = (screen.width / 2) - (winWidth / 2);
									        
									    }
									</script>

							</div><!-- Post Share -->
							<div class="videoWrapper">
								<youtube-video video-url="video.playurl" player="bestPlayer" enablejsapi="true" video-id="videoPlayer" player-vars="{autoplay: 0, start: 0.01}"></youtube-video>
							</div><!-- Post Image -->
							<div class="post-body">
								<p style="text-align: justify; padding: 0 30px;">{{video.snippet.description}}</p>
								<!-- <div class="post-ad">
									<span>Advertisment</span>
									<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
										<img src="images/banner.jpg" alt="Banner Image Placeholder">
									</a> 
								</div> -->
							</div><!-- Post Body -->
						 </article><!-- post single post -->
								<div class="post-footer">
								<div class="post-picked" id="post-picked">
									<div class="picked-title">
										<h2>You might also like</h2>
										<span class="close"><i class="fa fa-close"></i></span>
									</div>
									<div class="picked-inner">
										<article class="post">
											<div class="post-thumb">
												<img src="images/2.jpg"/>
											</div><!-- Post Image -->
											<div class="post-category">
												<a href="page-category.html">Prayer</a>
											</div>
											<h5 class="post-title"><a href="post-single.html">The Miracle of the Torah.</a></h5><!-- Post Title -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
												<!-- <li><i class="fa fa-comment-o"></i> 240</li> -->
											</ul><!-- Post Meta -->
										</article>
									</div>
								</div>
								<!-- <div class="post-tags">
									<span>Tags</span>
									<a href="page-tag.html">Torah Study</a>
									<a href="page-tag.html">Parasha of the Week</a>
									<a href="page-tag.html">Prayer</a>

								</div> --><!-- Post Tags -->
								<div class="post-share" style="padding:4px">
									<!-- AddToAny BEGIN -->
									<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
										<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
										<a class="a2a_button_facebook"></a>
										<a class="a2a_button_twitter"></a>
										<a class="a2a_button_google_plus"></a>
										<a class="a2a_button_linkedin"></a>
										<a class="a2a_button_whatsapp"></a>
										<a class="a2a_button_email"></a>
										<a class="a2a_button_copy_link"></a>
									</div>
									<script async src="https://static.addtoany.com/menu/page.js"></script>
									<!-- AddToAny END -->
								</div><!-- Post Share -->
								<div class="comments" id="comments">
									<div class="title">
										<h2>Comments</h2>
									</div><!-- Blog title -->
									<div class="blog-wrapper">
										<div id="disqus_thread"></div>
									<script>

										/**
										*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
										*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
										/*
										var disqus_config = function () {
										this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
										this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
										};
										*/
										(function() { // DON'T EDIT BELOW THIS LINE
										var d = document, s = d.createElement('script');
										s.src = 'https://emunah-com.disqus.com/embed.js';
										s.setAttribute('data-timestamp', +new Date());
										(d.head || d.body).appendChild(s);
										})();
									</script>
									<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"></a></noscript> 
								<!-- <div class="post-navigation">
									<ul>
										<li class="prev">
											<span>Prev Video</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
										<li class="next">
											<span>Next Video</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
									</ul>
								</div> --><!-- Post Navigation -->
								<div class="post-related">
									<div class="title">
										<h2>Related Videos</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a ui-sref="post-single({videoParam: topThree[0], id: topThree[0].id})">
														<img class="lazy" src={{topThree[0].snippet.thumbnails.medium.url}} alt="Post Title Placeholder"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a ui-sref="post-single({videoParam: topThree[0], id: topThree[0].id})">{{topThree[0].snippet.title}}</a>
													</h6><!-- Post Title -->
													<!-- <ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul> --><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a ui-sref="post-single({videoParam: topThree[1], id: topThree[1].id})">
														<img class="lazy" src={{topThree[1].snippet.thumbnails.medium.url}} alt="Post Title Placeholder"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a ui-sref="post-single({videoParam: topThree[1], id: topThree[1].id})">{{topThree[1].snippet.title}}</a>
													</h6><!-- Post Title -->
													<!-- <ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul> --><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a ui-sref="post-single({videoParam: topThree[2], id: topThree[2].id})">
														<img class="lazy" src={{topThree[2].snippet.thumbnails.medium.url}} alt="Post Title Placeholder" />
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a ui-sref="post-single({videoParam: topThree[2], id: topThree[2].id})">{{topThree[2].snippet.title}}</a>
													</h6><!-- Post Title -->
													<!-- <ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul> --><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Related Posts -->
								<div class="post-author">
									<div class="author-avatar">
										<img src="images/author.jpg" alt="Author Avatar Image" />
									</div>
									<div class="author-content">
										<div class="name">
											<span>Video By</span>
											<a class="author" href="page-author.html">RAV DROR</a>
										</div>
										<p>Rabbi Dror Moshe Cassouto spreads a message of Happiness, Simplicity, Faith, and understanding that it is okay to fail and fall. We are human beings – it’s our nature to get back up and start over again.</p>
										<ul class="author-social">
											<li><a href="#" title="My Website"><i class="fa fa-globe"></i></a></li>
											<li><a href="#" title="Follow me on twitter"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#" title="Follow me on instagram"><i class="fa fa-instagram"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- recommended videos taken from here and put to cut code -->
								<div class="post-footer">
								
								        
									</div><!-- Blog Wrapper -->
								</div><!-- Blog Layout -->
							</div><!-- Post Footer -->
						</article><!-- Post -->
					</div><!-- blog-posts hfeed -->
				</section><!-- Main -->
				<aside-directive></aside-directive>
			</div><!-- row -->
			</div><!-- Container -->
	</section><!-- Main Area -->
</div> <!-- wide home -->
