<div class="wide home">
	<div id="wrapper">
		<div class="search-modal">
			<div class="container">
				<form action="page-search.html" method="get">
					<input type="text" name="q" value="Search.." />
					<span class="search-close"></span>
				</form>
			</div>
		</div>
		<section id="main-area">
			<h3 style="display: none;">Main Area</h3>
			<div class="container">
				<div class="status-message">
					<div class="message">
					</br>
				</br>
				Here you can view short lectures by Rav Dror(click on one to expand)
<!-- 					<div class="breadcumbs">
					</br>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="page-category.html">Category</a></li>
							<li>CATEGORY NAME</li>
						</ul>
					</div> -->
				</div>
				<div class="row">
					<section id="main" class="main col-md-8">
						<div class="blog-layout layout-2" style="display: block">
							<div class="blog-wrapper row">
								<div class="col col-md-4" ng-repeat="playList in playLists track by $index">
									<article class="post thumbnail">
										<div class="post-thumb">
											<a ui-sref="playlist({title: playList.snippet.title, id: playList.id.playlistId})">
												<img class="lazy" src={{playList.snippet.thumbnails.high.url}} alt="Post Title Placeholder" />
												<!-- <youtube-video video-url="playlistItem.playurl" player="bestPlayer" enablejsapi="true" video-id="$index" player-width="'100%'" player-vars="{autoplay: 0, start: 0.01}"></youtube-video> -->
											<span class="post-format">
												<i class="fa fa-play"></i>
											</span>
											
										</div><!-- Post Image -->
										<div class="post-content caption">
											<label id="playlistText"><h4 class="post-title" title="{{playList.snippet.title}}">{{playList.snippet.title}} </h4></label>
											</a>
											<!-- Post Title -->
											<!-- <p class="post-entry"> <b>Description: </b>{{playlistItem.snippet.description}}</p> --><!-- Post Entry -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i>Date: {{playList.snippet.publishedAt}}</li>
												<!-- <li><i class="fa fa-comment-o"></i>? 240</li> -->
											</ul><!-- Post Meta -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
							</div><!-- Blog Wrapper -->
							<div class="blog-pagination">
								<ul>
									<li class="next-page"><a ng-click="updatePlayListBackward()"><i class="fa fa-angle-left"></i> Back</a></li>
									<!-- <li class="active"><a ui-sref="index">1</a></li>
									<li><a ui-sref="#">2</a></li>
									<li><a ui-sref="#">3</a></li>
									<li><span>...</span></li>
									<li><a ui-sref="#">20</a></li> -->
									<li class="next-page"><a ng-click="updatePlayListForward()">Next <i class="fa fa-angle-right"></i></a></li>
									<!-- <li class="total-pages">1 page of 20</li> -->
								</ul>
							</div>
						</div><!-- Blog Layout -->
						<!-- <div class="blog-pagination">
							<ul>
								<li class="active"><a href="index.html">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><span>...</span></li>
								<li><a href="#">10</a></li>
								<li class="next-page"><a href="#">Page Next <i class="fa fa-angle-right"></i></a></li>
								<li class="total-pages">1 page of 10</li>
							</ul>
						</div> -->
					</section><!-- Main -->
					<aside-directive></aside-directive>
				</div><!-- Row -->
			</div><!-- Container -->
		</section><!-- Main Area -->
	</div><!-- Wrapper -->
	</div> -->
</div>
