<div class="wide page single-page">
  <section class="search-modal">
    <h3 style="display: none;">Search Modal</h3>
    <div class="container">
      <form action="page-search.html" method="get">
        <input type="text" name="q" value="Search.." />
        <span class="search-close"></span>
      </form>
    </div>
  </section>
  <section id="main-area">
    <h3 style="display: none;">Main Area</h3>
    <div class="container contact-form">
      <div class="row">
        <section id="main" class="main col-md-8">
          <h2 style="display: none;">Main</h2>
          <div class="blog-posts hfeed">
            <article class="post single-post">
                <div class="service-header" style="text-align: center; width: 50%; margin: 2em auto">
                    <img src="images/emunahlogosmall.jpg" alt="emunah-logo">
                    <h1 class="post-title">Sign Up With Us!</h1>
                  </div><!-- Post Title -->
              <div class="post-body" >
                <div class="container" method="POST" style="width: 100%">
                  <div class="form-group">
                    <label for="name">First and last name<i>(Required)</i>:</label>
                    <input type="text"   placeholder="Rav" ng-model="username" />
                  </div>                  
                  <div class="form-group">
                    <label for="email">Your Email<i>(Required)</i>:</label>
                    <input type="text" placeholder="ravdror@emunah.com" ng-model="email" />
                  </div>
                 <div class="form-group">
                    <label for="website">Password<i>(Required)</i>:</label>
                    <input type="password" placeholder="secret" ng-model="password" />
                  </div>
                 <div class="form-group">
                    <label for="website">Confirm Password<i>(Required)</i>:</label>
                    <input type="password"  placeholder="secret" ng-model="pass2" />
                  </div>
                  <!-- <div class="form-group">
                    <label for="subject">Address<i>(Optional)</i>:</label>
                    <input type="text" name="subject" placeholder="12345 Main Street, #25" id="subject"ng-model="newMember.street" />
                  </div>
                  <div class="form-group">
                    <label for="subject">City<i>(Optional)</i>:</label>
                    <input type="text" name="subject" placeholder="Jerusalem" id="subject" ng-model="newMember.city" />
                  </div>
                  <div class="form-group">
                    <label for="subject">State<i>(Optional)</i>:</label>
                    <input type="text" name="subject" placeholder="Israel" id="subject" ng-model="newMember.province"/>
                  </div>
                  <div class="form-group">
                    <label for="subject">Country<i>(Optional)</i>:</label>
                    <input type="text" name="subject" placeholder="Israel" id="subject" ng-model="newMember.country"/>
                  </div>
                  <div class="form-group">
                    <label for="subject">Zip<i>(Optional)</i>:</label>
                    <input type="text" name="subject" placeholder="91307" id="subject" ng-model="newMember.zip"/>
                  </div> -->
                  <div class="form-group">
                    <input type="submit" ng-click="registerUser()" value="Sign Up"/>
                  </div>
				  <div class="form-group">
              <p>Or use your facebook account</p>
                  <a href="/users/facebook" target="_blank"><button type="button" class="btn-facebook" style="background: #3b5998; color: white">Facebook</button></a>
                  </div>
                </form>
              </div><!-- Post Body -->
              <div class="post-footer">
              </div><!-- Post Footer -->
            </article><!-- Post -->
          </div><!-- Blog posts -->
        </section><!-- Main -->
        <aside-directive></aside-directive>
      </div><!-- Row -->
    </div><!-- Container -->
  </section><!-- Main Area -->
</div>
