<div class="wide page single-page">
  <section class="search-modal">
    <h3 style="display: none;">Search Modal</h3>
    <div class="container">
      <form action="page-search.html" method="get">
        <input type="text" name="q" value="Search.." />
        <span class="search-close"></span>
      </form>
    </div>
  </section>
  <section id="main-area">
    <h3 style="display: none;">Main Area</h3>
    <div class="container">
      <div class="row">
        <section id="main" class="main col-md-8">
          <h2 style="display: none;">Main</h2>
          <div class="blog-posts hfeed">
            <article class="post single-post">
              <div class="post-header">
                <h1 class="post-title">Sign Up</h1><!-- Post Title -->
              </div><!-- Post Header -->
              <div class="post-body" >
                <div class="container" method="POST">
                  <div class="form-group">
                    <label for="name">First Name<i>(Required)</i>:</label>
                    <input type="text"   placeholder="Rav" ng-model="fname" />
                  </div>
                  <div class="form-group">
                    <label for="name">Last Name<i>(Required)</i>:</label>
                    <input type="text" placeholder="Dror" ng-model="lname" />
                  </div>
                  <div class="form-group">
                    <label for="email">Your Email<i>(Required)</i>:</label>
                    <input type="email" placeholder="ravdror@emunah.com" ng-model="email" />
                  </div>
                 <div class="form-group">
                    <label for="website">Password<i>(Required)</i>:</label>
                    <input type="password" name="website" value="" placeholder="secret" ng-model="pass1" />
                  </div>
                 <div class="form-group">
                    <label for="website">Confirm Password<i>(Required)</i>:</label>
                    <input type="password"  placeholder="********" ng-model="pass2" />
                  </div>
                  <div class="form-group">
                    <label for="subject">Address<i>(Required)</i>:</label>
                    <input type="text" name="subject" value="" placeholder="12345 Main Street, #25" id="subject" />
                  </div>
                  <div class="form-group">
                    <label for="subject">City<i>(Required)</i>:</label>
                    <input type="text" name="subject" value="" placeholder="Jerusalem" id="subject" />
                  </div>
                  <div class="form-group">
                    <label for="subject">State<i>(Optional)</i>:</label>
                    <input type="text" name="subject" value="" placeholder="Israel" id="subject" />
                  </div>
                  <div class="form-group">
                    <label for="subject">Country<i>(Required)</i>:</label>
                    <input type="text" name="subject" value="" placeholder="Israel" id="subject" />
                  </div>
                  <div class="form-group">
                    <label for="subject">Zip<i>(Optional)</i>:</label>
                    <input type="text" name="subject" value="" placeholder="91307" id="subject" />
                  </div>
                  <div class="form-group">
                    <input type="submit" ng-click="checkSignup()" value="Sign Up"/>
                  </div>
                </form>
              </div><!-- Post Body -->
              <div class="post-footer">
                <div class="comments" id="comments">
                  <div class="title">
                    <h2>Comments</h2>
                  </div><!-- Blog title -->
                  <div class="alert alert-warning">
                                        The Comments on this page is not allowed!
                                    </div>
                </div><!-- Blog Layout -->
              </div><!-- Post Footer -->
            </article><!-- Post -->
          </div><!-- Blog posts -->
        </section><!-- Main -->
        <aside-directive></aside-directive>
      </div><!-- Row -->
    </div><!-- Container -->
  </section><!-- Main Area -->
</div>
