
          <div class="blog-layout layout-8" style="display: block; max-width: 85%;
    margin: 70px;">
            <div class="blog-title">
              <h2>Soundcloud</h2>
            </div><!-- Blog title -->
            <div class="blog-wrapper row">
              <div class="col col-sm-12">
                <article class="post">
                  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/352905077&amp;color=%234682b4&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
                </article><!-- Post -->
              </div><!-- Column -->
              <div class="col col-sm-12">
                <article class="post">
                  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/349264869&amp;color=%234682b4&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
                </article><!-- Post -->
              </div><!-- Column -->
              <div class="col col-sm-12">
                <article class="post">
                  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/348667399&amp;color=%234682b4&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
                </article><!-- Post -->
              </div><!-- Column -->
              <div class="col col-sm-12">
                <article class="post">
                  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/344970052&amp;color=%234682b4&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
                </article><!-- Post -->
              </div><!-- Column -->
              <div class="col col-sm-12">
                <article class="post">
                  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/344388961&amp;color=%234682b4&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
                </article><!-- Post -->
              </div><!-- Column -->
              <div class="col col-sm-12">
                <article class="post">
                  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/344300265&amp;color=%234682b4&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
                </article><!-- Post -->
              </div><!-- Column -->
              <div class="col col-sm-12">
                <article class="post">
                  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/342188349&amp;color=%234682b4&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
                </article><!-- Post -->
              </div><!-- Column -->
            </div><!-- Blog Wrapper -->
          </div><!-- Blog Layout -->
 <!--          <div class="blog-pagination">
            <ul>
              <li class="active"><a ui-sref="index">1</a></li>
              <li><a ui-sref="#">2</a></li>
              <li><a ui-sref="#">3</a></li>
              <li><span>...</span></li>
              <li><a ui-sref="#">10</a></li>
              <li class="next-page"><a ui-sref="#">Page Next <i class="fa fa-angle-right"></i></a></li>
              <li class="total-pages">1 page of 99</li>
            </ul>
          </div> -->