<div class="wide home">
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<h2 style="display: none;">Main</h2>
					<div class="blog-posts hfeed">
						<article class="post single-post">
							<!-- <div class="post-header">
								<div class="post-category">
									<a href="page-category.html">Spread Emunah</a>
								</div>
								<h1 class="post-title">Spread Emunah</h1>
							</div> --><!-- Post Header -->
 							<div class="post-share">
								<!-- AddToAny BEGIN -->
									<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
										<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
										<a class="a2a_button_facebook"></a>
										<a class="a2a_button_twitter"></a>
										<a class="a2a_button_google_plus"></a>
										<a class="a2a_button_linkedin"></a>
										<a class="a2a_button_whatsapp"></a>
										<a class="a2a_button_email"></a>
										<a class="a2a_button_copy_link"></a>
									</div>
									<script async src="https://static.addtoany.com/menu/page.js"></script>
									<!-- AddToAny END -->
							</div> <!-- Post Share -->
							<br>
							<div class="post-body">
								

								<h3>Spread Emunah</h3>

								<p class="mitzvot-paragraph">The Emunah Project was started by Rav Dror with one goal in mind, to spread Emunah to the wide world. </p>

								<p class="mitzvot-paragraph">Emunah (Hebrew for ‘faith’), is the spiritual connection that we have to the Creator of the Universe, the Source of All Life.  A major part of our project is completed by YOU, when you spread Emunah. By doing so, you are earning tremendous spiritual merit that will undoubtedly assist you in this world and the next.  There are many ways to spread Emunah; like Sharing content on Facebook, sending lectures and short clips personally to those you are connected to, or sharing short clips and links on Whatsapp and such . These actions have a huge impacts on others.  </p>

								<p class="mitzvot-paragraph">So please start now by Posting pictures, videos, and links on all your social media platforms. You can also purchase CDs and Booklets from our website: <a ui-sref="store-english">Emunah.com/store</a> and leave them for people to take at your local restaurants, stores, synagogues etc.</p>

								<p class="mitzvot-paragraph">Simple actions like these have great impacts in the world and on people’s lives.  </p>

								<p class="mitzvot-paragraph">Thank you for sharing and caring, and helping to further spread Emunah in the world.</p>

								
			 					<div class="post-share">
									<!-- AddToAny BEGIN -->
									<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
										<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
										<a class="a2a_button_facebook"></a>
										<a class="a2a_button_twitter"></a>
										<a class="a2a_button_google_plus"></a>
										<a class="a2a_button_linkedin"></a>
										<a class="a2a_button_whatsapp"></a>
										<a class="a2a_button_email"></a>
										<a class="a2a_button_copy_link"></a>
									</div>
									<script async src="https://static.addtoany.com/menu/page.js"></script>
									<!-- AddToAny END -->
								</div> <!-- Post Share -->
								<div class="comments" id="comments">
									<div class="title">
										<h2>Comments</h2>
									</div><!-- Blog title -->
									<div class="blog-wrapper">
										<div id="disqus_thread"></div>
										<script>

										/**
										*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
										*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
										/*
										var disqus_config = function () {
										this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
										this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
										};
										*/
										(function() { // DON'T EDIT BELOW THIS LINE
										var d = document, s = d.createElement('script');
										s.src = 'https://emunah-com.disqus.com/embed.js';
										s.setAttribute('data-timestamp', +new Date());
										(d.head || d.body).appendChild(s);
										})();
										</script>
										<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
									</div><!-- Blog Wrapper --><!-- Blog Wrapper -->
								</div><!-- Blog Layout -->
								<!-- <div class="post-navigation">
									<ul>
										<li class="prev">
											<span>Prev Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
										<li class="next">
											<span>Next Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
									</ul>
								</div> --><!-- Post Navigation -->
								
								
								<div class="post-footer">
								
							</div><!-- Post Footer -->
						</article><!-- Post -->
					</div><!-- Blog posts -->
				</section><!-- Main -->
				<aside-directive></aside-directive>
			</div><!-- Row -->
		</div><!-- Container -->
	</section><!-- Main Area -->
</div>