<div class="wide home">
<section id="main-area">
  <h3 style="display: none;">Main Area</h3>
  <div class="container">
    <div class="row">
      <section id="main" class="main col-md-8">
        <h2 style="display: none;">Main</h2>
        <div class="blog-posts hfeed">
          <article class="post single-post thumbnail">
            <div class="post-header">
              <h1 class="post-title">Rav Dror is in California!!!</h1>
              <h4>We are excited to announce the <strong>Rav Dror California tour.</strong> We can’t wait to see you all at the events.
              Make sure to support Rav Dror and the Emunah Project by spreading the word on social media or word of mouth or however you like :-)</h4>
              <h4>All are welcome regardless of gender or religion and all events are FREE.</h4>
              <h4>Below you will find our latest information for all events which include locations and such <a href="emunah.com">Emunah.com</a></h4>
              <h4>May you all be blessed with the Truth and we look forward to seeing you soon!</h4>
              <h4>Dates still available for Lectures. Please call 818-219-7150 or email  <a href="mail:tour@emunah.com">tour@emunah.com</a> for more info!</h4>
              <!-- Post Title -->
            </div><!-- Post Header -->
            <div class="post-thumb" style="text-align: center;">
              <classes-directive></classes-directive>
              <!-- <img src="images/hitbodedut.jpg" alt="Post Title Placeholder" /> -->
              <br>
              <div class="post-thumb" style="text-align: center;">
                <div class="row">
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <!-- <a href="images/cali.jpg"> -->
                        <img src="images/cali.jpg" alt="Lights" style="width:100%">
                        <!-- <div class="caption">
                          <p>Lorem ipsum...</p>
                        </div>
                      </a> -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <!-- <a href="images/c1.jpg"> -->
                        <img src="images/c1.jpg" alt="Nature" style="width:100%">
                        <!-- <div class="caption">
                          <p>Lorem ipsum...</p>
                        </div>
                      </a> -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <!-- <a href="images/c2.jpg"> -->
                        <img src="images/c2.jpg" alt="Fjords" style="width:100%">
                        <!-- <div class="caption">
                          <p>Lorem ipsum...</p>
                        </div>
                      </a> -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <!-- <a href="images/cali.jpg"> -->
                        <img src="images/c3.jpg" alt="Lights" style="width:100%">
                        <!-- <div class="caption">
                          <p>Lorem ipsum...</p>
                        </div>
                      </a> -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <!-- <a href="images/c1.jpg"> -->
                        <img src="images/c4.jpg" alt="Nature" style="width:100%">
                        <!-- <div class="caption">
                          <p>Lorem ipsum...</p>
                        </div>
                      </a>
 -->                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <!-- <a href="images/c2.jpg"> -->
                        <img src="images/c5.jpg" alt="Fjords" style="width:100%">
                        <!-- <div class="caption">
                          <p>Lorem ipsum...</p>
                        </div>
                      </a> -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <!-- <a href="images/cali.jpg"> -->
                        <img src="images/c6.jpg" alt="Lights" style="width:100%">
                        <!-- <div class="caption">
                          <p>Lorem ipsum...</p>
                        </div>
                      </a> -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <!-- <a href="images/c1.jpg"> -->
                        <img src="images/c7.jpg" alt="Nature" style="width:100%">
                        <!-- <div class="caption">
                          <p>Lorem ipsum...</p>
                        </div>
                      </a> -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <!-- <a href="images/c2.jpg"> -->
                        <img src="images/c8.jpg" alt="Fjords" style="width:100%">
                        <!-- <div class="caption">
                          <p>Lorem ipsum...</p>
                        </div>
                      </a> -->
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <!-- AddToAny BEGIN -->
              <div style="display: block; margin: auto; left: 50%;"class="a2a_kit a2a_kit_size_32 a2a_default_style">
                <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_twitter"></a>
                <a class="a2a_button_google_plus"></a>
                <a class="a2a_button_linkedin"></a>
                <a class="a2a_button_whatsapp"></a>
                <a class="a2a_button_email"></a>
                <a class="a2a_button_copy_link"></a>
              </div>
              <script async src="https://static.addtoany.com/menu/page.js"></script>
              <!-- AddToAny END -->
            </div><!-- Post Image -->
            <div class="post-body">
              <br>
              <p style="text-align: justify; padding: 0 30 0 0px;">Share this campaign with everyone you can, and also everyone who  you saw at the classes in the past, so they can be a part of this amazing tour as well.</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">If you have a friend who you know needs to hear what Rav Dror inspires us with, show them the classes on our website Emunah.com and bring them along!</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">Let’s make this happen today!  Thank you all for all your continued support of this beautiful light we are spreading!</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">To book Rav Dror at your public venue or private event at any of the locations listed above, please email <a href="mailto:info@emunah.com" target="_top">info@emunah.com</a> | Call us @ <a href="tel:+13109076652">310-907-6652</a>.</p>
            </div><!-- Post Body -->
            </article><!-- Post -->
          </div><!-- Blog posts -->
        </section><!-- Main -->
      <smallestaside-directive></smallestaside-directive>
      </div><!-- Row -->
    </div><!-- Container -->
  </section><!-- Main Area -->
</div>
