<div class="wide home">
<section id="main-area">
  <h3 style="display: none;">Main Area</h3>
  <div class="container">
    <div class="row">
      <section id="main" class="main col-md-8">
        <h2 style="display: none;">Main</h2>
        <div class="blog-posts hfeed">
          <article class="post single-post">
            <div class="post-header">
              
              <h1 class="post-title" style="margin-top:50px;">Lectures In USA</h1>
              <h4><strong>Rav Dror Moshe Cassouto</strong> is traveling across the United States of America. Please stay tuned for upcoming speaking events.</h4>
              <!-- Post Title -->
            </div><!-- Post Header -->
            <div class="post-thumb">
              <classes-directive></classes-directive>
              <!-- <img src="images/hitbodedut.jpg" alt="Post Title Placeholder" /> -->
              <br>
              <div class="sharethis-inline-share-buttons"></div>
            </div><!-- Post Image -->
            <div class="post-body">
              <br>
              <p style="text-align: justify; padding: 0 30 0 0px;">Share this campaign with everyone you can, and also everyone who  you saw at the classes in the past, so they can be a part of this amazing tour as well.</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">If you have a friend who you know needs to hear what Rav Dror inspires us with, show them the classes on our website Emunah.com and bring them along!</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">Let’s make this happen today!  Thank you all for all your continued support of this beautiful light we are spreading!</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">To book Rav Dror at your public venue or private event at any of the locations listed above, please email <a href="mailto:info@emunah.com" target="_top">info@emunah.com</a> | Call us @ <a href="tel:+13109076652">310-907-6652</a>.</p>
              <hr>
              <form class="contact-form" method="POST" action="http://formspree.io/maynard@newoldroad.com">
                <div class="input-group">
                  <input type="hidden" name="_cc" value="chaim@emunah.com" />
                  <input type="hidden" name="_next" value="/templates/thanks.html" />
                  First and Last Name <i>(Required)</i>:
                  <input type="name" name="name" placeholder="Your Name">
                  You Email <i>(Required)</i>:
                  <input type="email" name="email" placeholder="Your Email">
                  You Phone <i>(Required)</i>:
                  <input type="phone" name="phone" placeholder="Your Phone (Optional)">
                  Why do u want to join this hitbodedut session?
                  <textarea name="reason" placeholder="Reason"></textarea>
                  Have you ever tried hitbodedut? If so, what has your experience been?
                  <textarea name="experience" placeholder="Experience"></textarea>
                </div>
                <div class="input-group">
                  <input type="submit" value="Send" class="bt btn-success">
                </div>
              </form>
            </div><!-- Post Body -->
            </article><!-- Post -->
          </div><!-- Blog posts -->
        </section><!-- Main -->
      <aside-directive></aside-directive>
      </div><!-- Row -->
    </div><!-- Container -->
  </section><!-- Main Area -->
</div>
