<div class="blog-layout layout-8" style="display: block; max-width: 85%; margin: 70px;">
  <div class="blog-title">
    <h2 style="margin-top:50px;">About</h2>
  </div><!-- Blog title -->
  <div class="blog-wrapper row">
        <div class="col col-sm-12">
      <article class="post" style="width: 50%">
        <div class="post-thumb" >
          <a ui-sref="page-about">
            <img class="lazy" src="images/5.jpg" data-src="images/22.jpg" alt="Post Title Placeholder" />
          </a>
        </div><!-- Post Image -->
        <div class="post-content">
          <h4 class="post-title">
            <a ui-sref="page-about">About Emunah.com</a>
          </h4><!-- Post Title -->
          <ul class="post-meta">
<!--             <li><i class="fa fa-clock-o"></i> October 16, 2017</li>
            <li><i class="fa fa-comment-o"></i> 240</li> -->
          </ul><!-- Post Meta -->
          <p class="post-entry">Learn more about Emunah.com and our mission.</p><!-- Post Entry -->
        </div><!-- Post Content -->
      </article><!-- Post -->
    </div><!-- Column -->
    <div class="col col-sm-12">
      <article class="post" style="width: 50%">
        <div class="post-thumb" >
          <a ui-sref="page-about-rav">
            <img class="lazy" src="images/author.jpg" data-src="images/author.jpg" alt="Post Title Placeholder" />
          </a>
        </div><!-- Post Image -->
        <div class="post-content">
          <h4 class="post-title">
            <a ui-sref="page-about-rav">About Rav Dror</a>
          </h4><!-- Post Title -->
          <ul class="post-meta">
<!--             <li><i class="fa fa-clock-o"></i> October 16, 2017</li>
            <li><i class="fa fa-comment-o"></i> 240</li> -->
          </ul><!-- Post Meta -->
          <p class="post-entry">Learn more about Rav Dror and his journey to help people around the world.</p><!-- Post Entry -->
        </div><!-- Post Content -->
      </article><!-- Post -->
    </div><!-- Column -->
    <div class="col col-sm-12">
      <article class="post" style="width: 50%">
        <div class="post-thumb">
          <a ui-sref="mitzvot">
            <img class="lazy" src="images/18.jpg" data-src="images/18.jpg" alt="Post Title Placeholder" />
          </a>
        </div><!-- Post Image -->
        <div class="post-content">
          <h4 class="post-title">
            <a ui-sref="mitzvot">Mitzvot</a>
          </h4><!-- Post Title -->
          <ul class="post-meta">
<!--             <li><i class="fa fa-clock-o"></i> October 16, 2017</li>
            <li><i class="fa fa-comment-o"></i> 240</li> -->
          </ul><!-- Post Meta -->
          <p class="post-entry">Learn about Jewish tradition and how to fulfill the 613 mitzvot as given through the Torah and expounded upon by our sages.</p><!-- Post Entry -->
        </div><!-- Post Content -->
      </article><!-- Post -->
    </div><!-- Column -->
    <div class="col col-sm-12">
      <article class="post" style="width: 50%">
        <div class="post-thumb">
          <a ui-sref="faq">
            <img class="lazy" src="images/4.jpg" data-src="images/4.jpg" alt="Post Title Placeholder" />
          </a>
        </div><!-- Post Image -->
        <div class="post-content">
          <h4 class="post-title">
            <a ui-sref="faq">FAQ's</a>
          </h4><!-- Post Title -->
          <ul class="post-meta">
            <!-- <li><i class="fa fa-clock-o"></i> October 16, 2017</li>
            <li><i class="fa fa-comment-o"></i> 240</li> -->
          </ul><!-- Post Meta -->
          <p class="post-entry">Learn about frequently asked questions individual have about Jewish tradition.</p><!-- Post Entry -->
        </div><!-- Post Content -->
      </article><!-- Post -->
    </div><!-- Column -->
  </div><!-- Blog Wrapper -->
</div><!-- Blog Layout -->
