<footer id="footer">
	<!-- Row -->
	<div class="footer-columns row">
		<div class="footer-col col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-2 col-md-8 ">

			<div class="link-container border-lines">

				<ul class="footer-links">
					<li ng-repeat="column in footerLinkColumns">
						<ul>
							<h4>
								<i class="{{ column.icon }}"></i>
								<span class="chabad-gold">{{ column.header}}</span>
							</h4>
							<li ng-repeat="link in column.links" style="cursor: pointer">
								<a ng-if="link.hRef" href="{{ link.hRef }}" target="_blank">{{ link.title }}</a>
								<a ng-if="link.uiSref" ui-sref="{{ link.uiSref }}">{{ link.title }}</a>
							</li>
						</ul>
					</li>
				</ul>

				<div id="footer-subscribe">
					<h4 class="chabad-gold" style="margin-right: 30px">Subscribe to our Weekly News Letter!</h4>
					<div class="input-group">
						<form action="https://emunahchannel.us13.list-manage.com/subscribe/post" method="post" name="mc-embedded-subscribe-form"
						 target="_blank" novalidate>
							<input type="hidden" name="u" value="7d5679b8640e5113f10b23a4b">
							<input type="hidden" name="id" value="8494cf23ed">
							<input type="email" value="" name="EMAIL" class="form-control" placeholder="Enter Email" required>
							<span class="input-group-btn">
								<div style="position: absolute; left: -5000px;" aria-hidden="true">
									<input type="text" name="b_f95258be440735b1039166749_70a28598ae" tabindex="-1" value="">
								</div>
								<button class="btn btn-default" style="background: #ffcc66; border: solid #ffcc66" type="submit" value="Subscribe" name="subscribe">
									Subscribe!
								</button>
							</span>
							<input type="hidden" name="ht" value="908c581730848ee2fa93fb84b03a89764cd1528b:MTUxNzI1MjUwOC4zMDc0">
							<input type="hidden" name="mc_signupsource" value="hosted">
							<input name="loc" type="hidden" value="en_US">
						</form>
					</div>
				</div>
				<!-- /.col-lg-6 -->
				<ul class="footer-social-media">
					<li ng-repeat="link in socialMedia" style="padding: 0 1em;">
						<a href="{{ link.hRef }}" style="display: block; width: 100%">
							<i class="{{ link.faIcon }}"></i>
						</a>
					</li>
				</ul>

			</div>

			<div>
				<a href="index.html">
					<img src="images/footer.png" alt="Logo Footer" style="margin: auto; width: 60%">
				</a>
			</div>
			<p style="color: white; font-size: 1em;">
				Rabbi Dror Moshe Cassouto spreads a message of Happiness, Simplicity, Faith, and the understanding that it is okay to fail
				and fall. We are human beings – it’s our nature to get back up and start over again.
				<br>
				<strong>
					<em>Contact us:</em>
					info@emunah.com
				</strong>
			</p>
		</div>
	</div>

	<!-- Footer -->
	<div id="copyrights">
		<div class="container">
			<div class="copytext">
				<i class="fa fa-copyright"></i> 2017
				<a ui-sref="home">Emunah</a>. All rights reserved.
			</div>
			<div class="pages">
				<div class="widget PageList">
					<div class="widget-content">
						<a ui-sref="home">Home</a>
						<a href="page.html">Terms of Use</a>
						<a href="page.html">Advertise</a>
						<a ui-sref="page-contact">Contact Us</a>
					</div>
				</div>
				<!-- Widget : Pages -->
			</div>
			<div ng-click="toTop()" class="totop">
				<i class="fa fa-angle-up"></i>
			</div>
		</div>
	</div>

</footer>