<mobile-store-directive></mobile-store-directive>

<header class="header" id="layout3">
      
       
        <div class="store-menu-overlay mainmenu stick-me sticking" >
          <div class="container">
            <nav class="menu">
              <ul>
                <li><a ui-sref="store-necklaces" href="/home">Necklaces</a>

                </li>
                <li class="parent"><a ui-sref="store-shirts">Shirts</a></li>
                 
                    <li class="parent"><a ui-sref="store-hebrew">Books in Hebrew</a>
                     
                    </li>
                    <li class="parent"><a ui-sref="store-english">Books in English</a>
                      
                  </li>
                    <li><a ui-sref="store-booklets">Booklets</a></li>
                    <li ng-class="{lightBlue: isActive('/store-cds')}"><a ui-sref="store-cds">CDs</a></li>
                    <li><a ui-sref="store-misc">Miscellaneous</a></li>
                  </ul>
                </li>
                
              </ul>
            </nav><!-- Menu -->
         
      </header>
  
  <!-- Image header -->
  

  <div class="w3-container w3-text-grey" id="jeans">
   
  </div>
 <div class="frameshop">
  <!-- Necklaces -->
  <div id='collection-component-3ebec3f7d56'></div>
</div>
  <script src="js/store/cds.js"></script>

</body>
</html>