<mobile-store-directive></mobile-store-directive>

<!-- Image header -->

<div class="w3-container w3-text-grey" id="jeans"></div>

<store-nav-directive></store-nav-directive>

<spinner-directive></spinner-directive>

<div class="frameshop">
	<h1 style="text-align: center;">Welcome to the Emunah Store!</h1>
		<p style="text-align: center;">Every purchase you make directly helps Rav Dror spread Faith in the world.</p>
  <!-- Necklaces -->
  <div id='collection-component-3ebec3f7d56'></div>
</div>

<script src="js/store/cds.js"></script>
