<mobile-store-directive></mobile-store-directive>

<div class="w3-container w3-text-grey" id="jeans"></div>

<store-nav-directive></store-nav-directive>

<spinner-directive></spinner-directive>



<div class="wide home">
	<div class="frameshop">
		<h1 style="text-align: center;">Welcome to the Emunah Store!</h1>
		<p style="text-align: center;">Every purchase you make directly helps Rav Dror spread Faith in the world.</p>
		<hr>
  <h2 style="text-align: center;">Prints</h2>
  <!-- Necklaces -->
  
  <div id='collection-component-67b37b97967'></div>
  <hr>
</div>
<hr>
<div class="frameshop">
  <h2 style="text-align: center;">Originals</h2>
  <!-- Necklaces -->
  
  <div id='collection-component-edf95f96d8e'></div>
  <hr>
</div>
<section id="main-area" class="service-main-area">
  <h3 style="display: none;">Main Area</h3>
  <div class="container">
    <div class="row" >
      <section id="main" class="main col-md-8 col-md-offset-4 service-main-container">
        <h2 style="display: none;">Main</h2>
        <div class="blog-posts hfeed">
          <article class="post single-post">
              <div class="service-header">
                <h1 class="post-title">About The Author - Avi Cassuoto</h1>
              </div><!-- Post Title -->
            <div class="post-thumb">
              <img src="images/avi.jpg" alt="Post Title Placeholder" />
            </div><!-- Post Image -->
            <div class="post-body">
              <br>
              <p style="text-align: justify; padding: 0 30 0 0px;">Born: 1949</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">Plastic artist - painter / sculptor.</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">Lives and teaches in Jerusalem</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">Painting is the ultimate expression of my thoughts and feelings.
				My artistic and emotional expression as an artist is influenced mainly by my physical and mental presence in Jerusalem.
			  </p>
              <p style="text-align: justify; padding: 0 30 0 0px;">Jerusalem has many varying components from the past and from the present.  The city has a unique and complex atmosphere.  The make-up of its inhabitants, its neighborhoods, its landscapes, stone houses, faded olive trees and most of all the unique light.  They all serve as an inspiration for me.   
			  </p>
              <p style="text-align: justify; padding: 0 30 0 0px;">As an individual and an artist, I am influenced by changing moods and events that take place around me with a vast and ever-changing array. What is evident today did not necessarily have an impact on me a year ago and may not influence a year from now.  
			  </p>
			  <p style="text-align: justify; padding: 0 30 0 0px;">I attempt in my work to be exposed and open to many new influences.  My senses perceive new influences through they remain captive to realist art.  Nevertheless, I have a strong appreciation for Impressionism in its many forms.  
			  </p>
			  <p style="text-align: justify; padding: 0 30 0 0px;">I devote countless hours to each painting.  The amount of energy exerted often feels like exhaustive physical activity.   
			  </p>
			  <p style="text-align: justify; padding: 0 30 0 0px;">My style is characterized by aesthetics, depth and precision which is obtained through multi-layered work. Most of my works are oil paintings on canvas utilizing mixed and brush techniques.   
			  </p>
			  <p style="text-align: justify; padding: 0 30 0 0px;">My connection to the various shades of Jerusalem stone used in construction throughout the city led me several years ago to begin stone sculpture.
			  </p>
			  <div class="service-header">
                <h1 class="post-title">Workshops for Students of all Levels</h1>
              </div><!-- Post Title -->
			  <p style="text-align: justify; padding: 0 30 0 0px;">Workshops are held in my studio in small groups, in a pleasant and relaxed atmosphere
			  </p>
			  <p style="text-align: justify; padding: 0 30 0 0px;">Emphasis is placed on work with color and improving the ability of each student to observe as well as his or her technique. 
			  </p>
			  <p style="text-align: justify; padding: 0 30 0 0px;">The instruction is personalized and adapted to the individual's personality, talent, pace, and artistic inclinations.
			  </p>
			  <p style="text-align: justify; padding: 0 30 0 0px;">The option for additional lessons is available as well as help in preparing a portfolio. 
			  </p>
			  <p style="text-align: justify; padding: 0 30 0 0px;"><strong>For more details <a style="color: steelblue;" ui-sref="page-contact">contact us here.</a><strong> 
			  </p>
            </div><!-- Post Body -->
            </article><!-- Post -->
          </div><!-- Blog posts -->
        </section><!-- Main -->
      <!-- <smallaside-directive></smallaside-directive> -->
      </div><!-- Row -->
    </div><!-- Container -->
  </section><!-- Main Area -->
</div>


<script src="js/store/paintings.js"></script>
