
<div class="storemenu" id="menu">
  <div class="row">
    <div class="col-md-12">

      <ul class="list-group" style="
  
    text-align: center;"
>
           <li class="list-group-item">
                    <a ui-sref="store-necklaces">Necklaces</a>
                </li>
                <li class="list-group-item">
                    <a ui-sref="store-shirts">Shirts</a>
                </li>
                <li class="list-group-item">
                    <a ui-sref="store-hebrew">Books in Hebrew</a>
                </li>
                <li class="list-group-item">
                    <a ui-sref="store-english">Books in English</a>
                </li>
                <li class="list-group-item">
                    <a ui-sref="store-booklets">Booklets</a>
                </li>
                <li class="list-group-item">
                    <a ui-sref="store-cds">CDs</a>
                </li>
                <li class="list-group-item">
                    <a ui-sref="store-misc">Miscellaneous</a>
                </li>
               
      </ul> 
       
    </div>
   </div>
</div>


<header class="header" id="layout3">
      
       
        <div class="mainmenu stick-me sticking" style="position: fixed; top: 51px;">
          <div class="container">
            <nav class="menu">
              <ul>
                <li><a ui-sref="store-necklaces" href="/home">Necklaces</a>

                </li>
                <li class="parent"><a ui-sref="store-shirts">Shirts</a></li>
                 
                    <li class="parent"><a ui-sref="store-hebrew">Books in Hebrew</a>
                     
                    </li>
                    <li class="parent"><a ui-sref="store-english">Books in English</a>
                      
                  </li>
                    <li><a ui-sref="store-booklets">Booklets</a></li>
                    <li><a ui-sref="store-cds">CDs</a></li>
                    <li><a ui-sref="store-misc">Miscellaneous</a></li>
                  </ul>
                </li>
                
              </ul>
            </nav><!-- Menu -->
         
      </header>
  
  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <br>
    <p class="w3-left">Products: Books In Hebrew</p>
<!--     <p class="w3-right">
      <i class="fa fa-shopping-cart w3-margin-right" onclick="document.getElementById('id01').style.display='block'"></i>
      <i class="fa fa-search"></i>
    </p> -->
  </header>

  <!-- Image header -->
  

  <div class="w3-container w3-text-grey" id="jeans">
   
  </div>

  <!-- Necklaces -->
  <div id='collection-component-77b3b19830d'></div>
  <script src="js/store/hebrew.js"></script>

</body>
</html>