<div class="wide home">
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<h2 style="display: none;">Main</h2>
					<div class="blog-posts hfeed">
						<article class="post single-post">
							<div class="post-header">
								<div class="post-category">
									<a ui-sref="mitsvot">MITZVOT</a>
								</div>
								<h1 class="post-title"> Blessings for Food &amp; Other Occasions </h1><!-- Post Title -->
								<ul class="post-meta">
									<li><img class="avatar" width="24" height="24" src="images/author.jpg" alt="Author Avatar Image" />by <a href="page-author.html">Chabad.org</a></li>
									<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
									<!-- <li><i class="fa fa-comment-o"></i> 240</li>
									<li class="right"><i class="fa fa-eye"></i> 42,350 views</li> -->
									<li class="right"><a href="#print"><i class="fa fa-print"></i> Print This Post</a></li>
								</ul><!-- Post Meta -->
							</div><!-- Post Header -->
							<div class="post-share" style="padding:4px">

								<!-- <span class="counter"><strong>24k</strong>Shares</span> -->
								<!-- AddToAny BEGIN -->
								<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
									<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
									<a class="a2a_button_facebook"></a>
									<a class="a2a_button_twitter"></a>
									<a class="a2a_button_google_plus"></a>
									<a class="a2a_button_linkedin"></a>
									<a class="a2a_button_whatsapp"></a>
									<a class="a2a_button_email"></a>
									<a class="a2a_button_copy_link"></a>
								</div>
								<script async src="https://static.addtoany.com/menu/page.js"></script>
								<!-- AddToAny END -->
								<!-- <ul>
 -->
									<script>
									    function fbShare(url, title, descr, image, winWidth, winHeight) {
									        var winTop = (screen.height / 2) - (winHeight / 2);
									        var winLeft = (screen.width / 2) - (winWidth / 2);
									        
									    }
									</script>

									<!-- <li class="facebook"><a style="cursor:pointer" onclick="fbShare(window.location.href, ‘Fb Share’, ‘Facebook share popup’, ‘http://goo.gl/dS52U’, 520, 350)"><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li>
									
									<!-- <li class="twitter"><a href=""><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
									<li class="google-plus"><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li class="linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
									<li class="whatsapp"><a href=""><i class="fa fa-whatsapp"></i></a></li>
									<li class="email"><a href=""><i class="fa fa-envelope-o"></i></a></li>-->
							
								</ul> 
							</div><!-- Post Share -->
							<div class="post-thumb">
								<img src="images/9.jpg" alt="Post Title Placeholder" />
							</div><!-- Post Image -->
							<div class="post-body">
								<p class="mitzvot-paragraph">Few activities are as instinctive as eating: it is a basic bodily need, requires no thought or advance preparation, and is, largely, for us today, readily available. And yet the Torah demands from us that before putting anything in our mouths, or otherwise taking pleasure from G‑d's world, we pause for a moment, recite a few words to ourselves, and only then proceed to enjoy. And with these words, this simple blessing, we have transformed the most prosaic of acts into something holy.</p>
								<p class="mitzvot-paragraph">How? By acknowledging G‑d as the source of all sustenance, recognizing that the earth and its bounties belong to Him, and expressing our gratitude to Him for providing it for us. All this with the words: "Blessed are You, Lord our G‑d, King of the universe..."
								</p>
								<h3>Basic Blessings on Food Guide</h3>
								<p class="mitzvot-paragraph"><strong>1. Why a Blessing?</strong></p>
								<p class="mitzvot-paragraph">The Sages ordained that "one should not derive benefit from this world without first reciting a blessing." Making a blessing before eating is tantamount to "asking permission" from G‑d, acknowledging that "the world, and everything in it, is G‑d's" (Psalms 24:1) and G‑d is the true source of all the gifts of life. It imbues the mundane act of eating with a spiritual awareness--awareness of the true Source of our sustenance, and of the purpose of eating.</p>
								<p class="mitzvot-paragraph">We make different blessings for different food types before eating, and after-blessings when the repast is complete.</p>
								<p class="mitzvot-paragraph"><strong>2. Bread</strong></p>
								<p class="mitzvot-paragraph">Bread made from the five species of grains identified by our sages (wheat, barley, rye, spelt or oat) require the blessing "Hamotzi". In order to be considered bread, the liquid ingredient has to be primarily water and it has to be baked. Dough that uses more oil or fruit juice than water (like pastries), or dough that is fried or cooked (like pasta) is not regarded as "bread."</p>
								<p class="mitzvot-paragraph">In addition to the blessing made on food, bread has the special requirement that we ritually wash our hands before partaking of it. Fill a large cup with water and pour it three times over your right hand, then three times over the left. Lift your hands and rub them together, and as you do so recite the following blessing:
								</p>
								<p class="mitzvot-bracha">Baruch atah A-donay, Elo-heinu Melech Ha’Olam, asher kideshanu bemitzvotav vetzivanu al netilat yadayim.</p>
								<p class="mitzvot-bracha">(Blessed are You L-rd our G‑d King of the universe Who has sanctified us with his commandments and commanded us on the washing of the hands.)</p>
								<p class="mitzvot-paragraph">Then dry your hands thoroughly.</p>
								<p class="mitzvot-paragraph">The blessing on bread:</p>
								<p class="mitzvot-bracha">Baruch atah A-donay, Elo-heinu Melech Ha’Olam Hamotzi lechem min haaretz.</p>
								<p class="mitzvot-bracha">(Blessed are You, L-rd our G‑d, King of the Universe, Who brings forth bread from the earth.)</p>
								<div class="th-caption left-caption">
									<a href="images/12.jpg">
										<img width="300" src="images/12.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<p class="mitzvot-subheading">3. Foods Eaten with Bread</p>
								<p class="mitzvot-paragraph">When eating a meal that includes bread, begin your meal by washing, making the "Hamotzi" blessing, and eating a piece of bread. The Hamotzi blessing will "cover" everything you eat as part of the meal (except for dessert and wine). "Grace After Meals," recited after the meal, will cover everything you've eaten.</p>
								<p class="mitzvot-paragraph">When eating foods outside of a meal with bread, individual food types get their own blessing before and after eating, as specified below.</p>
								<br>
								<!-- <div class="post-ad">
									<span>Advertisment</span>
									<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
										<img src="images/banner.jpg" alt="Banner Image Placeholder">
									</a>
								</div> -->
								<br>
								<br>
								<p class="mitzvot-subheading">4. "Mezonot"</p>
								<p class="mitzvot-paragraph">
									Food that is made from grain (wheat, barley, rye, spelt or oat) but is not bread gets the blessing mezonot. This includes cakes and pastries, most crackers and cereals, pasta and other cooked grain products like farfel and couscous.
								</p>
								<p class="mitzvot-paragraph">
									The blessing:
								</p>
								<p class="mitzvot-bracha">
									Baruch atah A-donay, Elo-heinu Melech Ha’Olam borei minei mezonot.
								</p>
								<p class="mitzvot-bracha">
									Blessed are you L-rd our G‑d, King of the Universe, Who creates various kinds of sustenance.
								</p>
								<p class="mitzvot-subheading">5. Wine</p>
								<p class="mitzvot-paragraph">
									Wine has special significance and uses in Jewish law, so it gets its own blessing. Make this blessing when drinking wine or grape juice:
								</p>
								<p class="mitzvot-bracha">
									Baruch atah A-donay, Elo-heinu Melech Ha’Olam borei pri hagafen.
								<p class="mitzvot-bracha">
									Blessed are You, L-rd our G‑d, King of the universe, Who creates the fruit of the vine.
								</p>
								<p class="mitzvot-subheading">6. Fruits</p>
								<p class="mitzvot-paragraph">Fruits get the "Ha-aitz" blessing. In Jewish law, a fruit is defined as something growing from a perennial tree that does not renew its stem and does not grow too close to the ground. Thus, apples, grapes, nuts (except peanuts) and figs are fruit, but strawberries, watermelon and bananas are not.</p>
								<p class="mitzvot-paragraph">Here's the blessing:</p>
								<p class="mitzvot-bracha">Baruch atah A-donay, Elo-heinu Melech Ha’Olam borei pri ha-aitz.</p>
								<p class="mitzvot-bracha">Blessed are You, L-rd our G‑d, King of the universe, who creates the fruit of the tree.</p>
								<div class="th-caption right-caption">
									<a href="images/4.jpg">
										<img width="300" src="images/4.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<p class="mitzvot-subheading">7. Vegetables</p>
								<p class="mitzvot-paragraph">"Fruits of the ground" include vegetables, legumes, peanuts, and the "fruit" excluded from the ha-aitz blessing above: melons, bananas, pineapples, some berries.</p>
								<p class="mitzvot-paragraph">On all these, make the "ha-adamah" blessing:</p>
								<p class="mitzvot-bracha"> Baruch atah A-donay, Elo-heinu Melech Ha’Olam borei pri ha-adamah.</p>
								<p class="mitzvot-bracha">Blessed are You, L-rd our G‑d, King of the universe who creates the fruit of the earth.</p>
								<p class="mitzvot-subheading">8. "Shehakol"</p>
								<p class="mitzvot-paragraph">
								All foods that do not fall into the preceding specific groups get the blessing "shehakol." This includes animal products: meat, chicken, fish, and eggs; water and all other drinks (except for wine) and soups; and miscellaneous foods like mushrooms, candy, etc.</p>
								<p class="mitzvot-paragraph">The Blessing:</p>
								<p class="mitzvot-bracha">Baruch atah A-donay, Elo-heinu Melech Ha’Olam shehakol nihiyah bed'varo.</p>
								<p class="mitzvot-bracha">Blessed are You, L-rd our G‑d, King of the universe, by Whose word all things came to be.</p>
								<p class="mitzvot-subheading">9. Grace After Meals</p>
								<p class="mitzvot-paragraph">"And you shall eat, and be sated, and bless the L-rd your G‑d" (Deuteronomy 8:10). In addition to the before-eating blessings instituted by the sages, we have a biblically-mandated obligation to thank and bless G‑d after eating, expressing our gratitude to the One who "nourishes the entire world with His goodness, with grace, with benevolence and with compassion" (from "Grace After Meals").</p>
								<p class="mitzvot-paragraph">Grace After Meals consists of four primary blessings -- the first composed by Moses when the manna came down from heaven in the desert, the second by Joshua when the Children of Israel ate from the first harvest after entering the Holy Land, the third by Kings David and Solomon, and the fourth by the Sages in mishnaic times.</p>
								<p class="mitzvot-paragraph">The full "Grace" is recited only after partaking of a meal that includes bread, and covers everything eaten during the meal.</p>
								<p class="mitzvot-subheading">10. Al Hamichyah</p>
								<p class="mitzvot-paragraph">An "abridged" version of Grace After Meals that incorporates elements from its first three blessings is said after eating certain foods. There are three versions of this abridged after blessing:</p>
								<p class="mitzvot-paragraph">"Al Hamichyah" is said after eating foods (not bread) prepared from the five grains. Anything that gets the fore-blessing "Mezonot" gets the after-blessing "Al Hamichyah."</p>
								<p class="mitzvot-paragraph">"Al Hagefen" is recited after drinking wine or grape juice.</p>
								<p class="mitzvot-paragraph">"Al Haaretz v'al Hapeirot" for the special fruits with which the Land of Israel was blessed: grapes, figs, pomegranates, olives and dates.</p>

								<p class="mitzvot-subheading">11. After Other Food</p>
								<p class="mitzvot-paragraph">We make the after-blessing "Borei Nifashot" on all food not included in the above categories. This includes anything upon which we make the fore-blessings "Ha-adamah" or "Shehakol" (fish, meat, eggs, drinks-except wine, candy) plus all fruits not included in the special fruits of the Land of Israel.</p>
								<p class="mitzvot-paragraph">When finished your repast over the above foods, recite the blessing:</p>
								<p class="mitzvot-bracha">Baruch atah ado-nai elo-hai-nu melech haolam borei nefashot rabot v’chesronan al kol ma she’barata l’hachayot bahem nefesh kol chai baruch chei ha’olamim.</p>
								<p class="mitzvot-bracha">Blessed are You, L-rd our G‑d, King of the universe, Creator of numerous living beings and their needs, for all the things You have created with which to sustain the soul of every living being. Blessed is He who is the Life of the worlds.</p>
								<div class="th-caption center-caption">
									<a href="images/11.jpg">
										<img src="images/11.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<!-- <div class="post-ad">
									<span>Advertisment</span>
									<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
										<img src="images/banner.jpg" alt="Banner Image Placeholder">
									</a>
								</div> -->
							</div><!-- Post Body -->
							<div class="post-footer">
								<div class="post-picked" id="post-picked">
									<div class="picked-title">
										<h2>You might also like</h2>
										<span class="close"><i class="fa fa-close"></i></span>
									</div>
									<div class="picked-inner">
										<article class="post">
											<div class="post-thumb">
												<img src="images/2.jpg"/>
											</div><!-- Post Image -->
											<div class="post-category">
												<a href="page-category.html">Beauty</a>
											</div>
											<h5 class="post-title"><a href="post-single.html">The Miracle of the Torah.</a></h5><!-- Post Title -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
												<li><i class="fa fa-comment-o"></i> 240</li>
											</ul><!-- Post Meta -->
										</article>
									</div>
								</div>
								<div class="post-tags">
									<span>Tags</span>
									<a href="page-tag.html">Torah Study</a>
									<a href="page-tag.html">Parasha of the Week</a>
									<a href="page-tag.html">Prayer</a>
									
								</div><!-- Post Tags -->
								<div class="post-share">
									<!-- AddToAny BEGIN -->
									<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
										<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
										<a class="a2a_button_facebook"></a>
										<a class="a2a_button_twitter"></a>
										<a class="a2a_button_google_plus"></a>
										<a class="a2a_button_linkedin"></a>
										<a class="a2a_button_whatsapp"></a>
										<a class="a2a_button_email"></a>
										<a class="a2a_button_copy_link"></a>
									</div>
									<script async src="https://static.addtoany.com/menu/page.js"></script>
									<!-- AddToAny END -->
								</div><!-- Post Share -->
								<div class="comments" id="comments">
									<div class="title">
										<h2>Comments</h2>
									</div><!-- Blog title -->
									<div class="blog-wrapper">
										<div id="disqus_thread"></div>
										<script>

										/**
										*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
										*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
										/*
										var disqus_config = function () {
										this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
										this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
										};
										*/
										(function() { // DON'T EDIT BELOW THIS LINE
										var d = document, s = d.createElement('script');
										s.src = 'https://emunah-com.disqus.com/embed.js';
										s.setAttribute('data-timestamp', +new Date());
										(d.head || d.body).appendChild(s);
										})();
										</script>
										<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
									</div><!-- Blog Wrapper -->
								<!-- <div class="post-navigation">
									<ul>
										<li class="prev">
											<span>Prev Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
										<li class="next">
											<span>Next Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
									</ul>
								</div> --><!-- Post Navigation -->
								<div class="post-related">
									<div class="title">
										<h2>Related Posts</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/7.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/8.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/11.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Related Posts -->
								<div class="post-author" style="text-align:left">
									<div class="author-avatar">
										<img src="images/author.jpg" alt="Author Avatar Image" />
									</div>
									<div class="author-content">
										<div class="name">
											<span>Written By</span>
											<a class="author" href="page-author.html">AUTHOR</a>
										</div>
										<p>Rabbi Dror Moshe Cassouto spreads a message of Happiness, Simplicity, Faith, and understanding that it is okay to fail and fall. We are human beings – it’s our nature to get back up and start over again.</p>
										<p style="font-weight: italic;">The content in this page is produced by <a href="http://www.chabad.org/">Chabad.org</a>, and is copyrighted by the author and/or <a href="http://www.chabad.org/">Chabad.org</a>.</p>
										<ul class="author-social">
											<li><a href="#" title="My Website"><i class="fa fa-globe"></i></a></li>
											<li><a href="#" title="Follow me on twitter"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#" title="Follow me on instagram"><i class="fa fa-instagram"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="post-recommended">
									<div class="title">
										<h2>Recommended Articles</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/6.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/9.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/12.jpg">
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/10.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Recommended Posts -->
								<div class="post-footer">
								</div><!-- Blog Layout -->
							</div><!-- Post Footer -->
						</article><!-- Post -->
					</div><!-- Blog posts -->
				</section><!-- Main -->
				<aside-directive></aside-directive>
			</div><!-- Row -->
		</div><!-- Container -->
	</section><!-- Main Area -->
</div>