<div class="wide home">
	<div id="wrapper">
		<div class="search-modal">
			<div class="container">
				<form action="page-search.html" method="get">
					<input type="text" name="q" value="Search.." />
					<span class="search-close"></span>
				</form>
			</div>
		</div>
		<section id="main-area">
			<h3 style="display: none;">Main Area</h3>
			<div class="container">
				<div class="status-message">
					<div class="message">
					</br>
				</br>

				<h1 style="margin-left:290px">MITZVOT</h1>
			</div>
					
				</div>
				<div class="row">
					<section id="main" class="main col-md-8">
						<div class="blog-layout layout-2" style="display: block">
							<div class="blog-wrapper row">
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a ui-sref="mitzvot-kosher">
												<img class="lazy" src="images/kosher.jpg" data-src="images/12.jpg" alt="Post Title Placeholder" />
											</a>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<!-- <a ui-sref="generalMitzvot({article: 'kosher'})">Kosher</a> -->
												<a ui-sref="mitzvot-kosher">Kosher</a>
											</h4><!-- Post Title -->
											<p class="post-entry">What is kosher? How to keep kosher? What does it mean?</p><!-- Post Entry -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a ui-sref="mitzvot-shabbat">
												<img class="lazy" src="images/woman.jpg" data-src="images/woman.jpg" alt="Post Title Placeholder" />
											</a>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a ui-sref="mitzvot-shabbat">Shabbat</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Shabbat: the island of time that defines the Jew’s week. The rituals, the practices, the do’s, and the don’ts of the Jewish Sabbath—and how you can experience it all for yourself.</p><!-- Post Entry -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a ui-sref="mitzvot-tefillin">
												<img class="lazy" src="images/13.jpg" data-src="images/13.jpg" alt="Post Title Placeholder" />
											</a>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a ui-sref="mitzvot-tefillin">Tefillin</a>
											</h4><!-- Post Title -->
											<p class="post-entry">The Mitzvah that binds our minds with our hearts and deeds, and allows a daily reunification within ourselves and with G-d. Tefillin: the what, the why, and the how-to.</p><!-- Post Entry -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a ui-sref="mitzvot-mezuzah">
												<img class="lazy" src="images/mezuzah.jpg" data-src="images/mezuzah.jpg" alt="Post Title Placeholder" />
											</a>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a ui-sref="mitzvot-mezuzah">Mezuzah</a>
											</h4><!-- Post Title -->
											<p class="post-entry">What is a mezuzah and what is its significance in the Jewish home? A full guide exploring the meaning of mezuzah, its laws, and how to affix one in your own hom</p><!-- Post Entry -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a ui-sref="mitzvot-prayer">
												<img class="lazy" src="images/yahudi.jpg" data-src="images/yahudi.jpg" alt="Post Title Placeholder" />
											</a>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a ui-sref="mitzvot-prayer">Prayer</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Jewish Prayer: How do we converse with God? When is the proper time to do so? What's the objective? Explore the world of Jewish prayers</p><!-- Post Entry -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a ui-sref="mitzvot-blessings">
												<img class="lazy" src="images/10.jpg" data-src="images/10.jpg" alt="Post Title Placeholder" />
											</a>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a ui-sref="mitzvot-blessings">Blessings</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Before putting anything in our mouths, we pause for a moment, recite a few words to ourselves, and only then proceed with our eating.</p><!-- Post Entry -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a ui-sref="mitzvot-charity">
												<img class="lazy" src="images/money.jpg" data-src="images/money.jpg" alt="Post Title Placeholder" />
											</a>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a ui-sref="mitzvot-charity">Charity</a>
											</h4><!-- Post Title -->
											<p class="post-entry">How to give, how much to give, and the uniquely Jewish perspective on charity</p><!-- Post Entry -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a ui-sref="mitzvot-mikvah">
												<img class="lazy" src="images/mikvah.jpg" data-src="images/4.jpg" alt="Post Title Placeholder" />
											</a>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a ui-sref="mitzvot-mikvah">Mikvah</a>
											</h4><!-- Post Title -->
											<p class="post-entry">The most important institution of Jewish life, next to the home, is the mikveh and its cycle of separation and union between husband and wife</p><!-- Post Entry -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a ui-sref="mitzvot-tzitzit">
												<img class="lazy" src="images/8.jpg" data-src="images/8.jpg" alt="Post Title Placeholder" />
											</a>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a ui-sref="mitzvot-tzitzit">Talit and Tzitzit</a>
											</h4><!-- Post Title -->
											<p class="post-entry">This is no fringe mitzvah! The tallit and tzitzit serves as constant reminders of our obligations to G-d and our fellows.</p><!-- Post Entry -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
<!-- 								Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a ui-sref="mitzvot-parents">
												<img class="lazy" src="images/relationship.jpg" data-src="images/relationship.jpg" alt="Post Title Placeholder" />
											</a>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a ui-sref="mitzvot-parents">Honoring Parents</a>
											</h4><!-- Post Title -->
											<p class="post-entry">A brief treatise on the significance of the mitzvah of honoring one’s parents.</p><!-- Post Entry -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a ui-sref="mitzvot-613">
												<img class="lazy" src="images/13.jpg" data-src="images/13.jpg" alt="Post Title Placeholder" />
											</a>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a ui-sref="mitzvot-613">613 Mitzvot</a>
											</h4><!-- Post Title -->
											<p class="post-entry">The Talmud tells us that there are 613 commandments in the Torah; 248 Positive Commandments (do's) and 365 Negative Commandments (do not's).</p><!-- Post Entry -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								</div><!-- Column -->
								<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a ui-sref="mitzvot-skullcap">
												<img class="lazy" src="images/skullcap.jpg" data-src="images/skullcap.jpg" alt="Post Title Placeholder" />
											</a>
										</div>
										<div class="post-content">
											<h4 class="post-title">
												<a ui-sref="mitzvot-skullcap">The Skullcap</a>
											</h4>
											<p class="post-entry">A brief treatise on the significance of covering one's head with a Kipah</p> 
										</div> 
									</article> 
								</div> 
									<div class="col col-sm-6">
									<article class="post">
										<div class="post-thumb">
											<a ui-sref="mitzvot-moon">
												<img class="lazy" src="images/kiddush-levana.jpg" data-src="images/kiddush-levana.jpg" alt="Post Title Placeholder" />
											</a>
										</div><!-- Post Image -->
										<div class="post-content">
											<h4 class="post-title">
												<a ui-sref="mitzvot-moon">Sanctifying the Moon</a>
											</h4><!-- Post Title -->
											<p class="post-entry">Kiddush Levanah, the blessing on the moon</p><!-- Post Entry -->
										</div><!-- Post Content -->
									</article><!-- Post -->
								
 
							</div><!-- Blog Wrapper -->
						</div><!-- Blog Layout -->
				
					</section><!-- Main -->
					<smallaside-directive></smallaside-directive>
				</div><!-- Row -->
			</div><!-- Container -->
		</section><!-- Main Area -->
	</div><!-- Wrapper -->
</div>
