<div class="wide home">
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<h2 style="display: none;">Main</h2>
					<div class="blog-posts hfeed">
						<article class="post single-post">
							<div class="post-header">
								<div class="post-category">
									<a href="page-category.html">Mikvah</a>
								</div>
								<h1 class="post-title">Purifying Waters</h1><!-- Post Title -->
								<ul class="post-meta">
									<li><img class="avatar" width="24" height="24" src="images/chabad.png" alt="Author Avatar Image" />by <a href="http://www.chabad.org/">Chabad.org</a></li>
									<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
									<li><i class="fa fa-comment-o"></i> 240</li>
									<li class="right"><i class="fa fa-eye"></i> 42,350 views</li>
								</ul><!-- Post Meta -->
							</div><!-- Post Header -->
							<div class="post-share">
								<!-- AddToAny BEGIN -->
								<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
									<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
									<a class="a2a_button_facebook"></a>
									<a class="a2a_button_twitter"></a>
									<a class="a2a_button_google_plus"></a>
									<a class="a2a_button_linkedin"></a>
									<a class="a2a_button_whatsapp"></a>
									<a class="a2a_button_email"></a>
									<a class="a2a_button_copy_link"></a>
								</div>
								<script async src="https://static.addtoany.com/menu/page.js"></script>
									<!-- AddToAny END -->
							</div> --><!-- Post Share
							<div class="post-thumb">
								<img src="images/mikvah.jpg" alt="Post Title Placeholder" />
							</div><!-- Post Image -->
							<br>
							<div class="post-body">
								<p class="mitzvot-paragraph">There is nothing more holy in this world, nothing more precious to its Creator, than the union of a man and a woman. It is, after all, the fountain of life. What could be more precious than life—other than the source from which life comes?</p>
								<p class="mitzvot-paragraph">And it is holy—because the first, pristine creation of a human being was as male and female as a single whole. That is the way we exist in G‑d’s mind. And so, none of us can achieve wholeness until we regain that original oneness in both body and soul.</p>
								<p class="mitzvot-paragraph">Precious things are kept in sealed boxes. Roses hide behind the thorns. There are clothes you wear to work or play, but there are also treasures in your wardrobe so beautiful, of such value, that they come out only at special times, under specific conditions. The union of a man and a woman is so precious that if it is treated casually, without conditions or boundaries, it becomes ugly and even destructive.</p>
								<p class="mitzvot-paragraph">Which all goes to explain why in the Jewish way of life there is a cycle of union and separation between husband and wife. And why the most important institution of Jewish life, next to the home, is the mikveh that stands at the vortex of that cycle. Because precious things only stay beautiful when you follow the manufacturer's instructions.</p>
								<h3>Enhancing Marriage</h3>	
								<div class="th-caption right-caption">
									<a href="images/4.jpg">
										<img width="300" src="images/4.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<p class="mitzvot-paragraph">There is a very practical reason, as well, to keeping these rules: They keep things sparkling. After all, even swimming with tiger sharks can get pretty dull if it's the daily fare. On the other hand, a plain stone, if it's withheld for a while, becomes a coveted jewel. Modesty and the period of separation inject that flavor of the forbidden into a relationship.</p>
								<p class="mitzvot-paragraph">Consistently, couples report their relationships rejuvenated when they start living by the rules of separation and mikveh. Perhaps that's why mikveh parking lots have become so crowded in the past few decades as more and more young couples make it a part of their lives -- some who have no other formal Jewish observance.</p>
								<h3>A Spa for the Soul</h3>
								<p class="mitzvot-paragraph">Today's mikveh looks more like a fashionable spa than a ritualarium. Luxurious bath and powder rooms, complete with commode, bathtub and vanity have become the standard. Fresh towels, disposable slippers, a comfortable robe, soap, shampoo, nail clippers and all the other essentials necessary are usually provided.</p>
								<p class="mitzvot-paragraph">Many women talk about the immersion in the mikveh as a spiritual high, a state in which nothing stands between you and your G‑d; a return to the innocence of birth; a sanctification of all that is feminine. In fact, it's not just your soul and body that become spiritually uplifted -- it's your entire family and home.</p>
								<div class="th-caption left-caption">
									<a href="images/12.jpg">
										<img width="300" src="images/12.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<p class="mitzvot-subheading">Your Child's Soul</p>
								<p class="mitzvot-paragraph">There are three partners in the conception of every child: the mother, the father and the One Above.</p>
								<p class="mitzvot-paragraph">The Talmud explains that the mother and father create the body, and One Above provides the breath of life. The Kabbalists take this a step further: also the spiritual self is a product of the three-way partnership. For the G‑dly soul is too lofty, too holy, to be contained within a physical body without protection. Just as an astronaut needs a spacesuit and a deep-sea diver needs an armored diving suit, so the soul needs an outfit that will allow it to survive and communicate with the body and the outside world. That survival suit is provided by the mother and father. It is fashioned according to their thoughts and conduct before and during conception, their modesty and their adherence to the rules of separation and immersion.</p>
								<p class="mitzvot-paragraph">All the good deeds and thoughts a person accomplishes in a lifetime are through the medium of that "suit." Even the life and blessings that a person receives from Above must come through it. The soul itself may be pure and luminous, but if its suit doesn¹t match, that light will have great difficulty breaking through.</p>
								<p class="mitzvot-paragraph">That is why the Kabbalists say that the spiritual state of the world depends on the sanctity of our relations as men and women.</p>
								<p class="mitzvot-subheading">Where to Begin</p>
								<p class="mitzvot-paragraph">The best way to learn about the mikveh is to consult your local rebbetzin or mikveh attendant. Men can talk with a rabbi. Visit <a href="https://www.mikvah.org/">www.mikvah.org</a> for more information and essays, as well as a worldwide directory and photographs and virtual tours of mikvehs around the world.</p>
								<div class="th-caption center-caption">
									<a href="images/11.jpg">
										<img src="images/11.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<!-- <div class="post-ad">
									<span>Advertisment</span>
									<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
										<img src="images/banner.jpg" alt="Banner Image Placeholder">
									</a>
								</div> -->
							</div><!-- Post Body -->
							<div class="post-footer">
								<div class="post-picked" id="post-picked">
									<div class="picked-title">
										<h2>You might also like</h2>
										<span class="close"><i class="fa fa-close"></i></span>
									</div>
									<div class="picked-inner">
										<article class="post">
											<div class="post-thumb">
												<img src="images/2.jpg"/>
											</div><!-- Post Image -->
											<div class="post-category">
												<a href="page-category.html">Beauty</a>
											</div>
											<h5 class="post-title"><a href="post-single.html">The Miracle of the Torah.</a></h5><!-- Post Title -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
												<li><i class="fa fa-comment-o"></i> 240</li>
											</ul><!-- Post Meta -->
										</article>
									</div>
								</div>
								<div class="post-tags">
									<span>Tags</span>
									<a href="page-tag.html">Torah Study</a>
									<a href="page-tag.html">Parasha of the Week</a>
									<a href="page-tag.html">Prayer</a>
									
								</div><!-- Post Tags -->
								<div class="post-share">
									<!-- AddToAny BEGIN -->
									<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
										<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
										<a class="a2a_button_facebook"></a>
										<a class="a2a_button_twitter"></a>
										<a class="a2a_button_google_plus"></a>
										<a class="a2a_button_linkedin"></a>
										<a class="a2a_button_whatsapp"></a>
										<a class="a2a_button_email"></a>
										<a class="a2a_button_copy_link"></a>
									</div>
									<script async src="https://static.addtoany.com/menu/page.js"></script>
									<!-- AddToAny END -->
								</div><!-- Post Share
								<div class="post-navigation">
									<ul>
										<li class="prev">
											<span>Prev Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
										<li class="next">
											<span>Next Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
									</ul>
								</div>--> <!-- Post Navigation -->
																<div class="comments" id="comments">
									<div class="title">
										<h2>Comments</h2>
									</div><!-- Blog title -->
									<div class="blog-wrapper">
										<div id="disqus_thread"></div>
										<script>

										/**
										*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
										*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
										/*
										var disqus_config = function () {
										this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
										this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
										};
										*/
										(function() { // DON'T EDIT BELOW THIS LINE
										var d = document, s = d.createElement('script');
										s.src = 'https://emunah-com.disqus.com/embed.js';
										s.setAttribute('data-timestamp', +new Date());
										(d.head || d.body).appendChild(s);
										})();
										</script>
										<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
									</div><!-- Blog Wrapper --><!-- Blog Wrapper -->
								</div><!-- Blog Layout -->
								<div class="post-related">
									<div class="title">
										<h2>Related Posts</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/7.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/8.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/11.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Related Posts -->
								<div class="post-author">
									<div class="author-avatar">
										<img src="images/chabad.png" alt="Author Avatar Image" />
									</div>
									<div class="author-content">
										<div class="name">
											<span>Written By</span>
											<a class="author" href="http://www.chabad.org/library/article_cdo/aid/814118/jewish/Charity-Tzedakah.htm">Chabad.org</a>
										</div>
										<p>The content in this page is produced by Chabad.org, and is copyrighted by the author and/or Chabad.org. If you enjoyed this article, we encourage you to distribute it further, provided that you do not revise any part of it, and you include this note, credit the author, and link to www.chabad.org. If you wish to republish this article in a periodical, book, or website, please email permissions@chabad.org.</p>
									</div>
								</div>
								<div class="post-recommended">
									<div class="title">
										<h2>Recommended Articles</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/6.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/9.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/12.jpg">
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/10.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Recommended Posts -->
								<div class="post-footer">
							</div><!-- Post Footer -->
						</article><!-- Post -->
					</div><!-- Blog posts -->
				</section><!-- Main -->
				<aside-directive></aside-directive>
			</div><!-- Row -->
		</div><!-- Container -->
	</section><!-- Main Area -->
</div>