<div class="wide home">
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<h2 style="display: none;">Main</h2>
					<div class="blog-posts hfeed">
						<article class="post single-post">
							<div class="post-header">
								<div class="post-category">
									<a href="page-category.html">Sanctification of the Moon</a>
								</div>
								<h1 class="post-title">Kiddush Levanah, the blessing on the moon</h1><!-- Post Title -->
								<ul class="post-meta">
									<li><img class="avatar" width="24" height="24" src="images/chabad.png" alt="Author Avatar Image" />by <a href="http://www.chabad.org/">Chabad.org</a></li>
									<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
									<!-- <li><i class="fa fa-comment-o"></i> 240</li>
									<li class="right"><i class="fa fa-eye"></i> 42,350 views</li> -->
								</ul><!-- Post Meta -->
							</div><!-- Post Header -->
							<div class="post-share">
								<!-- AddToAny BEGIN -->
									<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
										<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
										<a class="a2a_button_facebook"></a>
										<a class="a2a_button_twitter"></a>
										<a class="a2a_button_google_plus"></a>
										<a class="a2a_button_linkedin"></a>
										<a class="a2a_button_whatsapp"></a>
										<a class="a2a_button_email"></a>
										<a class="a2a_button_copy_link"></a>
									</div>
									<script async src="https://static.addtoany.com/menu/page.js"></script>
									<!-- AddToAny END -->
							</div> <!-- Post Share
							<div class="post-thumb">
								<img src="images/kiddush-levana.jpg" alt="Post Title Placeholder" />
							</div><!-- Post Image -->
							<br>
							<div class="post-body">
								<p class="mitzvot-subheading">To bless the new moon at the proper time is like greeting the Divine Presence. —Talmud, Sanhedrin 42a</p>
								<p class="mitzvot-paragraph">There is something mystical about the moon. Despite its secondary status as a luminary, people have always been fascinated by its silvery, luminous light and its precise cycle of waxing and waning. Indeed, the months of the Jewish calendar follow the phases of the moon.</p>
								<p class="mitzvot-paragraph">The sages of the Talmud write that the renewal of the moon each month reminds us of the magnificent wonders of G‑d’s creation, as if the Divine Presence in our world, so often hidden, is coming out to greet us. Because the moon has the most visible cycle of all the stars and planets, we take the occasion of its renewal to make a blessing in appreciation of the entire masterpiece of celestial orchestration.</p>
								<p class="mitzvot-paragraph">So, once a month, Jews open their prayerbooks to speak of the moon. Upon seeing the soft, mellow light of the moon born again in the night sky, we recite a special blessing and verses of praise called the Sanctification of the Moon, or kiddush levanah (Heb. קידוש לבנה).</p>
								<p class="mitzvot-paragraph">Here is the behind-the-scenes story.</p>
								<h3>When?</h3>	
								<div class="th-caption right-caption">
									<a href="images/4.jpg">
										<img width="300" src="images/4.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<p class="mitzvot-paragraph">The Sanctification of the Moon is done at night,3 when the moon is waxing and is bright enough that we can benefit from its light. Therefore, the ceremony may be performed only between the third and the fifteenth days of the Jewish month.4 (Note that the precise dates depend upon when the moon is “reborn,” which fluctuates from month to month. See Molad Times).</p>

								<p class="mitzvot-paragraph">One should not recite the Sanctification of the Moon on a night when clouds are completely covering the moon. But if there is only a thin cloud cover, and the light of the moon is still clearly visible, it is okay to do the ceremony. If one begins the blessing and it suddenly becomes cloudy, one should still complete the service.</p>

								<p class="mitzvot-paragraph">According to the Kabbalists, it is best to wait until the seventh day of the month to sanctify the moon. But if you suspect that it will be cloudy for most of the month (as it sometimes is in winter), you should perform the service at the first opportunity.</p>

								<p class="mitzvot-paragraph">The Sanctification of the Moon is truly a joyous occasion, and we make a point of performing it in the best of moods. In the month of Tishrei (the period of the High Holidays), when we spend the first ten days repenting for our wrongdoings during the past year, we postpone the service to the night after Yom Kippur. The same applies to the month of Av, whose first nine days are spent mourning the destruction of the Holy Temple. We wait until the night after the Ninth of Av to sanctify the moon.</p>
								<h3>Where?</h3>
								<div class="th-caption left-caption">
									<a href="images/12.jpg">
										<img width="300" src="images/12.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<p class="mitzvot-paragraph">We go outside to sanctify the moon, as though running eagerly to greet a king. Nothing should come between us and the heavens, even if the moon can be clearly seen from the shelter of a porch or the like. As befits a royal reception, the place where the ceremony is done should be free from any strong stench.</p>
								<p class="mitzvot-paragraph">We want to look our best on such an occasion, and it is preferable to sanctify the moon in a large group. Therefore, the very best time is immediately after Shabbat (providing it is prior to the tenth day of the Hebrew month), outside of the synagogue, when we are all together and dressed in our festive clothing.</p>
								<br>
								<br>
								<h3>What and How?</h3>
								<p class="mitzvot-paragraph">The formulation of the prayer is as follows:</p>
								<p class="mitzvot-paragraph">We stand under the open sky, facing east and looking into our prayerbooks.</p>
									<ul>
										<li>We begin by reciting the first six verses of Psalm 148, giving praise to G‑d for the moon, sun, stars and heavens, “for He commanded and they were created.”</li>
										<li>Next, we place our feet together, look at the moon and recite the blessing, “. . . He gave them a set law and time, so that they should not alter their task . . . Blessed are You, L‑rd, who renews the months.”</li>
										<li>After lifting our heels three times, we then address the moon, so to speak: “Blessed is your Maker; blessed is He who formed you . . . Just as I leap toward you but cannot touch you, so may all my enemies be unable to touch me harmfully . . .” We emphasize these ideas by repeating this paragraph (and some of the subsequent stanzas) three times. Each time we begin, we lift ourselves to stand on our toes three times.</li>
										<li>Next we address the deeper significance of the lunar cycle: “David, King of Israel, is living and enduring.” The kingdom of David is compared to the moon. Though it may have lost much of its former radiance, it will be restored to its glory in messianic times.</li>
										<li>Since we just finished speaking of our enemies, we make a point of wishing peace to those who are peaceful. We turn to three of our fellow congregants and wish them peace, “shalom aleichem,” and they wish us peace in return, “aleichem shalom.”</li>
										<li>Inspired by the joy of greeting the Divine Presence, we exclaim three times, “May this be a good sign and good fortune for us and the entire Jewish nation.” This is also why we greet those around us, since joy is always greater when shared with others.</li>
										<li>We then recite two verses from the Song of Songs (2:8–9) that describe G‑d “looking through the windows, peering through the crevices,” just as the light of the moon does on a clear night.</li>
										<li>G‑d’s omnipresent protection is described again in the next Psalm we say (121): “The sun will not harm you by day, nor the moon by night… The L‑rd will guard your going and coming from now and for all time.”</li>
										<li>We then repeat King David’s words (Psalm 150): “Praise G‑d in His holiness, praise him in the firmament of His strength . . . Let every being that has a soul praise the L‑rd.”</li>
										<li>This is followed by a passage from the Talmud that describes the Sanctification of the Moon: “It was taught in the academy of Rabbi Yishmael: Even if Israel merited no other privilege than to greet their Father in Heaven once a month, it would be sufficient for them . . .”</li>
										<li>Next is a psalm (67) that was recited in the Holy Temple, describing how G‑d’s miracles will cause the nations to recognize and praise Him: “The nations will extol You . . . The nations will rejoice and sing for joy, for You will judge the peoples justly and guide the nations on the earth forever.”</li>
										<li>We conclude with the “Aleinu” prayer, in which we say that the nations of the world “bow to vanity and nothingness. But we bend our knee, bow down, and offer praise before the supreme King of Kings . . .” This prayer emphasizes that our blessing on the moon is in no way a form of idol worship.</li>
										<li>If there is a quorum of ten men, the mourner’s kaddish is recited.
										Once we are done, we dance as at a wedding celebration.</li>
									</ul>
								</p>
								<div class="th-caption center-caption">
									<a href="images/11.jpg">
										<img src="images/11.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<!-- <div class="post-ad">
									<span>Advertisment</span>
									<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
										<img src="images/banner.jpg" alt="Banner Image Placeholder">
									</a>
								</div> -->
							</div><!-- Post Body -->
							<div class="post-footer">
								<div class="post-picked" id="post-picked">
									<div class="picked-title">
										<h2>You might also like</h2>
										<span class="close"><i class="fa fa-close"></i></span>
									</div>
									<div class="picked-inner">
										<article class="post">
											<div class="post-thumb">
												<img src="images/2.jpg"/>
											</div><!-- Post Image -->
											<div class="post-category">
												<a href="page-category.html">Beauty</a>
											</div>
											<h5 class="post-title"><a href="post-single.html">The Miracle of the Torah.</a></h5><!-- Post Title -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
												<li><i class="fa fa-comment-o"></i> 240</li>
											</ul><!-- Post Meta -->
										</article>
									</div>
								</div>
								<div class="post-tags">
									<span>Tags</span>
									<a href="page-tag.html">Torah Study</a>
									<a href="page-tag.html">Parasha of the Week</a>
									<a href="page-tag.html">Prayer</a>
									
								</div><!-- Post Tags -->
								<div class="post-share">
									<!-- AddToAny BEGIN -->
									<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
										<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
										<a class="a2a_button_facebook"></a>
										<a class="a2a_button_twitter"></a>
										<a class="a2a_button_google_plus"></a>
										<a class="a2a_button_linkedin"></a>
										<a class="a2a_button_whatsapp"></a>
										<a class="a2a_button_email"></a>
										<a class="a2a_button_copy_link"></a>
									</div>
									<script async src="https://static.addtoany.com/menu/page.js"></script>
									<!-- AddToAny END -->
								</div><!-- Post Share
								<div class="post-navigation">
									<ul>
										<li class="prev">
											<span>Prev Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
										<li class="next">
											<span>Next Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
									</ul>
								</div>--><!-- Post Navigation -->
																<div class="comments" id="comments">
									<div class="title">
										<h2>Comments</h2>
									</div><!-- Blog title -->
									<div class="blog-wrapper">
										<div id="disqus_thread"></div>
										<script>

										/**
										*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
										*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
										/*
										var disqus_config = function () {
										this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
										this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
										};
										*/
										(function() { // DON'T EDIT BELOW THIS LINE
										var d = document, s = d.createElement('script');
										s.src = 'https://emunah-com.disqus.com/embed.js';
										s.setAttribute('data-timestamp', +new Date());
										(d.head || d.body).appendChild(s);
										})();
										</script>
										<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
									</div><!-- Blog Wrapper --><!-- Blog Wrapper -->
								</div><!-- Blog Layout -->
								<div class="post-related">
									<div class="title">
										<h2>Related Posts</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/7.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/8.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/11.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Related Posts -->
								<div class="post-author">
									<div class="author-avatar">
										<img src="images/chabad.png" alt="Author Avatar Image" />
									</div>
									<div class="author-content">
										<div class="name">
											<span>Written By</span>
											<a class="author" href="http://www.chabad.org/library/article_cdo/aid/814118/jewish/Charity-Tzedakah.htm">Chabad.org</a>
										</div>
										<p>The content in this page is produced by Chabad.org, and is copyrighted by the author and/or Chabad.org. If you enjoyed this article, we encourage you to distribute it further, provided that you do not revise any part of it, and you include this note, credit the author, and link to www.chabad.org. If you wish to republish this article in a periodical, book, or website, please email permissions@chabad.org.</p>
									</div>
								</div>
								<div class="post-recommended">
									<div class="title">
										<h2>Recommended Articles</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/6.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/9.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/12.jpg">
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/10.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Recommended Posts -->
								<div class="post-footer">
							
							</div><!-- Post Footer -->
						</article><!-- Post -->
					</div><!-- Blog posts -->
				</section><!-- Main -->
				<aside-directive></aside-directive>
			</div><!-- Row -->
		</div><!-- Container -->
	</section><!-- Main Area -->
</div>