<div class="wide home">
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<h2 style="display: none;">Main</h2>
					<div class="blog-posts hfeed">
						<article class="post single-post">
							<div class="post-header">
								<div class="post-category">
									<a ui-sref="mitsvot">MITZVOT</a>
								</div>
								<h1 class="post-title">Charity - Tzedakah</h1>
								<h3>How to give, how much to give, and the uniquely Jewish perspective on charity</h3><!-- Post Title -->
								<ul class="post-meta">
									<li><img class="avatar" width="24" height="24" src="images/author.jpg" alt="Author Avatar Image" />by <a href="page-author.html">Chabad.org</a></li>
									<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
									<!-- <li><i class="fa fa-comment-o"></i> 240</li>
									<li class="right"><i class="fa fa-eye"></i> 42,350 views</li> -->
									<li class="right"><a href="#print"><i class="fa fa-print"></i> Print This Post</a></li>
								</ul><!-- Post Meta -->
							</div><!-- Post Header -->
							<div class="post-share" style="padding:4px">

								<!-- <span class="counter"><strong>24k</strong>Shares</span> -->
								<!-- AddToAny BEGIN -->
								<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
									<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
									<a class="a2a_button_facebook"></a>
									<a class="a2a_button_twitter"></a>
									<a class="a2a_button_google_plus"></a>
									<a class="a2a_button_linkedin"></a>
									<a class="a2a_button_whatsapp"></a>
									<a class="a2a_button_email"></a>
									<a class="a2a_button_copy_link"></a>
								</div>
								<script async src="https://static.addtoany.com/menu/page.js"></script>
								<!-- AddToAny END -->
								<!-- <ul>
 -->
									<script>
									    function fbShare(url, title, descr, image, winWidth, winHeight) {
									        var winTop = (screen.height / 2) - (winHeight / 2);
									        var winLeft = (screen.width / 2) - (winWidth / 2);
									        
									    }
									</script>

									<!-- <li class="facebook"><a style="cursor:pointer" onclick="fbShare(window.location.href, ‘Fb Share’, ‘Facebook share popup’, ‘http://goo.gl/dS52U’, 520, 350)"><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li>
									
									<!-- <li class="twitter"><a href=""><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
									<li class="google-plus"><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li class="linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
									<li class="whatsapp"><a href=""><i class="fa fa-whatsapp"></i></a></li>
									<li class="email"><a href=""><i class="fa fa-envelope-o"></i></a></li>-->
							
								</ul> 
							</div><!-- Post Share -->
							<div class="post-thumb">
								<img src="images/9.jpg" alt="Post Title Placeholder" />
							</div><!-- Post Image -->
							<div class="post-body">
								<p class="mitzvot-paragraph">Tzedakah—often translated as charity—is a mainstay of Jewish life. The sages teach that the world was built upon kindness. However, tzedakah goes one step beyond. Literally translated as “justice” or “righteousness,” tzedakah tells us that sharing what we have with others isn't something special. It's the honest and just thing to do.</p>
								<p class="mitzvot-paragraph">Tzedakah is not limited to gifts of money. Sharing time, expertise, or even a kind smile are all forms of charity that we can do.</p>
								<p class="mitzvot-paragraph">No matter how much you were blessed with, you can always share with others. Throwing a coin into a charity box every morning (except for Shabbat and Jewish holidays) sets the tone for the rest of the day. So make sure to make it a habit.</p>
								<h3>Charity Basics</h3>								
								<p class="mitzvot-paragraph">Giving is a mitzvah and a responsibility. As such, it comes with its own set of dos and don'ts:</p>
								<p class="mitzvot-paragraph">We make different blessings for different food types before eating, and after-blessings when the repast is complete.</p>
								<div class="th-caption right-caption">
									<a href="images/4.jpg">
										<img width="300" src="images/4.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<p class="mitzvot-subheading">The Obligation:</p>
								<p class="mitzvot-paragraph">You're walking down the street and someone asks for food. The mitzvah says, you have to give something. If he asks for money, you're allowed to make some inquiries to determine if he's legit. Nothing in your pocket? Show some empathy, provide some kind and uplifting words. In no case can you just keep on walking.</p>
								<p class="mitzvot-paragraph">Standard Jewish practice is to give at least 10% of net income to charity. There's plenty written on what's considered net—and on when tuition fees and other mitzvah-related items can be deducted from the ten percent. Speak with your rabbi about your specific issues.</p>
								<p class="mitzvot-paragraph">Since giving is a mitzvah, it doesn't just help others—it lifts you up as well. That's why we keep a pushka (charity box) on prominent display in home and office. Just drop a few coins in the pushka every so often, at least once a day.</p>
								<p class="mitzvot-subheading">The Recipient:</p>
								<p class="mitzvot-paragraph">Give tzedakah (charity) to the needy, Torah schools, Jewish institutions, and/or humanitarian causes. A family member who is in difficult financial straits takes precedence over non-family. Likewise, local poor and charitable organizations take precedence over their faraway counterparts. And charitable causes in Israel take precedence over (non-local) charities in the Diaspora.</p>
								<p class="mitzvot-subheading">The Upshot:</p>
								<p class="mitzvot-paragraph">No other mitzvah evokes as powerful a divine response as tzedakah. It makes sense: you take care of others, and G‑d takes care of you. Our sages taught that tzedakah brings atonement and protects against harsh heavenly decrees.</p>
								<p class="mitzvot-paragraph">Wise Solomon wrote, “When you give to a poor man, you are lending to G‑d.” That’s because G‑d repays all charitable funds—along with handsome dividends—here, in this world. According to the Prophet Malachi, G‑d even challenges us, saying, “Try it and see.”<p>
								<div class="th-caption left-caption">
									<a href="images/12.jpg">
										<img width="300" src="images/12.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<p class="mitzvot-subheading">Doing It Right:</p>
								<p class="mitzvot-paragraph">The highest form of tzedakah (charity) is to provide self-sufficiency. Extend a loan to a friend, allowing him to embark on a business project; help an acquaintance find a job or bring her into your family business.</p>
								<p class="mitzvot-paragraph">No one should have to pay with his dignity for another’s assistance. That’s why it’s better to give anonymously. Similarly, give before you are asked. Spare the fellow the embarrassment of having to beg.</p>
								<p class="mitzvot-paragraph">And the main ingredient: Give with a smile and genuine warmth. How you give, our sages taught, is more important than how much you give!</p>
								<!-- <div class="post-ad">
									<span>Advertisment</span>
									<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
										<img src="images/banner.jpg" alt="Banner Image Placeholder">
									</a>
								</div> -->
								<p class="mitzvot-subheading">The Right Time to Do It:</p>
								<p class="mitzvot-paragraph">
									It’s always the right time to give. But certain times are more auspicious than others.
								</p>
								<p class="mitzvot-paragraph">
									Drop a few coins in the pushka (charity box) before your prayers. Provide for others and G‑d will provide for you.
								</p>
								<p class="mitzvot-paragraph">
									Women and girls should do the same before lighting Shabbat and holiday candles—before ushering in the holiest days on the calendar.
								</p>
								<p class="mitzvot-paragraph">
									It’s an age-old tradition to pledge money to tzedakah in the merit of the souls of departed loved ones while saying Yizkor. In their heavenly abode they cannot do mitzvahs, so it’s up to us to do it for them.
								</p>
								<p class="mitzvot-subheading">The Result of Doing It:</p>
								<p class="mitzvot-paragraph">
									When G‑d made the world, He left us the task of injecting it with spirituality and meaning. Nothing accomplishes this goal like tzedakah. Give tzedakah, and all the effort which went into making that hard-earned money takes on a new meaning, serving more than a selfish need. That’s why our sages tell us: “Great is charity, for it hastens the Redemption!”
								</p>
								<div class="th-caption center-caption">
									<a href="images/11.jpg">
										<img src="images/11.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<!-- <div class="post-ad">
									<span>Advertisment</span>
									<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
										<img src="images/banner.jpg" alt="Banner Image Placeholder">
									</a>
								</div> -->
							</div><!-- Post Body -->
							<div class="post-footer">
								<div class="post-picked" id="post-picked">
									<div class="picked-title">
										<h2>You might also like</h2>
										<span class="close"><i class="fa fa-close"></i></span>
									</div>
									<div class="picked-inner">
										<article class="post">
											<div class="post-thumb">
												<img src="images/2.jpg"/>
											</div><!-- Post Image -->
											<div class="post-category">
												<a href="page-category.html">Beauty</a>
											</div>
											<h5 class="post-title"><a href="post-single.html">The Miracle of the Torah.</a></h5><!-- Post Title -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
												<li><i class="fa fa-comment-o"></i> 240</li>
											</ul><!-- Post Meta -->
										</article>
									</div>
								</div>
								<div class="post-tags">
									<span>Tags</span>
									<a href="page-tag.html">Torah Study</a>
									<a href="page-tag.html">Parasha of the Week</a>
									<a href="page-tag.html">Prayer</a>
									
								</div><!-- Post Tags -->
								<div class="post-share">
									<!-- AddToAny BEGIN -->
									<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
										<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
										<a class="a2a_button_facebook"></a>
										<a class="a2a_button_twitter"></a>
										<a class="a2a_button_google_plus"></a>
										<a class="a2a_button_linkedin"></a>
										<a class="a2a_button_whatsapp"></a>
										<a class="a2a_button_email"></a>
										<a class="a2a_button_copy_link"></a>
									</div>
									<script async src="https://static.addtoany.com/menu/page.js"></script>
									<!-- AddToAny END -->
								</div><!-- Post Share -->
																<div class="comments" id="comments">
									<div class="title">
										<h2>Comments</h2>
									</div><!-- Blog title -->
									<div class="blog-wrapper">
										<div id="disqus_thread"></div>
										<script>

										/**
										*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
										*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
										/*
										var disqus_config = function () {
										this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
										this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
										};
										*/
										(function() { // DON'T EDIT BELOW THIS LINE
										var d = document, s = d.createElement('script');
										s.src = 'https://emunah-com.disqus.com/embed.js';
										s.setAttribute('data-timestamp', +new Date());
										(d.head || d.body).appendChild(s);
										})();
										</script>
										<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>          
									</div><!-- Blog Wrapper -->
								</div><!-- Blog Layout -->
								<!-- <div class="post-navigation">

									<ul>
										<li class="prev">
											<span>Prev Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
										<li class="next">
											<span>Next Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
									</ul>
								</div> --><!-- Post Navigation -->
								<div class="post-related">
									<div class="title">
										<h2>Related Posts</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/7.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/8.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/11.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Related Posts -->
								<div class="post-author" style="text-align:left">
									<div class="author-avatar">
										<img src="images/author.jpg" alt="Author Avatar Image" />
									</div>
									<div class="author-content">
										<div class="name">
											<span>Written By</span>
											<a class="author" href="page-author.html">AUTHOR</a>
										</div>
										<p>Rabbi Dror Moshe Cassouto spreads a message of Happiness, Simplicity, Faith, and understanding that it is okay to fail and fall. We are human beings – it’s our nature to get back up and start over again.</p>
										<p style="font-weight: italic;">The content in this page is produced by <a href="http://www.chabad.org/">Chabad.org</a>, and is copyrighted by the author and/or <a href="http://www.chabad.org/">Chabad.org</a>.</p>
										<ul class="author-social">
											<li><a href="#" title="My Website"><i class="fa fa-globe"></i></a></li>
											<li><a href="#" title="Follow me on twitter"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#" title="Follow me on instagram"><i class="fa fa-instagram"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="post-recommended">
									<div class="title">
										<h2>Recommended Articles</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/6.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/9.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/12.jpg">
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/10.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Recommended Posts -->
								<div class="post-footer">
							</div><!-- Post Footer -->
						</article><!-- Post -->
					</div><!-- Blog posts -->
				</section><!-- Main -->
				<aside-directive></aside-directive>
			</div><!-- Row -->
		</div><!-- Container -->
	</section><!-- Main Area -->
</div>