<div class="wide home">
	<section id="main-area">
		<h3 style="display: none;">Main Area</h3>
		<div class="container">
			<div class="row">
				<section id="main" class="main col-md-8">
					<h2 style="display: none;">Main</h2>
					<div class="blog-posts hfeed">
						<article class="post single-post">
							<div class="post-header">
								<div class="post-category">
									<a href="page-category.html">Shabbat</a>
								</div>
								<h1 class="post-title">Shabbat: An Island in Time</h1><!-- Post Title -->
								<ul class="post-meta">
									<li><img class="avatar" width="24" height="24" src="images/chabad.png" alt="Author Avatar Image" />by <a href="http://www.chabad.org/">Chabad.org</a></li>
									<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
									<!-- <li><i class="fa fa-comment-o"></i> 240</li>
									<li class="right"><i class="fa fa-eye"></i> 42,350 views</li> -->
								</ul><!-- Post Meta -->
							</div><!-- Post Header -->
 							<div class="post-share">
								<!-- AddToAny BEGIN -->
									<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
										<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
										<a class="a2a_button_facebook"></a>
										<a class="a2a_button_twitter"></a>
										<a class="a2a_button_google_plus"></a>
										<a class="a2a_button_linkedin"></a>
										<a class="a2a_button_whatsapp"></a>
										<a class="a2a_button_email"></a>
										<a class="a2a_button_copy_link"></a>
									</div>
									<script async src="https://static.addtoany.com/menu/page.js"></script>
									<!-- AddToAny END -->
							</div> <!-- Post Share -->
							<div class="post-thumb">
								<img src="images/yahudi.jpg" alt="Post Title Placeholder" />
							</div><!-- Post Image -->
							<br>
							<div class="post-body">
								<p class="mitzvot-paragraph">Shabbat (also known as "Shabbos" or the "Sabbath") is the centerpiece of Jewish life, and has been so since the infancy of our nation. According to the Talmud, Shabbat is equal to all the other commandments. Shabbat is so central to Jewish lifeShabbat is the centerpiece of Jewish life that the term shomer Shabbat (Shabbat observer) is synonymous with “religious Jew” in common parlance.</p>

								<p class="mitzvot-paragraph">Shabbat is a day of rest and celebration that begins on Friday at sunset and ends on the following evening after nightfall. Let’s have a look at the history, importance and observances of this day.</p>

								<h3>In the Beginning</h3>

								<p class="mitzvot-paragraph">We read in the Book of Genesis that G‑d created the world in six days and rested on the seventh. The sages say that on that day, G‑d created menuchah,rest, without which sustained creativity would be impossible.</p>

								<p class="mitzvot-paragraph">After G‑d took the Children of Israel out of Egypt in the year 2448, He taught them about the Shabbat: working for six days and resting on the seventh. Shabbat is also one of the 10 Commandments that G‑d transmitted at Sinai several weeks after the exodus. Thus, Shabbat commemorates both the creation of the world and G‑d’s intervention in world affairs when he took His nation out of slavery.</p>

								<p class="mitzvot-paragraph">Throughout the 40 years that our ancestors wandered in the desert, nourishing mannawould rain down from heaven, except on Shabbat. But no one went hungry—extra rations would fall on Friday, so that everyone would have more than enough for the holy day.</p>

								<p class="mitzvot-paragraph">The Torah is very brief about the observance of the day, telling us that no work is to be done and no fires are to be kindled. But rabbinic tradition coupled with careful study of the Torah’s texts yields a wealth of information, much of which is found in the Talmudic tractate aptly named Shabbat.</p>

								<h3>A Special Guest</h3>

								<p class="mitzvot-paragraph">Our sages tell us that the Shabbat is a “queen,” whose regal presence graces every Jewish home for the duration of the Shabbat day. For this reason, we scrub our bodies, dress our finest and make sure our homes are in tip-top shape on Friday afternoon. According to the Talmud, we actually receive a special additional soul every Shabbat.</p>

								<p class="mitzvot-paragraph">The prophet Isaiah foretells great delight that comes as a reward “if you restrain your foot because of the Sabbath, from performing your affairs on My holy day, and you call the Sabbath a delight, the holy of the L‑rd honored, and you honor it by not doing your wonted ways, by not pursuing your affairs and speaking words.”</p>

								<p class="mitzvot-paragraph">Shabbat is so special that even our choice of words, comportment, and the items that we touch must be consistent with this holy day. This includes the admonition not to handle items known as muktzeh, which have been set aside because they generally have no use within the Shabbat lifestyle.</p>

								<h3>Things We Do</h3>
								<div class="th-caption right-caption">
									<a href="images/4.jpg">
										<img width="300" src="images/4.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<p class="mitzvot-subheading">Light Candles</p>

								<p class="mitzvot-paragraph">Since we do not light fires on Shabbat, our sages declared that every Jewish home should have candles lit before the onset of the Shabbat, so that the evening be peaceful and festive. It is customarily the woman of the house who kindles these lights. The Rebbe, Rabbi Menachem Mendel Schneerson of righteous memory, encouraged girls as young as three years old to light as well. The candles must be lit at least 18 minutes before sunset and should be placed near where the Shabbat meals will take place. A special blessing is said after the lighting.</p>

								<p class="mitzvot-subheading">Wine and Dine</p>

								<p class="mitzvot-paragraph">The Torah commands us to “remember the Sabbath day to sanctify it.” The sages understand this to mean that we must verbally declare the Sabbath a holy day, so on Friday night we say a special prayer over wine in a ritual known as kiddush (sanctification). (A truncated kiddush is recited again the following day).</p>

								<p class="mitzvot-paragraph">After kiddush, Shabbat is celebrated with a sumptuous feast. Make sure to have three large meals on Shabbat: one on Friday night, one the next day, and one smaller one in the late afternoon.</p>

								<p class="mitzvot-paragraph">The meals begin with two whole loaves of bread, which remind us of the double portion of manna that fell every Friday. Before we break bread, we wash our hands in a specially prescribed manner.</p>

								<p class="mitzvot-paragraph">Typical European-Jewish Shabbat fare includes gefilte fish, chicken soup, kugels and other favorites, but the Shabbat meals really can feature whatever you feel is festive and delicious. During the daytime meal, we customarily eat something warm that has been sitting on a low flame (or other heat source) since the onset of Shabbat, such as the traditional stew of beans, barley, potatoes and meat known as cholent. Note: There are many laws about cooking on Shabbat, so make sure you prepare your cholent correctly.</p>

								<p class="mitzvot-paragraph">Aside from the physical enjoyment of the feast, the Shabbat meal often includes heartwarming stories, songs and Torah thoughts so that the meal is a delight for the soul as well.</p>

								<p class="mitzvot-subheading">Shabbat Prayers</p>

								<p class="mitzvot-paragraph">On Friday night, before the evening services, we welcome in the Shabbat Queen with a special collection of Psalms and the beautiful melody of Lecha Dodi. The following morning’s service is expanded to include the reading of the weekly Torah portion and the additional Musaf service.</p>

								<p class="mitzvot-paragraph">Morning services are typically followed by a communal reception where a light luncheon is served. This is a great time to get to know people in your community, schmooze and just enjoy the company of your fellow Jews. (Just to make things confusing, this reception is also known as a kiddush.)</p>

								<p class="mitzvot-subheading">Saying Farewell</p>

								<p class="mitzvot-paragraph">Just like Shabbat was welcomed in with wine, we usher it out with another cup of wine in a special ceremony known as havdalah (separation). Havdalah also includes blessings recited over fragrant spices, to revive our souls that are feeling the loss of the special gift of Shabbat, and fire, which commemorates the first fire Adam and Eve lit after the very first Shabbat.</p>

								<h3>Things We Don’t Do</h3>
								<div class="th-caption left-caption">
									<a href="images/12.jpg">
										<img width="300" src="images/12.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>

								<p class="mitzvot-paragraph">The sages of the Talmud enumerate 39 forbidden creative acts that we do not do on Shabbat. The sages explain that each of these acts is a “father” that has many “offsprings” that are also forbidden due to their intrinsic similarity to the parent act.</p>

								<p class="mitzvot-paragraph">The first group of 11 acts are related to process of making bread, from ploughing, sowing and reaping to kneading and baking. The second group is comprised of 13 steps needed to create garments, from shearing to tearing. Third come the 9 stages of scribal arts (using parchment), from trapping to writing and erasing.</p>

								<p class="mitzvot-paragraph">The last group of acts is comprised of building and destroying, burning and extinguishing, finishing a product and transporting things in the public domain.</p>

								<p class="mitzvot-paragraph">Since each of these 39 acts (or melachot in Hebrew) have many subcategories and interpretations, you really need to learn some of the ins and outs of Shabbat observance by reading some good books and observing Shabbat in action.</p>

								<p class="mitzvot-paragraph">Some common activities that we may not do on Shabbat:
									<ul>
										<li>Driving</li>
										<li>Turning on or off lights or operating electrical appliances (including phones)</li>
										<li>Cooking</li>
										<li>Carrying in the public domain (defined as public areas outside of an eruv enclosure)</li>
									</ul>
								</p>
								<h3>Where To Start</h3>

								<p class="mitzvot-paragraph">No one can become a perfect Shabbat observer overnight, but here are some great first steps to create a peaceful, meaningful Shabbat atmosphere:
									<ul>
										<li>Light Shabbat candles on Friday night.</li>
										<li>Attend a Shabbat meal at a friend’s house. If you feel ready, host your own. Even if you are not yet ready for a long sit-down feast, have kiddush, wash and break bread.</li>
										<li>Turn off the phone and TV for the 25 hours of Shabbat. (It may sound impossible, but you may just find that you’ll look forward to unplugging one day a week.)</li>
										<li>Attend Shabbat services on either Friday night or Shabbat morning.</li>
									</ul>
								</p>
								<p class="mitzvot-paragraph">Through increasing your Shabbat observance, you’ll create a space to connect with G‑d, family and friends. Try it, you’ll like it.</p>
								<div class="th-caption center-caption">
									<a href="images/11.jpg">
										<img src="images/11.jpg" alt="Image Captions" />
										<div class="caption">The Miracle Of The Torah</div>
									</a>
								</div>
								<!-- <div class="post-ad">
									<span>Advertisment</span>
									<a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
										<img src="images/banner.jpg" alt="Banner Image Placeholder">
									</a>
								</div> -->
							</div><!-- Post Body -->
							<div class="post-footer">
								<div class="post-picked" id="post-picked">
									<div class="picked-title">
										<h2>You might also like</h2>
										<span class="close"><i class="fa fa-close"></i></span>
									</div>
									<div class="picked-inner">
										<article class="post">
											<div class="post-thumb">
												<img src="images/2.jpg"/>
											</div><!-- Post Image -->
											<div class="post-category">
												<a href="page-category.html">Beauty</a>
											</div>
											<h5 class="post-title"><a href="post-single.html">The Miracle of the Torah.</a></h5><!-- Post Title -->
											<ul class="post-meta">
												<li><i class="fa fa-clock-o"></i> October 16, 2017</li>
												<li><i class="fa fa-comment-o"></i> 240</li>
											</ul><!-- Post Meta -->
										</article>
									</div>
								</div>
								<div class="post-tags">
									<span>Tags</span>
									<a href="page-tag.html">Torah Study</a>
									<a href="page-tag.html">Parasha of the Week</a>
									<a href="page-tag.html">Prayer</a>
									
								</div><!-- Post Tags -->
			 					<div class="post-share">
									<!-- AddToAny BEGIN -->
									<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
										<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
										<a class="a2a_button_facebook"></a>
										<a class="a2a_button_twitter"></a>
										<a class="a2a_button_google_plus"></a>
										<a class="a2a_button_linkedin"></a>
										<a class="a2a_button_whatsapp"></a>
										<a class="a2a_button_email"></a>
										<a class="a2a_button_copy_link"></a>
									</div>
									<script async src="https://static.addtoany.com/menu/page.js"></script>
									<!-- AddToAny END -->
								</div> <!-- Post Share -->
								<div class="comments" id="comments">
									<div class="title">
										<h2>Comments</h2>
									</div><!-- Blog title -->
									<div class="blog-wrapper">
										<div id="disqus_thread"></div>
										<script>

										/**
										*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
										*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
										/*
										var disqus_config = function () {
										this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
										this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
										};
										*/
										(function() { // DON'T EDIT BELOW THIS LINE
										var d = document, s = d.createElement('script');
										s.src = 'https://emunah-com.disqus.com/embed.js';
										s.setAttribute('data-timestamp', +new Date());
										(d.head || d.body).appendChild(s);
										})();
										</script>
										<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
									</div><!-- Blog Wrapper --><!-- Blog Wrapper -->
								</div><!-- Blog Layout -->
								<!-- <div class="post-navigation">
									<ul>
										<li class="prev">
											<span>Prev Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
										<li class="next">
											<span>Next Article</span>
											<a href="post-single.html">The Miracle of the Torah</a>
										</li>
									</ul>
								</div> --><!-- Post Navigation -->
								<div class="post-related">
									<div class="title">
										<h2>Related Posts</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/7.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/8.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-4">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/11.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Related Posts -->
								<div class="post-author">
									<div class="author-avatar">
										<img src="images/chabad.png" alt="Author Avatar Image" />
									</div>
									<div class="author-content">
										<div class="name">
											<span>Written By</span>
											<a class="author" href="http://www.chabad.org/library/article_cdo/aid/814118/jewish/Charity-Tzedakah.htm">Chabad.org</a>
										</div>
										<p>The content in this page is produced by Chabad.org, and is copyrighted by the author and/or Chabad.org. If you enjoyed this article, we encourage you to distribute it further, provided that you do not revise any part of it, and you include this note, credit the author, and link to www.chabad.org. If you wish to republish this article in a periodical, book, or website, please email permissions@chabad.org.</p>
									</div>
								</div>
								<div class="post-recommended">
									<div class="title">
										<h2>Recommended Articles</h2>
									</div><!-- Blog title -->
									<div class="content row">
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/6.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/9.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/12.jpg">
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
										<div class="col col-sm-6">
											<article class="post">
												<div class="post-thumb">
													<a href="post-single.html">
														<img src="images/10.jpg"/>
													</a>
												</div><!-- Post Image -->
												<div class="post-content">
													<h6 class="post-title">
														<a href="post-single.html">The Miracle of the Torah</a>
													</h6><!-- Post Title -->
													<ul class="post-meta">
														<li><i class="fa fa-clock-o"></i> October 30, 2016</li>
													</ul><!-- Post Meta -->
												</div><!-- Post Content -->
											</article><!-- Post -->
										</div><!-- Column -->
									</div><!-- Content -->
								</div><!-- Recommended Posts -->
								<div class="post-footer">
								
							</div><!-- Post Footer -->
						</article><!-- Post -->
					</div><!-- Blog posts -->
				</section><!-- Main -->
				<aside-directive></aside-directive>
			</div><!-- Row -->
		</div><!-- Container -->
	</section><!-- Main Area -->
</div>