<div class="wide home">
<section id="main-area">
  <h3 style="display: none;">Main Area</h3>
  <div class="container">
    <div class="row">
      <section id="main" class="main col-md-8">
        <h2 style="display: none;">Main</h2>
        <div class="blog-posts hfeed">
          <article class="post single-post">
            <div class="post-header">
              <!-- <div class="sharethis-inline-share-buttons"></div> -->
              <h1 class="post-title" style="margin-top:50px;">Services - Kaddish</h1><!-- Post Title -->
            </div><!-- Post Header -->
            <div class="post-thumb">
              <img src="images/services-kaddish.jpg" alt="Post Title Placeholder" />
            </div><!-- Post Image -->
            <div class="post-body">
              <br>
              <p style="text-align: justify; padding: 0 30 0 0px;">The sages say that when we leave this world we still have a chance to climb levels in Heaven. A couple of examples of this is through the impact we left on our family and the world or through giving donations in that person’s merit. The sages also explain that on the Yahrtzeit (aniversary of passing) of a loved one, the Holy Neshama (Soul) is experienced this world on a much stronger level and can achieve great climbs through the simple speaking of the powerful Aramaic prayer known as Kaddish.</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">Kaddish is unique for two reasons: As said, it is in Aramaic, which is the language angels do not know, making the prayer go directly to the Kisay HaKavod (Hashem’s Throng of Glory, so-to-speak). Secondly, although this powerful prayer is meant to elevate those who have passed, there is no reference to death, but rather only speaks words of praise about The Creator’s Greatness and Mercy.</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">We will say this powerful prayer known as Kaddish on the yahrzeit or following the passing of your beloved ones.</p>
              <form class="contact-form" method="POST" action="http://formspree.io/maynard@newoldroad.com">
                <div class="input-group">
                  <input type="hidden" name="_cc" value="chaim@emunah.com" />
                  <input type="hidden" name="_next" value="/templates/thanks.html" />
                  <br>
                  <h3>Duration:</h3>
                    <select name="duration">
                      <option value="$One Service - $18">One Service - $18 </option>
                      <option value="One Week - $110">One Week - $110 </option>
                      <option value="One Month - $360">One Month - $360 </option>
                      <option value="Full Year - $1800">Full Year - $1800 </option>
                    </select>
                      <!-- <label for="$36"><input type="radio" id="$36" name="donation">One Day - $36 </label>
                      <label for="$360"><input type="radio" id="$360" name="donation">40 Days - $360 </label>
                      <label for="$580"><input type="radio" id="$580" name="donation">40 days Ma´arat HaMachpela - $580 </label> -->
                  <br>
                  <br>
                  You Name <i>(Required)</i>:
                  <input type="name" name="name" placeholder="Your Name">
                  You Email <i>(Required)</i>:
                  <input type="email" name="email" placeholder="Your Email">
                  You Phone <i>(Optional)</i>:
                  <input type="phone" name="phone" placeholder="Your Phone (Optional)">
                  Please dedicate my service in someone's memory, honor or merit:
                  <textarea name="message" placeholder="Dedication (Optional)"></textarea>
                  <hr>
                  <input type="card" name="card" placeholder="Card Number">
                  <input type="cvc" name="cvc" placeholder="CVC Security Code">
                  <input type="expiration" name="expiration" placeholder="Expiration Date">
                </div>
                <div class="input-group">
                  <input type="submit" value="Send" class="bt btn-success">
                </div>
              </form>
            </div><!-- Post Body -->
            </article><!-- Post -->
          </div><!-- Blog posts -->
        </section><!-- Main -->
      <aside-directive></aside-directive>
      </div><!-- Row -->
    </div><!-- Container -->
  </section><!-- Main Area -->
</div>
