<div class="wide home">
<section id="main-area" class="service-main-area">
  <h3 style="display: none;">Main Area</h3>
  <div class="container">
    <div class="row">
      <service-nav-directive></service-nav-directive>
      <section id="main" class="main col-md-8 col-md-offset-4 service-main-container">
        <h2 style="display: none;">Main</h2>
        <div class="blog-posts hfeed">
          <article class="post single-post">
              <div class="service-header">
                <img src="images/emunahlogosmall.jpg" alt="emunah-logo">
                <h1 class="post-title">Services - Learning</h1>
              </div><!-- Post Title -->
            <div class="post-share" style="padding:4px">

                <!-- <span class="counter"><strong>24k</strong>Shares</span> -->
                <!-- AddToAny BEGIN -->
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                  <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                  <a class="a2a_button_facebook"></a>
                  <a class="a2a_button_twitter"></a>
                  <a class="a2a_button_google_plus"></a>
                  <a class="a2a_button_linkedin"></a>
                  <a class="a2a_button_whatsapp"></a>
                  <a class="a2a_button_email"></a>
                  <a class="a2a_button_copy_link"></a>
                </div>
                <script async src="https://static.addtoany.com/menu/page.js"></script>
                <!-- AddToAny END -->
                <!-- <ul>
 -->
                  <script>
                      function fbShare(url, title, descr, image, winWidth, winHeight) {
                          var winTop = (screen.height / 2) - (winHeight / 2);
                          var winLeft = (screen.width / 2) - (winWidth / 2);
                          
                      }
                  </script>
              
                </ul> 
              </div><!-- Post Share -->
            <div class="post-thumb">
              <img src="images/services-learning.jpg" alt="Post Title Placeholder" />
            </div><!-- Post Image -->
            <div class="post-body">
              <br>
              <p style="text-align: justify; padding: 0 30 0 0px;">In the Torah, there was an agreement made between Yakov’s sons, Issachar and Zevulun. Issachar would sit and learn Torah while Zevulun would earn a living for both of them and they would share the merit of Torah.</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">That agreement is still in place today. Meaning, if you cannot sit and learn Torah due to having to work all day, you can give a certain amount to support the Torah scholar. The Torah Scholar will learn for you and you will support his family. In this way, you share the merit of the Torah learning with him.</p>
              <form class="contact-form" method="POST" action="http://formspree.io/maynard@newoldroad.com">
                <div class="input-group">
                  <input type="hidden" name="_cc" value="chaim@emunah.com" />
                  <input type="hidden" name="_next" value="/templates/thanks.html" />
                  <h3>Duration:</h3>
                  <select name="duration">
                    <option value="kotel">One Month - $990</option>
                    <option value="rachel">Recurring - $990/month</option>
                  </select>
                  <br>
<!--                       <label for="$36"><input type="radio" id="$36" name="donation">One Day - $36 </label>
                      <label for="$360"><input type="radio" id="$360" name="donation">40 Days - $360 </label>
                      <label for="$580"><input type="radio" id="$580" name="donation">40 days Ma´arat HaMachpela - $580 </label> -->
                  <br>
                  <br>
                  You Name <i>(Required)</i>:
                  <input type="name" name="name" placeholder="Your Name">
                  You Email <i>(Required)</i>:
                  <input type="email" name="email" placeholder="Your Email">
                  You Phone <i>(Optional)</i>:
                  <input type="phone" name="phone" placeholder="Your Phone (Optional)">
                  Please dedicate my service in someone's memory, honor or merit:
                  <textarea name="message" placeholder="Dedication (Optional)"></textarea>
                  <hr>
                  <input type="card" name="card" placeholder="Card Number">
                  <input type="cvc" name="cvc" placeholder="CVC Security Code">
                  <input type="expiration" name="expiration" placeholder="Expiration Date">
                </div>
                <div class="input-group">
                  <input type="submit" value="Send" class="bt btn-success">
                </div>
              </form>
            </div><!-- Post Body -->
            </article><!-- Post -->
          </div><!-- Blog posts -->
        </section><!-- Main -->
      <!-- <smallaside-directive></smallaside-directive> -->
      </div><!-- Row -->
    </div><!-- Container -->
  </section><!-- Main Area -->
</div>
