<div class="wide home">
<section id="main-area">
  <h3 style="display: none;">Main Area</h3>
  <div class="container">
    <div class="row">
      <section id="main" class="main col-md-8">
        <h2 style="display: none;">Main</h2>
        <div class="blog-posts hfeed">
          <article class="post single-post">
            <div class="post-header">
              <!-- <div class="sharethis-inline-share-buttons"></div> -->
              <h1 class="post-title" style="margin-top:50px;">Services - Prayer</h1><!-- Post Title -->
            </div><!-- Post Header -->
            <div class="post-thumb">
              <img src="images/9.jpg" alt="Post Title Placeholder" />
            </div><!-- Post Image -->
            <div class="post-body">
              <br>
              <p style="text-align: justify; padding: 0 30 0 0px;">Prayer is our most valuable tool in this world. We see that the Patriarchs, Matriarchs, Moshe Rabbeinu and Kind David all overturned decrees through prayer. Hashem values your prayer anywhere, but nothing is more valuable than prayer in the Land of Israel close to these Tzaddikim. The famous stories of the Akeida of Yitzchak and Yakov’s Ladder amongst others all happened at the place where the Temple once stood and will be rebuilt (amen). Today the last remnant of the gateway to Heaven remains at the Kotel (Western Wall).</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">We will pray for you or your beloved ones at the Western Wall, the grave of Mother Rachel, one time or 40 days.</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">We will pray for you or your beloved ones at Ma’arat Hamechpela, one time or 40 days. It’s the grave of our ancestors Abraham and Sarah, Yitzchak and Rivka, Yaakov and Leah.</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">Achieve success for yourself or for a loved one by requesting prayer from one of these holy sites.</p>
              <!-- <div class="post-ad">
                <span>Advertisment</span>
                <a href="https://themeforest.net/user/infinyteam/portfolio?ref=infinyteam">
                  <img src="images/banner.jpg" alt="Banner Image Placeholder">
                </a>
              </div> -->
            </div><!-- Post Body -->
            </article><!-- Post -->
          </div><!-- Blog posts -->
        </section><!-- Main -->
      <aside-directive></aside-directive>
      </div><!-- Row -->
    </div><!-- Container -->
  </section><!-- Main Area -->
</div>
