<div class="wide home">
  <div id="wrapper">



    <section id="main-area">
      <div class="container">
        <div class="row">

          <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">Services</div>
              <div class="panel-body">
                <ul>
                  <li ng-repeat="thumb in thumbnails track by $index">
                    <a uisref="{{thumb.uiSref}}">{{thumb.caption}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <section id="main" class="main col-md-8" style="font-size:16px; border-right-color: transparent; border-left: solid #eee">
            <h1>Services</h1>
            <p>
              As the sages tell us, the actions we do in this world have a profound effect in heaven that can help not only those still
              living in this world and those who have gone to Olam Haba. While we know that there is no place without The
              Creator and The Creator is always attentive to us wherever we are, the sages also say that the power of the
              Land of Israel is far greater than any other place in the world.
            </p>

            <p style="margin-bottom:20px">The only problem is that if you live outside of Eretz Yisrael, you do not have immediate access to that special
              power. That is why the Emunah Team has decided to help those who are still living outside The Land by offering
              special services that will be performed in your merit or in the merit of a loved one.
            </p>

            <div class="row">
              <div class="col-sm-6 col-md-4" ng-repeat="thumb in thumbnails track by $index" ui-sref="{{thumb.uiSref}}">
                <div class="thumbnail">
                  <div class="img-container" style="height: 145px; overflow: hidden">
                    <img src="{{thumb.imgSrc}}" alt="{{thumb.caption}}" style="width: 100%">
                  </div>
                  <div class="caption" style="background: lightgrey; margin-top: 2px">
                    <h4>{{thumb.caption}}</h4>
                  </div>
                </div>
              </div>
            </div>

          </section>
          <!-- Main -->
          <!-- <smallaside-directive></smallaside-directive> -->
        </div>
        <!-- Row -->
      </div>
      <!-- Container -->
    </section>
    <!-- Main Area -->
  </div>
  <!-- Wrapper -->
</div>