<div class="wide home">
<section id="main-area">
  <h3 style="display: none;">Main Area</h3>
  <div class="container">
    <div class="row">
      <section id="main" class="main col-md-8">
        <h2 style="display: none;">Main</h2>
        <div class="blog-posts hfeed">
          <article class="post single-post">
            <div class="post-header">
              <!-- <div class="sharethis-inline-share-buttons"></div> -->
              <h1 class="post-title" style="margin-top:50px;">EMUNAH CENTER NEW YORK (ECNY)</h1><!-- Post Title -->
            </div><!-- Post Header -->
            <div class="post-thumb">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/G54k6I58XyQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div><!-- Post Image -->
            <div class="post-body">
              <br>
              <h4>GREAT NEWS FOR IN NEW YORK!</h4>
              <p style="text-align: justify; padding: 0 30 0 0px;">With God’s help we are excited to announce that we have opened the first U.S.-based Emunah Center in Queens, NY. The Center is located at 119-45 Union Turnpike, Suite 505 Forest Hills, NY 11375.</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">New York is the home of not only one of the biggest Jewish communities in the world, but is also a hub for people around the world. New York was created on the courage of individuals and families who were willing to risk their very lives in search of a better life. This is the perfect energy to build a center that focuses on helping people navigate the journey of becoming closer ti their True Purpose. Join us in our mission to make the world a smaller place through the light of human connection.</p>
              <h4>What is an Emunah Center?</h4>
              <p style="text-align: justify; padding: 0 30 0 0px;">An Emunah Center is a progressive work and learning center that will help individuals and communities alike to come closer to the Creator by finding The Truth within themselves. In other words, we help people realize their inner truth, waking them up to who they really are. At the same time, we provide them with the tools they need to succeed in their current or desired profession achieving their greater purpose in creation as the focal point.</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">We are also a program of higher learning that educates people in specific areas of study. We have several courses available in different spiritual and professional categories. Whether you are seeking to become an electrician, plumber or web designer, we will help you reach your goals in a way that also builds your character and connection to the Oneness of the universe. Our private educational center provides unique courses, and awards Certificates of Completion after they finish the course that will further their careers and purpose in life. We are excited to help you progress in your journey, live and in person, just as we have helped countless individuals from all walks of life, remotely using the web and social media all throughout the world for close to a decade.</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">Rav Dror Moshe Cassuoto founded the Emunah Center along with the Emunah Project, Inc. The Emunah Project is a global phenomenon with centers in Jerusalem, Israel, Bogota, Colombia, Queens, NY and soon in Los Angeles. We are looking to expand our reach, and God willing, we hop to establish another five Centers by the end of 2018.</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">Join the Emunah family today! Your donation helps us spread the light of faith to countless people around the world.</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">To book Rav Dror for a speaking engagement, private or public, please contact us – info@emunah.com</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">If you would like to give a one-time contribution, you are welcome to do so here.</p>
              <p style="text-align: justify; padding: 0 30 0 0px;">With your participation WE can make this happen!</p>
              <form class="contact-form" method="POST" action="http://formspree.io/maynard@newoldroad.com">
                <div class="input-group">
                  <input type="hidden" name="_cc" value="chaim@emunah.com" />
                  <input type="hidden" name="_next" value="/templates/thanks.html" />
                  <h3>Donation:</h3>
                  <select name="donation">
                    <option value="other">---</option>
                    <option value="$18">$18</option>
                    <option value="$36">$36 </option>
                    <option value="$72">$72</option>
                    <option value="$100">$100</option>
                    <option value="$180">$180</option>
                    <option value="$360">$360</option>
                    <option value="$1000">$1000</option>
                  </select>
                  <input type="other" name="other" placeholder="Other Amount">
                  <br>
                  <h3>Location:</h3>
                  <select name="location">
                    <option value="eci">ECI</option>
                    <option value="ecny">ECNY</option>
                    <option value="ecbc">ECBC</option>
                    <option value="ecla">ECLA</option>
                    <option value="echt">ECHT</option>
                  </select>
                  <br>
                  You Name <i>(Required)</i>:
                  <input type="name" name="name" placeholder="Your Name">
                  You Email <i>(Required)</i>:
                  <input type="email" name="email" placeholder="Your Email">
                  You Phone <i>(Optional)</i>:
                  <input type="phone" name="phone" placeholder="Your Phone (Optional)">
                  Please dedicate my service in someone's memory, honor or merit:
                  <textarea name="message" placeholder="Dedication (Optional)"></textarea>
                  <hr>
                  <input type="card" name="card" placeholder="Card Number">
                  <input type="cvc" name="cvc" placeholder="CVC Security Code">
                  <input type="expiration" name="expiration" placeholder="Expiration Date">
                </div>
                <div class="input-group">
                  <input type="submit" value="Send" class="bt btn-success">
                </div>
              </form>
            </div><!-- Post Body -->
            </article><!-- Post -->
          </div><!-- Blog posts -->
        </section><!-- Main -->
      <aside-directive></aside-directive>
      </div><!-- Row -->
    </div><!-- Container -->
  </section><!-- Main Area -->
</div>
