<div class="blog-layout layout-8" style="display: block; max-width: 80%; margin: 0 auto;">
  <div class="blog-title">
    <h2 style="margin-top:50px;">Emunah Centers Near You</h2>
  </div><!-- Blog title -->
  <div class="blog-wrapper row">
        <div class="col col-sm-12 thumbnail">
      <article class="post">
        <div class="post-thumb">
          <a ui-sref="ecny">
            <img class="lazy" src="images/ecny.jpg" data-src="images/22.jpg" alt="Post Title Placeholder" />
          </a>
        </div><!-- Post Image -->
        <div class="post-content">
          <h4 class="post-title">
            <a ui-sref="ecny">Emunah Center New York (ECNY)</a>
          </h4><!-- Post Title -->
          <ul class="post-meta">
<!--             <li><i class="fa fa-clock-o"></i> October 16, 2017</li>
            <li><i class="fa fa-comment-o"></i> 240</li> -->
          </ul><!-- Post Meta -->
          <p class="post-entry">New York is the home of not only one of the biggest Jewish communities in the world, but is also a hub for people around the world. New York was created on the courage of individuals and families who were willing to risk their very lives in search of a better life. This is the perfect energy to build a center that focuses on helping people navigate the journey of becoming closer to their True Purpose. Join us in our mission to make the world a smaller place through the light of human connection.</p><!-- Post Entry -->
        </div><!-- Post Content -->
      </article><!-- Post -->
    </div><!-- Column -->
    <div class="col col-sm-12 thumbnail">
      <article class="post">
        <div class="post-thumb">
          <a ui-sref="eci">
            <img class="lazy" src="images/eci3.jpg" data-src="images/eci3.jpg" alt="Post Title Placeholder" />
          </a>
        </div><!-- Post Image -->
        <div class="post-content">
          <h4 class="post-title">
            <a ui-sref="eci">Emunah Center Israel (ECI)</a>
          </h4><!-- Post Title -->
          <ul class="post-meta">
<!--             <li><i class="fa fa-clock-o"></i> October 16, 2017</li>
            <li><i class="fa fa-comment-o"></i> 240</li> -->
          </ul><!-- Post Meta -->
          <p class="post-entry">Jerusalem is the root of the Emunah Project and the site of the very first Emunah Center. The light of Israel is spreading to the entire world making this Emunah Center a special place of learning. Join us in the source of it all and help learn Emunah without losing sight of the Truth.</p><!-- Post Entry -->
        </div><!-- Post Content -->
      </article><!-- Post -->
    </div><!-- Column -->
    <div class="col col-sm-12 thumbnail">
      <article class="post">
        <div class="post-thumb">
          <a ui-sref="ecbc">
            <img class="lazy" src="images/ecbc2.jpg" data-src="images/6.jpg" alt="Post Title Placeholder" />
          </a>
        </div><!-- Post Image -->
        <div class="post-content">
          <h4 class="post-title">
            <a ui-sref="ecbc">Emunah Center Bogota Colombia (ECBC)</a>
          </h4><!-- Post Title -->
          <ul class="post-meta">
<!--             <li><i class="fa fa-clock-o"></i> October 16, 2017</li>
            <li><i class="fa fa-comment-o"></i> 240</li> -->
          </ul><!-- Post Meta -->
          <p class="post-entry">ECBC is the first and only Emunah Center outside of the US and Israel. In fact, it was only the second center overall. The community has been growing and thriving by learning the light of emunah. Join us in our mission to connect to who we really are.</p><!-- Post Entry -->
        </div><!-- Post Content -->
      </article><!-- Post -->
    </div><!-- Column -->
    <div class="col col-sm-12 thumbnail">
      <article class="post">
        <div class="post-thumb">
          <a ui-sref="ecla">
            <img class="lazy" src="images/ecla.jpg" data-src="images/9.jpg" alt="Post Title Placeholder" />
          </a>
        </div><!-- Post Image -->
        <div class="post-content">
          <h4 class="post-title">
            <a ui-sref="ecla">Emunah Center Los Angeles (ECLA)</a>
          </h4><!-- Post Title -->
          <ul class="post-meta">
            <!-- <li><i class="fa fa-clock-o"></i> October 16, 2017</li>
            <li><i class="fa fa-comment-o"></i> 240</li> -->
          </ul><!-- Post Meta -->
          <p class="post-entry">Los Angeles not only has a diverse Jewish community, it is a hub of creativity and influence. LA is known for it’s often open-minded approach to spirituality, ensuring that Rav Dror’s words from the heart are sure to connect with the hearts of those seeking for the Truth. Join us in uplifting the LA area from the South Bay to The Valley and everywhere in between.</p><!-- Post Entry -->
        </div><!-- Post Content -->
      </article><!-- Post -->
    </div><!-- Column -->
    <div class="col col-sm-12 thumbnail">
      <article class="post">
        <div class="post-thumb">
          <a ui-sref="echt">
            <img class="lazy" src="images/echt2.jpg" data-src="images/11.jpg" alt="Post Title Placeholder" />
          </a>
        </div><!-- Post Image -->
        <div class="post-content">
          <h4 class="post-title">
            <a ui-sref="echt">Emunah Center Humble Texas (ECHT)</a>
          </h4><!-- Post Title -->
          <ul class="post-meta">
            <!-- <li><i class="fa fa-clock-o"></i> October 16, 2017</li>
            <li><i class="fa fa-comment-o"></i> 240</li> -->
          </ul><!-- Post Meta -->
          <p class="post-entry">Rav Dror has experience in Humble, Texas and it holds a special place in his heart. Following the devastation of Hurricance Harvey, Rav Dror is committed to helping the community not only financially, but also spiritually. Now is the time to act and Humble is an important place to grow. Join us in our goal to rebuild a shaken, yet resilient community.</p><!-- Post Entry -->
        </div><!-- Post Content -->
      </article><!-- Post -->
    </div><!-- Column -->
  </div><!-- Blog Wrapper -->
</div><!-- Blog Layout -->
